mock-example/src/main/webapp/WEB-INF/data/BBMO/xsd/SrvRegisterLegalPersonAccountOperationApplicationRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/prpc/bbmo/10/SrvRegisterLegalPersonApplicationRq/Data/"
            xmlns:tns="http://sbrf.ru/prpc/bbmo/10/SrvRegisterLegalPersonApplicationRq/Data/"
            xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
            xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10"
            xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/prpc/bbmo/10/SrvRegisterLegalPersonApplicationRq/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10"
               schemaLocation="../../../xsd/BBMO/./commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
               schemaLocation="../../../xsd/BBMO/./commonTypes/simpleTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10"
               schemaLocation="../../../xsd/BBMO/./commonTypes/commonTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence xmlns="">
         <xsd:element name="KD4SoapHeaderV2" type="dt:String" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AsyncHeader">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Уникальный идентификатор сообщения, передаваемого в рамках SOAP-пакета</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Системное время при отправке сообщения АС-отправителем с учетом временной зоны</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор корреляции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы инициатора запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="system-id"
                               type="st:SystemName_Type"
                               minOccurs="0"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы получателя запроса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Название операции вызываемого сервиса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Версия операции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Полное ФИО пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="proc-inst-tb" type="st:TB_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Код ТБ</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:any namespace="##other"
                           processContents="lax"
                           minOccurs="0"
                           maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Точка расширения заголовка (не используется, добавлено на персективу)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:any>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="request"
                      type="tns:SrvRegisterLegalPersonApplicationRq"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SrvRegisterLegalPersonApplicationRq">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
         <xsd:element name="ExtensionData" minOccurs="0" type="tns:ExtensionData"/>
         <xsd:element name="LegalPersonApplication" type="tns:LegalPersonApplication">
            <xsd:annotation>
               <xsd:documentation>Заявление юридического лица</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="LegalPersonApplication">
      <xsd:annotation>
         <xsd:documentation>Заявление юридического лица</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ApplicationId" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>ID заявления (не используется, добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OperationType" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Тип операции (не используется, добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientId" minOccurs="0" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>ID клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxId" type="st:TaxId_Type">
            <xsd:annotation>
               <xsd:documentation>ИНН Клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CustomerFullName" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Полное наименование клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BankSubdivision" type="tns:BankSubdivision">
            <xsd:annotation>
               <xsd:documentation>Подразделение
Справочник подразделений Банка</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InitDate" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата инициации заявления</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementIdentifier" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Идентификатор договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementNumber" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Номер договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MainAccountNumber" minOccurs="0" type="st:AccountNumber_Type">
            <xsd:annotation>
               <xsd:documentation>Номер основного счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxRegReasonCode"
                      minOccurs="0"
                      type="st:TaxRegReasonCode_Type">
            <xsd:annotation>
               <xsd:documentation>КПП клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BarCode" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Штрих-код</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BankSubdivision">
      <xsd:annotation>
         <xsd:documentation>Подразделение банка</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="TB" type="st:TB_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ТБ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OSB" type="st:OSB_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ОСБ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="VSP" type="st:VSP_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ВСП</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExtensionData">
      <xsd:annotation>
         <xsd:documentation>Точка расширения ответа (не используется, добавлено на перспективу)</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:any namespace="##any"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
