mock-example/src/test/resources/wsdl/FrWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://sbrf.ru/prpc/finrep/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sbrf.ru/prpc/finrep/10" name="FrWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://sbrf.ru/prpc/finrep/10"
                        schemaLocation="FrWebService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getParticipantFactors">
        <part name="getParticipantFactorsReq" type="tns:GetParticipantFactorsReq"></part>
    </message>
    <message name="getParticipantFactorsResponse">
        <part name="getParticipantFactorsResp" type="tns:GetParticipantFactorsResp"></part>
    </message>
    <message name="getGCFactors">
        <part name="getGCFactorsReq" type="tns:GetGCFactorsReq"></part>
    </message>
    <message name="getGCFactorsResponse">
        <part name="GetGCFactorsResp" type="tns:GetGCFactorsResp"></part>
    </message>
    <message name="getProjectFactors">
        <part name="getProjectFactorsReq" type="tns:GetProjectFactorsReq"></part>
    </message>
    <message name="getProjectFactorsResponse">
        <part name="GetProjectFactorsResp" type="tns:GetProjectFactorsResp"></part>
    </message>
    <portType name="FrWebService">
        <operation name="getParticipantFactors">
            <input wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getParticipantFactorsRequest"
                   message="tns:getParticipantFactors"></input>
            <output wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getParticipantFactorsResponse"
                    message="tns:getParticipantFactorsResponse"></output>
        </operation>
        <operation name="getGCFactors">
            <input wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getGCFactorsRequest"
                   message="tns:getGCFactors"></input>
            <output wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getGCFactorsResponse"
                    message="tns:getGCFactorsResponse"></output>
        </operation>
        <operation name="getProjectFactors">
            <input wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getProjectFactorsRequest"
                   message="tns:getProjectFactors"></input>
            <output wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getProjectFactorsResponse"
                    message="tns:getProjectFactorsResponse"></output>
        </operation>
    </portType>
    <binding name="FrWebServicePortBinding" type="tns:FrWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
        <operation name="getParticipantFactors">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </output>
        </operation>
        <operation name="getGCFactors">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </output>
        </operation>
        <operation name="getProjectFactors">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="FrWebService">
        <port name="FrWebServicePort" binding="tns:FrWebServicePortBinding">
            <soap:address location="http://izar9.cgs.sbrf.ru:9080/frweb/service"></soap:address>
        </port>
    </service>
</definitions>