mock-example/src/test/resources/wsdl/FrWebServicePort.wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://sbrf.ru/prpc/finrep/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FrWebService"
             targetNamespace="http://sbrf.ru/prpc/finrep/10">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://sbrf.ru/prpc/finrep/10" schemaLocation="FrWebService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getParticipantFactors">
        <part name="getParticipantFactorsReq" type="tns:GetParticipantFactorsReq"/>
    </message>
    <message name="getParticipantFactorsResponse">
        <part name="getParticipantFactorsResp" type="tns:GetParticipantFactorsResp"/>
    </message>
    <message name="getGCFactors">
        <part name="getGCFactorsReq" type="tns:GetGCFactorsReq"/>
    </message>
    <message name="getGCFactorsResponse">
        <part name="GetGCFactorsResp" type="tns:GetGCFactorsResp"/>
    </message>
    <message name="getProjectFactors">
        <part name="getProjectFactorsReq" type="tns:GetProjectFactorsReq"/>
    </message>
    <message name="getProjectFactorsResponse">
        <part name="GetProjectFactorsResp" type="tns:GetProjectFactorsResp"/>
    </message>
    <portType name="FrWebService">
        <operation name="getParticipantFactors">
            <input message="tns:getParticipantFactors"
                   wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getParticipantFactorsRequest"/>
            <output message="tns:getParticipantFactorsResponse"
                    wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getParticipantFactorsResponse"/>
        </operation>
        <operation name="getGCFactors">
            <input message="tns:getGCFactors"
                   wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getGCFactorsRequest"/>
            <output message="tns:getGCFactorsResponse"
                    wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getGCFactorsResponse"/>
        </operation>
        <operation name="getProjectFactors">
            <input message="tns:getProjectFactors"
                   wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getProjectFactorsRequest"/>
            <output message="tns:getProjectFactorsResponse"
                    wsam:Action="http://sbrf.ru/prpc/finrep/10/FrWebService/getProjectFactorsResponse"/>
        </operation>
    </portType>
    <binding name="FrWebServicePortBinding" type="tns:FrWebService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getParticipantFactors">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </output>
        </operation>
        <operation name="getGCFactors">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </output>
        </operation>
        <operation name="getProjectFactors">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://sbrf.ru/prpc/finrep/10"/>
            </output>
        </operation>
    </binding>
    <service name="FrWebService">
        <port name="FrWebServicePort" binding="tns:FrWebServicePortBinding">
            <soap:address location="http://10.67.17.190:9003/FrWebService-context-root/FrWebServicePort"/>
        </port>
    </service>
</definitions>