mock-example/src/main/webapp/WEB-INF/xsd/CBBOL/BBMOOperationElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Виктор Стариков (SBT) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10" xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10" xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10" xmlns:tns="http://sbrf.ru/prpc/bbmo/10" targetNamespace="http://sbrf.ru/prpc/bbmo/10" elementFormDefault="qualified">
	<import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10" schemaLocation="./commonTypes/dataTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10" schemaLocation="./commonTypes/simpleTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10" schemaLocation="./commonTypes/commonTypes.xsd"/>
	<include schemaLocation="./domainTypes/TransactionPassportTypes.xsd"/>
	<include schemaLocation="./domainTypes/NaturalPersonApplicationTypes.xsd"/>
	<include schemaLocation="./domainTypes/LegalPersonApplicationTypes.xsd"/>
	<include schemaLocation="./domainTypes/ExchangeControlTypes.xsd"/>
	<include schemaLocation="./domainTypes/ClientReferenceDataTypes.xsd"/>
	<include schemaLocation="./domainTypes/CommonStructureTypes.xsd"/>
	<include schemaLocation="./domainTypes/DocumentsInfo.xsd"/>
	<!-- Enterprise level operations from Sberbank-Int-ESB-->
	<element name="SrvRegisterTransactionPassportRq">
		<annotation>
			<documentation>Запрос на оформление паспорта сделки</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:TransactionPassportAndEGRUL">
							<annotation>
								<documentation>Паспорт сделки/ЕГРЮЛ</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterTransactionPassportRs">
		<annotation>
			<documentation>Результат оформления паспорта сделки</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:TransactionPassportAttrs" minOccurs="0">
							<annotation>
								<documentation>Атрибуты оформленного (переоформленного) паспорта сделки</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetExchangeControlDocumentInformationRq">
		<annotation>
			<documentation>Запрос на получение информации по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
							<annotation>
								<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element ref="tns:BankSubdivision" minOccurs="0">
							<annotation>
								<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
							<annotation>
								<documentation>ИНН клиента</documentation>
							</annotation>
						</element>
						<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
							<annotation>
								<documentation>КПП клиента</documentation>
							</annotation>
						</element>
						<element name="DocumentKind">
							<annotation>
								<documentation>Вид документа
Принимает значения:
1 – Паспорт сделки
2 – СоВО с ПС
3 – СоВО без ПС
4 – СоПВРФ
5 – СоПД
6 – СоРЧСЗР
7 – ЕГРЮЛ</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
									<enumeration value="4"/>
									<enumeration value="5"/>
									<enumeration value="6"/>
									<enumeration value="7"/>
								</restriction>
							</simpleType>
						</element>
						<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
							<annotation>
								<documentation>Номер паспорта сделки</documentation>
							</annotation>
						</element>
						<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
							<annotation>
								<documentation>Номер счета</documentation>
							</annotation>
						</element>
						<element name="CurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
							<annotation>
								<documentation>Код валюты счета</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetExchangeControlDocumentInformationRs">
		<annotation>
			<documentation>Результат получения информации по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:ExchangeControlDocumentInformation" minOccurs="0">
							<annotation>
								<documentation>Информация по документам ВК</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvAddExchangeControlDocumentRq">
		<annotation>
			<documentation>Запрос на добавление документа валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:ExchangeControlDocument">
							<annotation>
								<documentation>Документ валютного контроля</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvAddExchangeControlDocumentRs">
		<annotation>
			<documentation>Результат добавления документа валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientReferenceDataRq">
		<annotation>
			<documentation>Запрос на получение справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="ClientId" type="dt:PosInteger" minOccurs="0">
							<annotation>
								<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element ref="tns:BankSubdivision" minOccurs="0">
							<annotation>
								<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
							<annotation>
								<documentation>ИНН клиента</documentation>
							</annotation>
						</element>
						<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
							<annotation>
								<documentation>КПП клиента</documentation>
							</annotation>
						</element>
						<element name="AgreementIdentifier" type="dt:DefString" minOccurs="0">
							<annotation>
								<documentation>Идентификатор договора</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientReferenceDataRs">
		<annotation>
			<documentation>Результат получения справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:ClientReferenceData" minOccurs="0">
							<annotation>
								<documentation>Справочные данные клиента</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientAccountsForComissionRq">
		<annotation>
			<documentation>Запрос на получение списка счетов клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="ClientId" type="dt:PosInteger" minOccurs="0">
							<annotation>
								<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element ref="tns:BankSubdivision" minOccurs="0">
							<annotation>
								<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
							<annotation>
								<documentation>ИНН клиента</documentation>
							</annotation>
						</element>
						<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
							<annotation>
								<documentation>КПП клиента</documentation>
							</annotation>
						</element>
						<element name="AgreementIdentifier" type="dt:DefString" minOccurs="0">
							<annotation>
								<documentation>Идентификатор договора</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientAccountsForComissionRs">
		<annotation>
			<documentation>Результат получения списка счетов клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence minOccurs="0">
						<element ref="tns:ClientAccount" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvUpdateClientReferenceDataRq">
		<annotation>
			<documentation>Запрос на изменение справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="UpdateType">
							<annotation>
								<documentation>Тип загрузки
1 – Загрузить
2 – Обновить
3 – Изменить
Зарезервировано. В данной версии не используется.</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
								</restriction>
							</simpleType>
						</element>
						<element name="ChangeType">
							<annotation>
								<documentation>Тип изменения
1 – Изменение данных клиента
2 – Внесение измене-ний в юр. дело</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
								</restriction>
							</simpleType>
						</element>
						<element name="ChangeSubject" type="dt:DefString" minOccurs="0">
							<annotation>
								<documentation>Содержание изменения</documentation>
							</annotation>
						</element>
						<element name="VSPCommissionPayment" type="dt:Boolean" minOccurs="0">
							<annotation>
								<documentation>Признак взятия комиссии в ВСП</documentation>
							</annotation>
						</element>
						<element ref="tns:ClientReferenceData">
							<annotation>
								<documentation>Справочные данные клиента</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvUpdateClientReferenceDataRs">
		<annotation>
			<documentation>Результат изменения справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvPermitAccountChargeOperationRq">
		<annotation>
			<documentation>Запрос на разрешение проведения расходных операций</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:BankSubdivision">
							<annotation>
								<documentation>Подразделение
Справочник подразделений Банка</documentation>
							</annotation>
						</element>
						<element name="AccountNumber">
							<annotation>
								<documentation>
                                    Номер расчетного счета. Опционально (через символ "|") указывается тип операции:
                                        0-заблокировать,
                                        1-разблокировать.
                                </documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:String">
									<pattern value=".{20}(\|[01]{1}|.{0})"/>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvPermitAccountChargeOperationRs">
		<annotation>
			<documentation>Результат разрешения проведения расходных операций</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendSystemMessageRs">
		<annotation>
			<documentation>Результат передачи системного сообщения об ошибке</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<!-- Framework level operations from Sberbank-FW-BBMO-Int-ESB-->
	<element name="SrvRegisterLegalPersonApplicationRq">
		<annotation>
			<documentation>Запрос на регистрацию заявления юридического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:LegalPersonApplication">
							<annotation>
								<documentation>Заявление юридического лица</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterLegalPersonApplicationRs">
		<annotation>
			<documentation>Результат регистрации заявления юридического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для выбора и инициализации конкретного процесса обработки заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterNaturalPersonCompensationApplicationRq">
		<annotation>
			<documentation>Запрос на регистрацию заявления физического лица на компенсацию</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonCompesationApplication">
							<annotation>
								<documentation>Заявление физического лица на компенсацию</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterNaturalPersonCompensationApplicationRs">
		<annotation>
			<documentation>Результат регистрации заявления физического лица на компенсацию</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для сканирования документов</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationForCBDFProcessingRq">
		<annotation>
			<documentation>Запрос на передачу заявления на обработку в ЦБДФ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonCompesationApplication">
							<annotation>
								<documentation>Заявление физического лица на компенсацию</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationForCBDFProcessingRs">
		<annotation>
			<documentation>Результат передачи заявления на обработку в ЦБДФ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="ApplicationId" type="st:ApplicationId_Type" minOccurs="0">
							<annotation>
								<documentation>ID заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationProcessingURLRq">
		<annotation>
			<documentation>Запрос на передачу URL задания обработки заявления</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="ApplicationId" type="st:ApplicationId_Type">
							<annotation>
								<documentation>ID заявления</documentation>
							</annotation>
						</element>
						<element name="URLType">
							<annotation>
								<documentation>Тип URL
1 – «Экран просмотра пакета документов»
2 – «Экран просмотра истории обработки заявления»
3 – «Экран просмотра списка задач»
7 - «Направление в ВСП (на добор/пересканирование)»
9 - «Инициация добора пакета»
11 - «Направление на согласование»
                                </documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
									<enumeration value="7"/>
									<enumeration value="9"/>
									<enumeration value="11"/>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationProcessingURLRs">
		<annotation>
			<documentation>Результат передачи URL задания обработки заявления</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationCreationByOriginMessageRq">
		<annotation>
			<documentation>Запрос на передачу сообщения о создании заявления физического лица на основании первоисточника</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonApplicationState">
							<annotation>
								<documentation>Состояние нового заявления</documentation>
							</annotation>
						</element>
						<element name="PrimaryApplicationId" type="st:ApplicationId_Type">
							<annotation>
								<documentation>ID заявления-первоисточника</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationStateChangeMessageRq">
		<annotation>
			<documentation>Запрос на изменение состояния заявления физического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonApplicationState">
							<annotation>
								<documentation>Состояние заявления</documentation>
							</annotation>
						</element>
						<element name="PackageId" type="st:PackageId_Type" minOccurs="0">
							<annotation>
								<documentation>ID пакета</documentation>
							</annotation>
						</element>
						<element name="TB" type="st:TB_Type" minOccurs="0">
							<annotation>
								<documentation>Номер ТБ</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationStateChangeMessageRs">
		<annotation>
			<documentation>Результат изменения состояния заявления физического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для выбора и инициализации конкретного процесса обработки заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>







	<element name="SrvPutRemoteLegalAccOperAppRq">
		<annotation>
			<documentation>Запрос на создание задачи на открытие счета по запросу СББОЛ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="RemoteClient" type="dt:Boolean" minOccurs="0">
					        <annotation>
						        <documentation>Признак удалённого создания клиента</documentation>
					        </annotation>
				        </element>
				        <element name="RemoteSystemId" type="dt:String" minOccurs="0">
					        <annotation>
						        <documentation>Система источник запрос в ЕКС</documentation>
					        </annotation>
				        </element>
				        <element name="IsAdditionalAccount" type="dt:Boolean" minOccurs="0">
					        <annotation>
						        <documentation>Признак дополнительного или основного счета</documentation>
					        </annotation>
				        </element>
						<element ref="tns:ClientReferenceData">
							<annotation>
								<documentation>Справочные данные клиента</documentation>
							</annotation>
						</element>
						<element ref="tns:LegalPersonApplication">
							<annotation>
								<documentation>Заявление юридического лица</documentation>
							</annotation>
						</element>
						<element ref="tns:DocumentsInfo">
							<annotation>
								<documentation>Информация по каталогу документов</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	
	
	<element name="SrvPutRemoteLegalAccOperAppRs">
		<annotation>
			<documentation>Результат создания задачи на открытие счета по запросу СББОЛ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>



</schema>
