mock-example/src/main/webapp/WEB-INF/in/NCP/FinRep/ImportRatingResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:frct="http://sbrf.ru/NCP/FinRep/CommonTypes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://sbrf.ru/NCP/FinRep/ImportRatingRs/1.03/" targetNamespace="http://sbrf.ru/NCP/FinRep/ImportRatingRs/1.03/"
    elementFormDefault="qualified">
    <xsd:import namespace="http://sbrf.ru/NCP/FinRep/CommonTypes/" schemaLocation="CommonTypes.xsd" />
    <xsd:complexType name="Employee">
        <xsd:sequence>
            <xsd:element name="login" type="frct:string50" />
            <xsd:element name="lastName" type="frct:string50" />
            <xsd:element name="firstName" type="frct:string50" />
            <xsd:element name="middleName" type="frct:string50" minOccurs="0" />
            <xsd:element name="division" type="frct:string50" />
            <xsd:element name="divisionCode" type="frct:string50" />
            <xsd:element name="jobTitle" type="frct:string300" minOccurs="0" />
            <xsd:element name="role" type="frct:string30" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingAjustment">
        <xsd:sequence>
            <xsd:element name="ajustmentDate" type="xsd:dateTime" />
            <xsd:element name="ajustedValue" type="xsd:int" />
            <xsd:element name="ajustmetReason" type="frct:string250" />
            <xsd:element name="comments" type="frct:string255" minOccurs="0" />
            <xsd:element name="status" type="frct:string30" />
            <xsd:element name="employeeForAjustment" type="tns:Employee" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingAjustment">
        <xsd:sequence>
            <xsd:element name="ratingAjustment" type="tns:RatingAjustment" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>


	<xsd:complexType name="AddParameter">
		<xsd:sequence>
			<xsd:element name="order" type="xsd:int"/>
			<xsd:element name="name"  type="frct:string255"/>
			<xsd:element name="value" type="frct:string255"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfAddParameter">
		<xsd:sequence>
			<xsd:element name="addParameter" type="tns:AddParameter" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="CalculatedFactor">
        <xsd:sequence>
            <xsd:element name="code" type="frct:string30" />
            <xsd:element name="name" type="frct:string255" />
            <xsd:element name="value" type="frct:string255" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfCalculatedFactor">
        <xsd:sequence>
            <xsd:element name="calculatedFactor" type="tns:CalculatedFactor" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResultRating">
        <xsd:sequence>
            <xsd:element name="isPrimary" type="xsd:boolean" />
            <xsd:element name="name" type="frct:string255" />
            <xsd:element name="value" type="xsd:int" />
            <xsd:element name="type" type="frct:string30" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfResultRating">
        <xsd:sequence>
            <xsd:element name="resultRating" type="tns:ResultRating" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CardinalFactor">
        <xsd:sequence>
            <xsd:element name="factor" type="frct:string255" />
            <xsd:element name="factorIntegrationId" type="frct:string30" />
            <xsd:element name="group" type="frct:string30" />
            <xsd:element name="numValue" type="xsd:double" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfCardinalFactor">
        <xsd:sequence>
            <xsd:element name="cardinalFactor" type="tns:CardinalFactor" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingPeriod">
        <xsd:sequence>
            <xsd:element name="reportDate" type="xsd:date" minOccurs="0" />
            <xsd:element name="period" type="frct:string50" minOccurs="0" />
            <xsd:element name="startDate" type="xsd:date" minOccurs="0" />
            <xsd:element name="endDate" type="xsd:date" minOccurs="0" />
            <xsd:element name="type" type="frct:string30" minOccurs="0" />
            <xsd:element name="comments" type="frct:string255" minOccurs="0" />
            <xsd:element name="listOfCardinalFactor" type="tns:ListOfCardinalFactor" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingPeriod">
        <xsd:sequence>
            <xsd:element name="ratingPeriod" type="tns:RatingPeriod" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SupportFactor">
        <xsd:sequence>
            <xsd:element name="factor" type="frct:string255" />
            <xsd:element name="factorIntegrationId" type="frct:string30" />
            <xsd:element name="group" type="frct:string30" />
            <xsd:element name="value" type="frct:string255" minOccurs="0" />
            <xsd:element name="valueIntegrationId" type="frct:string30" minOccurs="0" />
            <xsd:element name="freeValue" type="frct:string255" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfSupportFactor">
        <xsd:sequence>
            <xsd:element name="supportFactor" type="tns:SupportFactor" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingSupport">
        <xsd:sequence>
            <xsd:element name="name" type="frct:string130" />
            <xsd:element name="integrationId" type="frct:string30" />
            <xsd:element name="listOfSupportFactor" type="tns:ListOfSupportFactor" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingSupport">
        <xsd:sequence>
            <xsd:element name="ratingSupport" type="tns:RatingSupport" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FixedFactor">
        <xsd:sequence>
            <xsd:element name="factor" type="frct:string255" />
            <xsd:element name="factorIntegrationId" type="frct:string30" />
            <xsd:element name="group" type="frct:string30" />
            <xsd:element name="value" type="frct:string1024" minOccurs="0" />
            <xsd:element name="valueIntegrationId" type="frct:string30" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfFixedFactor">
        <xsd:sequence>
            <xsd:element name="fixedFactor" type="tns:FixedFactor" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingCalc">
        <xsd:sequence>
            <xsd:element name="ratingCalcId" type="frct:string15" />
            <xsd:element name="modelName" type="frct:string100" />
            <xsd:element name="modelIntegrationId" type="frct:string30" />
            <xsd:element name="dateCalc" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="calcValue" type="xsd:int" minOccurs="0" />
            <xsd:element name="listOfRatingAjustment" type="tns:ListOfRatingAjustment" minOccurs="0" />
            <xsd:element name="employeeForCalc" type="tns:Employee" minOccurs="0" />
            <xsd:element name="listOfResultRating" type="tns:ListOfResultRating" minOccurs="0" />
            <xsd:element name="listOfCalculatedFactor" type="tns:ListOfCalculatedFactor" minOccurs="0" />
            <xsd:element name="listOfAddParameter" type="tns:ListOfAddParameter" minOccurs="0" />
            <xsd:element name="listOfFixedFactor" type="tns:ListOfFixedFactor" minOccurs="0" />
            <xsd:element name="listOfRatingPeriod" type="tns:ListOfRatingPeriod" minOccurs="0" />
            <xsd:element name="listOfRatingSupport" type="tns:ListOfRatingSupport" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingCalc">
        <xsd:sequence>
            <xsd:element name="ratingCalc" type="tns:RatingCalc" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Rating">
        <xsd:sequence>
            <xsd:element name="ratingId" type="frct:string15" />
            <xsd:element name="finalRatingValue" type="xsd:int" minOccurs="0" />
            <xsd:element name="intermediateRatingValue" type="xsd:int" minOccurs="0" />
            <xsd:element name="ajustedRatingValue" type="xsd:int" minOccurs="0" />
            <xsd:element name="pd" type="xsd:decimal" minOccurs="0" />
            <xsd:element name="status" type="frct:string15" />
            <xsd:element name="approvalDate" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="calculationDate" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="ajustmentDate" type="xsd:dateTime" minOccurs="0" />
            <xsd:element name="modelName" type="frct:string100" minOccurs="0"/>
            <xsd:element name="modelIntegrationId" type="frct:string30" minOccurs="0"/>
            <xsd:element name="ratingName" type="frct:string255" minOccurs="0"/>
            <xsd:element name="ratingType" type="frct:string30" minOccurs="0"/>
            <xsd:element name="employeeForApprove" type="tns:Employee" minOccurs="0"/>
            <xsd:element name="listOfRatingCalc" type="tns:ListOfRatingCalc" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRating">
        <xsd:sequence>
            <xsd:element name="rating" type="tns:Rating" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ImportRatingResponse">
        <xsd:sequence>
            <xsd:element name="dealId" type="frct:string15" />
            <xsd:element name="entityType" type="frct:string30" />
            <xsd:element name="entityId" type="frct:string15" />
            <xsd:element name="errorCode" type="frct:string30" />
            <xsd:element name="errorMessage" minOccurs="0" type="frct:string2000" />
            <xsd:element name="listOfRating" type="tns:ListOfRating" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
