mock-example/src/main/webapp/WEB-INF/xsd/FinRep/FrWebService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xsd:schema xmlns:tns="http://sbrf.ru/prpc/finrep/10" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sbrf.ru/prpc/finrep/10">

    <xsd:complexType name="GetProjectFactorsReq">
        <xsd:sequence>
            <xsd:element name="RequestId" type="xsd:string"></xsd:element>
            <xsd:element name="DealId" type="xsd:string"></xsd:element>
            <xsd:element name="Project" type="tns:ProjectRef"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProjectRef">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetProjectFactorsResp">
        <xsd:sequence>
            <xsd:element name="ListOfSystemErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Project" type="tns:ProjectFactorsResponse"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Error">
        <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
            <xsd:element name="ErrorMessage" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProjectFactorsResponse">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocuments"></xsd:element>
            <xsd:element name="ListOfFixedFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FixedFactor" type="tns:FixedFactor" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingPeriod">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingPeriod" type="tns:RatingPeriod" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingSupport">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingSupport" type="tns:RatingSupport" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfDocuments">
        <xsd:sequence>
            <xsd:element name="Document" type="tns:Document" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Document">
        <xsd:sequence>
            <xsd:element name="DocumentId" type="xsd:long"></xsd:element>
            <xsd:element name="ApprovalDate" type="xsd:date"></xsd:element>
            <xsd:element name="ApprovalPerson" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FixedFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="Value" type="xsd:string"></xsd:element>
            <xsd:element name="ValueIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfDocumentRefs">
        <xsd:sequence>
            <xsd:element name="Document" type="tns:DocumentRef" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentRef">
        <xsd:sequence>
            <xsd:element name="DocumentId" type="xsd:long"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RatingPeriod">
        <xsd:sequence>
            <xsd:element name="ReportDate" type="xsd:date"></xsd:element>
            <xsd:element name="Period" type="xsd:string"></xsd:element>
            <xsd:element name="StartDate" type="xsd:date"></xsd:element>
            <xsd:element name="EndDate" type="xsd:date"></xsd:element>
            <xsd:element name="PeriodType" type="xsd:string"></xsd:element>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfCardinalFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CardinalFactor" type="tns:CardinalFactor" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CardinalFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="NumValue" type="xsd:double"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RatingSupport">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"></xsd:element>
            <xsd:element name="IntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfSupportFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SupportFactor" type="tns:SupportFactor" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SupportFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="Value" type="xsd:string"></xsd:element>
            <xsd:element name="ValueIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="FreeValue" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetGCFactorsReq">
        <xsd:sequence>
            <xsd:element name="RequestId" type="xsd:string"></xsd:element>
            <xsd:element name="DealId" type="xsd:string"></xsd:element>
            <xsd:element name="ConsolidatedGroupRef" type="tns:ConsolidatedGroupRef"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ConsolidatedGroupRef">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfParticipants" type="tns:ListOfParticipantsRef"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfParticipantsRef">
        <xsd:sequence>
            <xsd:element name="Participant" type="tns:ParticipantRef" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ParticipantRef">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetGCFactorsResp">
        <xsd:sequence>
            <xsd:element name="ListOfSystemErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsolidatedGroup" type="tns:GCFactorsResponse"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GCFactorsResponse">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AvgMonthlyRevenue" type="xsd:double"></xsd:element>
            <xsd:element name="NetMonthlyProfit" type="xsd:double"></xsd:element>
            <xsd:element name="EquityCapital" type="xsd:double"></xsd:element>
            <xsd:element name="CumulativeNetCashFlow" type="xsd:double"></xsd:element>
            <xsd:element name="TotalAssets" type="xsd:double"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocuments"></xsd:element>
            <xsd:element name="ListOfFixedFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FixedFactor" type="tns:FixedFactor" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingPeriod">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingPeriod" type="tns:RatingPeriod" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetParticipantFactorsReq">
        <xsd:sequence>
            <xsd:element name="RequestId" type="xsd:string"></xsd:element>
            <xsd:element name="DealId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfParticipants" type="tns:ListOfParticipantsRequestRef"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfParticipantsRequestRef">
        <xsd:sequence>
            <xsd:element name="Participant" type="tns:ParticipantRequestRef" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ParticipantRequestRef">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string"></xsd:element>
            <xsd:element name="RatingIsActual" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetParticipantFactorsResp">
        <xsd:sequence>
            <xsd:element name="ListOfSystemErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfParticipants" type="tns:ListOfParticipants"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfParticipants">
        <xsd:sequence>
            <xsd:element name="Participant" type="tns:ParticipantFactorsResponse" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ParticipantFactorsResponse">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AvgMonthlyRevenue" type="xsd:double" minOccurs="0"></xsd:element>
            <xsd:element name="NetMonthlyProfit" type="xsd:double" minOccurs="0"></xsd:element>
            <xsd:element name="EquityCapital" type="xsd:double" minOccurs="0"></xsd:element>
            <xsd:element name="CumulativeNetCashFlow" type="xsd:double" minOccurs="0"></xsd:element>
            <xsd:element name="TotalAssets" type="xsd:double" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocuments"></xsd:element>
            <xsd:element name="ListOfFixedFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FixedFactor" type="tns:FixedFactor" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingPeriod">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingPeriod" type="tns:RatingPeriod" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingSupport">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingSupport" type="tns:RatingSupport" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>