mock-example/src/main/webapp/WEB-INF/data/CRM/xsd/GetParticipantsResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.11/prtspRs/Data/"
            xmlns:tns="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.11/prtspRs/Data/"
            xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
            xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
            targetNamespace="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.11/prtspRs/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/"
               schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
                    xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
                    name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response" type="tns:PrtspRs" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PrtspRs">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
         <xsd:annotation>
            <xsd:documentation>
				Элемент верхнего уровня
			</xsd:documentation>
         </xsd:annotation>
         <xsd:element name="dealID" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="requestType" type="crmct:string50">
            <xsd:annotation>
               <xsd:documentation>
						Тип сообщения (getDealParticipats, getCG, getLBG, getBorrower)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="participantsGroup" type="tns:ParticipantsGroup">
            <xsd:annotation>
               <xsd:documentation>
						Информация об участниках
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operationStatus" type="tns:OperationStatus">
            <xsd:annotation>
               <xsd:documentation>
						Статус операции
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="OperationStatus">
      <xsd:annotation>
         <xsd:documentation>
				Статус операции
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="errorCode" type="crmct:string50">
            <xsd:annotation>
               <xsd:documentation>
						Код ошибки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="errorMessage" minOccurs="0" type="crmct:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Сообщение ошибки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Rating">
      <xsd:annotation>
         <xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ratingID" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingValue" type="crmct:integer2">
            <xsd:annotation>
               <xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingModel" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Модель
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата расчета
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedRole" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Роль
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedBy" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingApprovalDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата утверждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingApprovedBy" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ParticipantsGroup">
      <xsd:annotation>
         <xsd:documentation>
				Данные о группе участников
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="participants"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Participant">
            <xsd:annotation>
               <xsd:documentation>
						Участники группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="groupType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип группы участников (КГ, ГСЗ, Участники сделки)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="groupInfo" minOccurs="0" type="tns:GroupInfo">
            <xsd:annotation>
               <xsd:documentation>
						Информация о группе
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GroupInfo">
      <xsd:annotation>
         <xsd:documentation>
				Информация о группе
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="id" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID группы для requestType=CG или requestType=LBG
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="label" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="status" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Статус группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="updateDate" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>
						Дата обновления группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="approvalDate" minOccurs="0" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>
						Дата утверждения группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratings"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Rating">
            <xsd:annotation>
               <xsd:documentation>
						Рейтинг группы
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="topLevelGroupName" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование ГСЗ верхнего уровня
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Participant">
      <xsd:annotation>
         <xsd:documentation>
				Участник
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="participantID" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID Участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="type" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип участника (Участник, Заемщик, Гарант... )
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="isBorrower" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Признак: является Заемщиком
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientType" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип участника (ФЛ, ЮЛ)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="name" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="resident" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Резидент/Нерезидент (true - Резидент)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="consolidatedGroupID" minOccurs="0" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID КГ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="linkedBorrowersGroupID" minOccurs="0" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID ГСЗ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="industry" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Отрасль
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="inn" type="crmct:string12">
            <xsd:annotation>
               <xsd:documentation>
						ИНН
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reportingDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Отчетная дата
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="rating"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Rating">
            <xsd:annotation>
               <xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
