mock-example/src/main/webapp/WEB-INF/data/CRM/xsd/GetParticipantsResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.04/Data/"
            xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
            xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
            xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.04/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/"
               schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response" type="PrtspRs" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OperationStatus">
      <xsd:annotation>
			      <xsd:documentation>
				Статус операции
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="errorCode" type="crmct:string50">
				        <xsd:annotation>
					          <xsd:documentation>
						Код ошибки
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="errorMessage" minOccurs="0" type="crmct:string2000">
				        <xsd:annotation>
					          <xsd:documentation>
						Сообщение ошибки
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Identity">
      <xsd:annotation>
			      <xsd:documentation>
				Данные о ДУЛ
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="identityTypeCode" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Код типа ДУЛ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityType" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип ДУЛ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identitySeries" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Серия
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityNumber" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Номер
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityIssueDate" type="xsd:date">
				        <xsd:annotation>
					          <xsd:documentation>
						Дата выдачи
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityIssuer" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Код подразделения выдавшего ДУЛ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityIssuerCode" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Наименование органа, выдавшего ДУЛ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="identityIsPrimary" minOccurs="0" type="xsd:boolean">
				        <xsd:annotation>
					          <xsd:documentation>
						Признак основного документа
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TopManager">
      <xsd:annotation>
			      <xsd:documentation>
				Информация о топ-менеджменте
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="managerID" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID Менеджера
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="fullName" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ФИО
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="position" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Должность
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="age" minOccurs="0" type="crmct:integer3">
				        <xsd:annotation>
					          <xsd:documentation>
						Возраст
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="experienceInPosition" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Срок работы в должности
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="experienceInSimilarPosition"
                      minOccurs="0"
                      type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Срок работы в аналогичной должности
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="education" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Образование
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Rating">
      <xsd:annotation>
			      <xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="ratingID" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingValue" type="crmct:integer3">
				        <xsd:annotation>
					          <xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingType" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingModel" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Модель
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingCalculatedDate" type="xsd:date">
				        <xsd:annotation>
					          <xsd:documentation>
						Дата расчета
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingCalculatedRole" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Роль
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingCalculatedBy" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>

			      <xsd:element name="ratingApprovalDate" type="xsd:date">
				        <xsd:annotation>
					          <xsd:documentation>
						Дата утверждения
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratingApprovedBy" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ParticipantsGroup">
      <xsd:annotation>
			      <xsd:documentation>
				Данные о группе участников
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="participants"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Participant">
				        <xsd:annotation>
					          <xsd:documentation>
						Участники группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="groupType" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип группы участников (КГ, ГСЗ, Участники сделки)
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="groupInfo" minOccurs="0" type="GroupInfo">
				        <xsd:annotation>
					          <xsd:documentation>
						Информация о группе
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="GroupInfo">
      <xsd:annotation>
			      <xsd:documentation>
				Информация о группе
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="id" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="label" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Наименование группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="status" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Статус группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="updateDate" type="xsd:date">
				        <xsd:annotation>
					          <xsd:documentation>
						Дата обновления группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="approvalDate" minOccurs="0" type="xsd:date">
				        <xsd:annotation>
					          <xsd:documentation>
						Дата утверждения группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="ratings"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Rating">
				        <xsd:annotation>
					          <xsd:documentation>
						Рейтинг группы
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="topLevelGroupName" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Наименование ГСЗ верхнего уровня
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Address">
      <xsd:annotation>
			      <xsd:documentation>
				Адрес
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="type" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип адреса
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="zipCode" minOccurs="0" type="crmct:string9">
				        <xsd:annotation>
					          <xsd:documentation>
						Почтовый индекс
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="city" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Город
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="street" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Улица
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="building" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Дом или владение
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="block" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Корпус
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="phone" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Телефон
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="email" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						E-mail
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Ownership">
      <xsd:annotation>
			      <xsd:documentation>
				Данные о владении участником или заемщиком
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="ownershipID" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID ЮЛ, которым владеет
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="share" minOccurs="0" type="crmct:double17_2">
				        <xsd:annotation>
					          <xsd:documentation>
						Доля в уставном капитале\Доля в общем количестве голосующих акций
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="periodOfOwnerhip" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Период владения
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Participant">
      <xsd:annotation>
			      <xsd:documentation>
				Участник
			</xsd:documentation>
		    </xsd:annotation>
      <xsd:sequence>
			      <xsd:element name="participantID" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID Участника
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="type" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип участника (Участник, Заемщик, Гарант... )
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="isBorrower" type="xsd:boolean">
				        <xsd:annotation>
					          <xsd:documentation>
						Признак: является Заемщиком
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="clientType" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип участника (ФЛ, ЮЛ)
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="name" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Наименование
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="resident" type="xsd:boolean">
				        <xsd:annotation>
					          <xsd:documentation>
						Резидент/Нерезидент (true - Резидент)
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="address"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Address">
				        <xsd:annotation>
					          <xsd:documentation>
						Адрес участника
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="share"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Ownership">
				        <xsd:annotation>
					          <xsd:documentation>
						Участники Заемщика
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="consolidatedGroupID" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID КГ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="linkedBorrowersGroupID" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						ID ГСЗ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="industry" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Отрасль
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="inn" type="crmct:string12">
				        <xsd:annotation>
					          <xsd:documentation>
						ИНН
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="rating" minOccurs="0" maxOccurs="unbounded" type="Rating">
				        <xsd:annotation>
					          <xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
			      <xsd:element name="roleInConsolidatedGroup" minOccurs="0" type="crmct:string255">
				        <xsd:annotation>
					          <xsd:documentation>
						Функция компании в КГ
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NaturalPerson">
      <xsd:complexContent>
			      <xsd:extension base="Participant">
				        <xsd:annotation>
					          <xsd:documentation>
						Физическое лицо
					</xsd:documentation>
				        </xsd:annotation>
				        <xsd:sequence>
					          <xsd:element name="lastName" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Фамилия
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="firstName" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Имя
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="middleName" minOccurs="0" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Отчество
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="dateOfBirth" minOccurs="0" type="xsd:date">
						            <xsd:annotation>
							              <xsd:documentation>
								Дата рождения
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element> 
					          <xsd:element name="placeOfBirth" minOccurs="0" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Место рождения
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="gender" minOccurs="0" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Пол
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="identities"
                            minOccurs="0"
                            maxOccurs="unbounded"
                            type="Identity">
						            <xsd:annotation>
							              <xsd:documentation>
								Данные о ДУЛ
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
				        </xsd:sequence>
			      </xsd:extension>
		    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="LegalPerson">
      <xsd:complexContent>
			      <xsd:extension base="Participant">
				        <xsd:annotation>
					          <xsd:documentation>
						Юридическое лицо
					</xsd:documentation>
				        </xsd:annotation>
				        <xsd:sequence>
					          <xsd:element name="businessEntityType" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								ОПФ
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="taxAgencyNumber" type="crmct:string20">
						            <xsd:annotation>
							              <xsd:documentation>
								Номер налогового органа
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="topManager"
                            minOccurs="0"
                            maxOccurs="unbounded"
                            type="TopManager">
						            <xsd:annotation>
							              <xsd:documentation>
								Данные о топ-менеджменте
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="shareholder"
                            minOccurs="0"
                            maxOccurs="unbounded"
                            type="Participant">
						            <xsd:annotation>
							              <xsd:documentation>
								Данные об акционерах
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="beneficiar"
                            minOccurs="0"
                            maxOccurs="unbounded"
                            type="Participant">
						            <xsd:annotation>
							              <xsd:documentation>
								Данные о бенефициарах
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="registrationDate" type="xsd:date">
						            <xsd:annotation>
							              <xsd:documentation>
								Дата выдачи гос. регистрации
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="registrationNumber" type="crmct:registrationNumberType">
						            <xsd:annotation>
							              <xsd:documentation>
								Регистрационный номер
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="segment" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Сегмент бизнеса
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="isProblemClient" minOccurs="0" type="xsd:boolean">
						            <xsd:annotation>
							              <xsd:documentation>
								Проблемный клиент
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="problemGroup" minOccurs="0" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Группа проблемности
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
					          <xsd:element name="problemCriteria" minOccurs="0" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Критерий проблемности
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>	
					          <xsd:element name="mainActivity" type="crmct:string255">
						            <xsd:annotation>
							              <xsd:documentation>
								Основная деятельность Заемщика
							</xsd:documentation>
						            </xsd:annotation>
					          </xsd:element>
				        </xsd:sequence>
			      </xsd:extension>
		    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="PrtspRs">
      <xsd:annotation>
         <xsd:documentation>
				Элемент верхнего уровня
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
         <xsd:element name="id" type="crmct:string15">
				        <xsd:annotation>
					          <xsd:documentation>
						ID сделки для requestType=DealParticipats или requestType=getBorrower, ID группы для requestType=CL или requestType=LBG
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
         <xsd:element name="requestType" type="crmct:string50">
				        <xsd:annotation>
					          <xsd:documentation>
						Тип сообщения (getDealParticipats, getCG, getLBG, getBorrower)
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
         <xsd:element name="participantsGroup" type="ParticipantsGroup">
				        <xsd:annotation>
					          <xsd:documentation>
						Информация об участниках
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
         <xsd:element name="operationStatus" type="OperationStatus">
				        <xsd:annotation>
					          <xsd:documentation>
						Статус операции
					</xsd:documentation>
				        </xsd:annotation>
			      </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
</xsd:schema>
