mock-example/src/main/webapp/WEB-INF/data/CRM/xsd/UpdateDealRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.18/updateDealRq/Data/"
            xmlns:tns="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.18/updateDealRq/Data/"
            xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
            xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
            targetNamespace="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.18/updateDealRq/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/"
               schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="request" type="tns:UpdateDealRq" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateDealRq">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
         <xsd:element name="deal" type="tns:Deal"/>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="DealTeamMember">
      <xsd:annotation>
         <xsd:documentation>
				Участник команды сделки
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="memberId" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberName" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						ФИО участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberEmail" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						E-mail участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberRole" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Роль участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinancingInfo">
      <xsd:annotation>
         <xsd:documentation>
				Финансовая информация по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="interestRate" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Процентная ставка
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestRateType" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип ставки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestRateOrder" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Порядок установления процентной ставки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="minRate" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Индивидуальная минимальная процентная ставка с учетом субсидий
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currencyOfFunding" type="tns:string3">
            <xsd:annotation>
               <xsd:documentation>
						Валюта финансирования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="principal" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма, тыс. ед.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Rating">
      <xsd:annotation>
         <xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ratingID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingValue" type="tns:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingType" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingModel" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Модель
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата расчета
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedRole" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Роль
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingCalculatedBy" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingApprovalDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата утверждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ratingApprovedBy" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Project">
      <xsd:annotation>
         <xsd:documentation>
				Данные о проекте
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="projectID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID проекта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="projectName" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование проекта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="indicatorsOfConstruction" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Количественные показатели объекта строительства
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="parcel" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Земельный участок
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="documentsPresence" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наличие правоустанавливающей и исходно-разрешительной документации
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="equityVolume" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Объем собственных средств
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fundingDirection" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Направление финансирования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="projectRating"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Rating">
            <xsd:annotation>
               <xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Schedule">
      <xsd:annotation>
         <xsd:documentation>
				Детализация графика
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="sheduleDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sheduleAmount" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Losses">
      <xsd:annotation>
         <xsd:documentation>
				LGD, EAD и лимиты
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="percentLGD" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						LGD – потери при дефолте (%)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="countEAD" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EAD – средства под риском (тыс.ед.)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currency" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Валюта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reportDateAmount" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма на отчетную дату
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lossELpercent" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EL – ожидаемые потери (%)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lossELcount" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EL - ожидаемые потери (тыс.ед.)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="typeLGD" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="statusLGD" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Статус LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dateLGDcalculated" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата расчета LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="finalizationDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата финализации
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Комментарии к расчету
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Collateral">
      <xsd:annotation>
         <xsd:documentation>
				Обеспечения по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="collateralID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID Обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="collateralType" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Вид обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ownerID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID Участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="isLegalPerson" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Участник является ЮЛ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValue" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Оценочная стоимость
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="discountRate" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Ставка дисконта для расчета LGD %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueCorrected" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Скорректированная оценочная стоимость обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="qualityCategory" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Категория качества обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="daysForCalculation" minOccurs="0" type="tns:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Дни для расчета %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueCorrectedToEAD"
                      minOccurs="0"
                      type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Скорректированная оценочная стоимость по отношению к EAD, %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueSource" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Источник оценочной стоимости
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimationDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата оценки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="businessMeaning" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Значимость для бизнеса
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="qualityAndLiquidityEstimation" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Экспертная оценка ликвидности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currency" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Валюта оценки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueType" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип оценочной стоимости
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Fee">
      <xsd:annotation>
         <xsd:documentation>
				Вознаграждение
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="feeName" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименоание вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="anotherFeeName" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование для иного вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="calculationBase" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Размер и база расчета
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="paymentOrder" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Порядок уплаты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ParticipantProductInfo">
      <xsd:annotation>
         <xsd:documentation>
				Участники сделки в разрезе продуктов
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="participantID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID участника сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="personType">
            <xsd:simpleType>
               <xsd:annotation>
                  <xsd:documentation>
                        Тип участника (ФЛ, ЮЛ)
                    </xsd:documentation>
               </xsd:annotation>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="NP|LP"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="participantType" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип участника (Участник, Заемщик, Гарант... )
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Product">
      <xsd:annotation>
         <xsd:documentation>
				Условия продукта
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="productVersion" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Версия продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="purpose" type="tns:string1000">
            <xsd:annotation>
               <xsd:documentation>
						Цель кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creditMode" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Режим кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionSchedule" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						График выборки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesSchedule" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						График изменения (увеличения/снижения) предельного размера единовременной задолженности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionSchedulePeriod" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Период для графика выборки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesSchedulePeriod" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Период для графика изменения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestPaymentOrder">
            <xsd:simpleType>
               <xsd:annotation>
                  <xsd:documentation>
                            Порядок уплаты процентов
                        </xsd:documentation>
               </xsd:annotation>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="EveryMonth|EveryQuarter|Another"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="anotherInterestPaymentOrder"
                      minOccurs="0"
                      type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Иной порядок уплаты процентов
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="refinancing" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Направление на рефинансирование обяз-ва
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="suspensiveCondition"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Отлагательные условия
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="principalBaseCurrency" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма в баз. вал., тыс.ед.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="financingInfo"
                      minOccurs="1"
                      maxOccurs="unbounded"
                      type="tns:FinancingInfo">
            <xsd:annotation>
               <xsd:documentation>
						Финансовая информация по продукту
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="startDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата предоставления
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creditTerm" type="tns:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Срок кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="period" type="tns:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Период доступности, в мес.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="gracePeriod" minOccurs="0" type="tns:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Льготный период
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="repaymentSchedule" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						График погашения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="turnover" minOccurs="0" type="tns:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Оборачиваемость
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="covenants"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Ковенанты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="proposedCollateral" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Предварительное обеспечение
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="debtLimit" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Предельный размер единовременной задолженности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="pledgeInsurance" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Страхование залога
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="customerProspects" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Перспективы сотрудничества с клиентом
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="financingTerm" minOccurs="0" type="tns:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Срок финансирования по уступаемым денежным требованиям
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="firstCountry" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Первоначальная страна использования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lastCountry" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Конечная страна использования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fee" minOccurs="0" maxOccurs="unbounded" type="tns:Fee">
            <xsd:annotation>
               <xsd:documentation>
						Вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="repaymentScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график погашения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график выборки 
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график изменения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="unutilizedLimit" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Невыбранный лимит
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correctedUnutilizedLimit" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Скорректированный невыбранный лимит
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Комментарий к продукту
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConditions">
      <xsd:annotation>
         <xsd:documentation>
				Данные по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="productID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID продукта в CRM
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="projectID" minOccurs="0" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID проекта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="productName" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Продукт
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="category" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Категория продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="productType">
            <xsd:simpleType>
               <xsd:annotation>
                  <xsd:documentation>
							Тип продукта
						</xsd:documentation>
               </xsd:annotation>
               <xsd:restriction base="xsd:string">
                  <xsd:pattern value="New|Active"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="participantProductInfo"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ParticipantProductInfo">
            <xsd:annotation>
               <xsd:documentation>
						Участники сделки в разрезе продуктов
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="productInfo"
                      minOccurs="1"
                      maxOccurs="unbounded"
                      type="tns:Product">
            <xsd:annotation>
               <xsd:documentation>
						Условия продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="collateral"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:Collateral">
            <xsd:annotation>
               <xsd:documentation>
						Обеспечения по продуктам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="losses" minOccurs="0" type="tns:Losses">
            <xsd:annotation>
               <xsd:documentation>
						LGD, EAD и лимиты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="StopFactor">
      <xsd:annotation>
         <xsd:documentation>
				Данные о стоп факторах
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="stopFactorID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор стоп фактора
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="stopFactorName" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Стоп фактор
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="stopFactorComment" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Комментарий
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="stopFactorArgument" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Аргументы, позволяющие осуществить кредитование
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProblemCriteria">
      <xsd:annotation>
         <xsd:documentation>
				Данные о критериях проблемности
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="problemCriteriaID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор критерия проблемности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemCriteriaName" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Критерий проблемности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creditJustification" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Обоснование, позволяющее осуществить кред-е
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemProductName" minOccurs="0" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Продукт
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemProductAmount" minOccurs="0" type="tns:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemProductCurrency" minOccurs="0" type="tns:string3">
            <xsd:annotation>
               <xsd:documentation>
						Валюта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemProductTerm" minOccurs="0" type="tns:integer10">
            <xsd:annotation>
               <xsd:documentation>
						Срок финансирования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Deal">
      <xsd:annotation>
         <xsd:documentation>
				Данные кредитной сделки
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="dealID" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="contractID" minOccurs="0" type="tns:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID договора
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealCreationDate" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>
						Дата создания
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealEssense" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Суть сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="requestPurpose" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Цель запроса
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealType" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealStatus" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Статус сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="requestDate" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>
						Дата обращения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="origOrgUnit" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Код подразделения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="origOrgDivision" type="tns:string2">
            <xsd:annotation>
               <xsd:documentation>
						Код дочернего банка, например, BY, KZ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="codeCBS" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Код ЦБУ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientFileID" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор досье клиента
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealFileID" type="tns:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор досье сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Примечание
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="collateralProvided" minOccurs="0" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						По сделке предоставлено обеспечение
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="limitKM" minOccurs="0" type="tns:string2000">
            <xsd:annotation>
               <xsd:documentation>
						Предложение КМ по лимитам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="baseCurrency" minOccurs="0" type="tns:string3">
            <xsd:annotation>
               <xsd:documentation>
						Базовая валюта 
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealTeamMembers"
                      maxOccurs="unbounded"
                      type="tns:DealTeamMember">
            <xsd:annotation>
               <xsd:documentation>
						Команда сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="products"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ProductConditions">
            <xsd:annotation>
               <xsd:documentation>
						Информация по продуктам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="project" minOccurs="0" type="tns:Project">
            <xsd:annotation>
               <xsd:documentation>
						Информация по проекту
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="stopFactors"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:StopFactor">
            <xsd:annotation>
               <xsd:documentation>
						Данные о стоп факторах
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="problemCriterias"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ProblemCriteria">
            <xsd:annotation>
               <xsd:documentation>
						Данные о критериях проблемности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="string4500">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="4500"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string2000">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2000"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string1000">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2000"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string255">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="255"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string15">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="15"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string3">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="3"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="string2">
      <xsd:restriction base="xsd:string">
         <xsd:maxLength value="2"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="integer5">
      <xsd:restriction base="xsd:integer">
         <xsd:minInclusive value="-99999"/>
         <xsd:maxInclusive value="99999"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="integer10">
      <xsd:restriction base="xsd:integer">
         <xsd:minInclusive value="-9999999999"/>
         <xsd:maxInclusive value="9999999999"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="integer3">
      <xsd:restriction base="xsd:integer">
         <xsd:minInclusive value="-999"/>
         <xsd:maxInclusive value="999"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="double17_5">
      <xsd:restriction base="xsd:double">
         <xsd:pattern value="-?\d{1,17}([/.,/,]\d{1,5}){0,1}"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
