mock-example/src/main/webapp/WEB-INF/data/CRM/xsd/UpdateDealRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
		xmlns:comTypes="http://sbrf.ru/NCP/CRM/CommonTypes/"
		targetNamespace="http://sbrf.ru/NCP/CRM/UpdateDealRq/Data/"
		xmlns="http://sbrf.ru/NCP/CRM/UpdateDealRq/Data/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified">

	<xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/" schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>


	<xsd:element name="data" type="dataValue"/>

	<xsd:complexType name="dataValue">
		<xsd:sequence>
			<xsd:element name="request" type="UpdateDealRsData" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Ответ на запрос
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="UpdateDealRsData">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="deal" type="Deal" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Сделка
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="errorCode" type="comTypes:string50" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Код ошибки
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="errorMessage" type="comTypes:string2000" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							Сообщение об ошибке
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute type="xsd:string" name="name" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ExchangeRate">
		<xsd:annotation>
			<xsd:documentation>
				Курсы валют
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="currencyName" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Валюта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyValue" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Курс
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата установления
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Rating">
		<xsd:annotation>
			<xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ratingID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingValue" type="comTypes:double17_2">
				<xsd:annotation>
					<xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingType" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingModel" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Модель
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата расчета
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedRole" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Роль
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedBy" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ratingApprovalDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата утверждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingApprovedBy" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Project">
		<xsd:annotation>
			<xsd:documentation>
				Данные о проекте
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="projectName" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименование проекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorsOfConstruction" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Количественные показатели объекта строительства
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parcel" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Земельный участок
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentsPresence" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наличие правоустанавливающей и исходно-разрешительной документации
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityVolume" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Объем собственных средств
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentSpring" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Источник погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="projectVariant" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Вариант проекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sameIndustryAsBorrower" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Отрасль проекта совпадает с отраслью заемщика
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateralProvided" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						По сделке предоставлено обеспечение
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="projectRating" type="Rating" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Schedule">
		<xsd:annotation>
			<xsd:documentation>
				Детализация графика
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sheduleDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sheduleAmount" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Сумма
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Losses">
		<xsd:annotation>
			<xsd:documentation>
				LGD, EAD и лимиты
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="percentLGD" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						LGD – потери при дефолте (%)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countEAD" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						EAD – средства под риском (тыс.ед.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Валюта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reportDateAmount" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Сумма на отчетную дату
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lossELpercent" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						EL – ожидаемые потери (%)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lossELcount" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						EL - ожидаемые потери (тыс.ед.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeLGD" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="statusLGD" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Статус LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateLGDcalculated" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата расчета LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finalizationDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата финализации
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="comTypes:string2000">
				<xsd:annotation>
					<xsd:documentation>
						Комментарии к расчету
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Collateral">
		<xsd:annotation>
			<xsd:documentation>
				Обеспечения по продукту
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="collateralType" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Вид обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ownerID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						ID Участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValue" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Оценочная стоимость
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discountRate" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Ставка дисконта для расчета LGD %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueCorrected" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Скорректированная оценочная стоимость обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qualityCategory" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Категория качества обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="daysForCalculation" type="comTypes:integer3">
				<xsd:annotation>
					<xsd:documentation>
						Дни для расчета %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueCorrectedToEAD" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Скорректированная оценочная стоимость по отношению к EAD, %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="securityShare" type="comTypes:integer3">
				<xsd:annotation>
					<xsd:documentation>
						Доля обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EstimatedValueSource" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Источник оценочной стоимости
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimationDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата оценки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="businessMeaning" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Значимость для бизнеса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qualityAndLiquidityEstimation" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Экспертная оценка ликвидности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Валюта оценки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueType" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип оценочной стоимости
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="guarantorRating" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Рейтинг гаранта/поручителя/эмитента
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fee">
		<xsd:annotation>
			<xsd:documentation>
				Вознаграждение
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="feeName" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименоание вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anotherFeeName" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименование для иного вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calculationBase" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Размер и база расчета
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentOrder" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Порядок уплаты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Product">
		<xsd:annotation>
			<xsd:documentation>
				Условия продукта
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="purpose" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Цель кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditMode" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Режим кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyOfFunding" type="comTypes:string3">
				<xsd:annotation>
					<xsd:documentation>
						Валюта финансирования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="comTypes:string3">
				<xsd:annotation>
					<xsd:documentation>
						Валюта выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRateType" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип ставки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionSchedule" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						График выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesSchedule" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						График изменения (увеличения/снижения) предельного размера единовременной задолженности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionSchedulePeriod" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Период для графика выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesSchedulePeriod" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Период для графика изменения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRateOrder" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Порядок установления процентной ставки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestPaymentOrder" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Порядок уплаты процентов
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refinancing" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Направление на рефинансирование обяз-ва
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="providing" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Обеспеченность
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="suspensiveCondition" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Отлагательные условия
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principal" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Сумма, тыс. ед.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principalBaseCurrency" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Сумма в баз. вал., тыс.ед.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="startDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата предоставления
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRate" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Процентная ставка
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditTerm" type="comTypes:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Срок кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period" type="comTypes:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Период доступности, в мес.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gracePeriod" type="comTypes:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Льготный период
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentSchedule" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						График погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="turnover" type="comTypes:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Оборачиваемость
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="covenants" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ковенанты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minRate" type="comTypes:double17_6">
				<xsd:annotation>
					<xsd:documentation>
						Индивидуальная минимальная процентная ставка с учетом субсидий
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proposedCollateral" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Предварительное обеспечение
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debtLimit" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Предельный размер единовременной задолженности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pledgeInsurance" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Страхование залога
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customerProspects" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Перспективы сотрудничества с клиентом
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="financingTerm" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Срок финансирования по уступаемым денежным требованиям
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstCountry" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Первоначальная страна использования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastCountry" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Конечная страна использования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fee" type="Fee" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentScheduleDetails" type="Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionScheduleDetails" type="Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesScheduleDetails" type="Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график изменения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductConditions">
		<xsd:annotation>
			<xsd:documentation>
				Данные по продукту
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="productID" type="comTypes:integer10">
				<xsd:annotation>
					<xsd:documentation>
						ID продукта в CRM
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productName" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Продукт
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="category" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Категория продукта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productInfo" type="Product" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Условия продукта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateral" type="Collateral" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Обеспечения по продуктам
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="losses" type="Losses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						LGD, EAD и лимиты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Deal">
		<xsd:annotation>
			<xsd:documentation>
				Данные кредитной сделки
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dealID" type="comTypes:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractID" type="comTypes:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID договора
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealCreationDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Дата создания
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealEssense" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Суть сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestPurpose" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Цель запроса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="salesMethod" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Метод продаж
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealStatus" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Статус сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата обращения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="origOrgUnit" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Код подразделения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="origOrgDivision" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Код дочернего банка, например, BY, KZ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientFileID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор досье клиента
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealFileID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор досье сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						Примечание
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="supLMID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						ID Сделки в SupLM
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientManagerID" type="comTypes:string255">
				<xsd:annotation>
					<xsd:documentation>
						ID КМ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="products" type="ProductConditions" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Информация по продуктам
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project" type="Project">
				<xsd:annotation>
					<xsd:documentation>
						Информация по проекту
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="baseCurrency" type="comTypes:string3">
				<xsd:annotation>
					<xsd:documentation>
						Базовая валюта для отчетности и прогноза
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="exchangeRates" type="ExchangeRate" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Информация о курсах валют
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
