mock-example/src/main/webapp/WEB-INF/data/CRM/xsd/UpdateDealRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.07/Data/"
            xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.07/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/"
               schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
                    xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
                    name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="request" type="UpdateDealRq" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="UpdateDealRq">
      <xsd:annotation>
         <xsd:documentation>
				Элемент верхнего уровня
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
         <xsd:element name="deal" type="Deal">
            <xsd:annotation>
               <xsd:documentation>
						Сделка
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="Deal">
      <xsd:annotation>
         <xsd:documentation>
				Данные кредитной сделки
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="dealID" type="crmct:string15">
            <xsd:annotation>
               <xsd:documentation>
						ID сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="contractID" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						ID договора
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealCreationDate" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>
						Дата создания
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealEssense" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Суть сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="requestPurpose" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Цель запроса
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealStatus" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Статус сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="requestDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата обращения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="origOrgUnit" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Код подразделения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="origOrgDivision" type="crmct:string2">
            <xsd:annotation>
               <xsd:documentation>
						Код дочернего банка, например, BY, KZ
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientFileID" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор досье клиента
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealFileID" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор досье сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" minOccurs="0" type="crmct:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Примечание
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="supLMID" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						ID Сделки в SupLM
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="collateralProvided" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						По сделке предоставлено обеспечение
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="limitKM" type="crmct:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Предложение КМ по лимитам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dealTeamMembers" maxOccurs="unbounded" type="DealTeamMember">
            <xsd:annotation>
               <xsd:documentation>
						Команда сделки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="products"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="ProductConditions">
            <xsd:annotation>
               <xsd:documentation>
						Информация по продуктам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="project" minOccurs="0" type="Project">
            <xsd:annotation>
               <xsd:documentation>
						Информация по проекту
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="exchangeRates"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="ExchangeRate">
            <xsd:annotation>
               <xsd:documentation>
						Информация о курсах валют
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ExchangeRate">
      <xsd:annotation>
         <xsd:documentation>
				Курсы валют
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="currencyName" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Валюта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currencyValue" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Курс
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currencyDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата установления
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DealTeamMember">
      <xsd:annotation>
         <xsd:documentation>
				Участник команды сделки
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="memberId" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Идентификатор участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="memberName" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						ФИО участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mamberEmail" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						E-mail участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mamberRole" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Роль участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Project">
      <xsd:annotation>
         <xsd:documentation>
				Данные о проекте
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="projectName" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование проекта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="indicatorsOfConstruction"
                      minOccurs="0"
                      type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Количественные показатели объекта строительства
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="parcel" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Земельный участок
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="documentsPresence" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наличие правоустанавливающей и исходно-разрешительной документации
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="equityVolume" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Объем собственных средств
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="repaymentSpring" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Источник погашения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fundingDirection" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Направление финансирования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sameIndustryAsBorrower" minOccurs="0" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Отрасль проекта совпадает с отраслью заемщика
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductConditions">
      <xsd:annotation>
         <xsd:documentation>
				Данные по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="productID" type="crmct:integer10">
            <xsd:annotation>
               <xsd:documentation>
						ID продукта в CRM
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="productName" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Продукт
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="category" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Категория продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="productInfo"
                      minOccurs="1"
                      maxOccurs="unbounded"
                      type="Product">
            <xsd:annotation>
               <xsd:documentation>
						Условия продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="collateral"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Collateral">
            <xsd:annotation>
               <xsd:documentation>
						Обеспечения по продуктам
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="losses" minOccurs="0" type="Losses">
            <xsd:annotation>
               <xsd:documentation>
						LGD, EAD и лимиты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Losses">
      <xsd:annotation>
         <xsd:documentation>
				LGD, EAD и лимиты
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="percentLGD" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						LGD – потери при дефолте (%)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="countEAD" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EAD – средства под риском (тыс.ед.)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currency" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Валюта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="reportDateAmount" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма на отчетную дату
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lossELpercent" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EL – ожидаемые потери (%)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lossELcount" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						EL - ожидаемые потери (тыс.ед.)
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="typeLGD" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="statusLGD" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Статус LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dateLGDcalculated" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата расчета LGD
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="finalizationDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата финализации
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" minOccurs="0" type="crmct:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Комментарии к расчету
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Collateral">
      <xsd:annotation>
         <xsd:documentation>
				Обеспечения по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="collateralType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Вид обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ownerID" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						ID Участника
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValue" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Оценочная стоимость
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="discountRate" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Ставка дисконта для расчета LGD %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueCorrected" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Скорректированная оценочная стоимость обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="qualityCategory" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Категория качества обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="daysForCalculation" type="crmct:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Дни для расчета %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueCorrectedToEAD" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Скорректированная оценочная стоимость по отношению к EAD, %
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="securityShare" type="crmct:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Доля обеспечения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="EstimatedValueSource" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Источник оценочной стоимости
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimationDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата оценки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="businessMeaning" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Значимость для бизнеса
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="qualityAndLiquidityEstimation" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Экспертная оценка ликвидности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="currency" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Валюта оценки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="estimatedValueType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип оценочной стоимости
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="guarantorRating" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Рейтинг гаранта/поручителя/эмитента
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Product">
      <xsd:annotation>
         <xsd:documentation>
				Условия продукта
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="productVersion" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Версия продукта
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="purpose" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Цель кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creditMode" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Режим кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionSchedule" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						График выборки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesSchedule" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						График изменения (увеличения/снижения) предельного размера единовременной задолженности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionSchedulePeriod" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Период для графика выборки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesSchedulePeriod" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Период для графика изменения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestPaymentOrder" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Порядок уплаты процентов
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="refinancing" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>
						Направление на рефинансирование обяз-ва
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="suspensiveCondition" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Отлагательные условия
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="principalBaseCurrency" minOccurs="0" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма в баз. вал., тыс.ед.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="financingInfo"
                      minOccurs="1"
                      maxOccurs="unbounded"
                      type="FinancingInfo">
            <xsd:annotation>
               <xsd:documentation>
						Финансовая информация по продукту
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestRateInfo"
                      minOccurs="1"
                      maxOccurs="unbounded"
                      type="InterestRateInfo">
            <xsd:annotation>
               <xsd:documentation>
						Информация о процентных ставках
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="startDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата предоставления
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creditTerm" type="crmct:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Срок кредитования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="period" type="crmct:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Период доступности, в мес.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="gracePeriod" minOccurs="0" type="crmct:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Льготный период
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="repaymentSchedule" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						График погашения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="turnover" type="crmct:integer5">
            <xsd:annotation>
               <xsd:documentation>
						Оборачиваемость
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="covenants" type="crmct:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Ковенанты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="proposedCollateral" type="crmct:string4500">
            <xsd:annotation>
               <xsd:documentation>
						Предварительное обеспечение
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="debtLimit" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Предельный размер единовременной задолженности
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="pledgeInsurance" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Страхование залога
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="customerProspects" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Перспективы сотрудничества с клиентом
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="financingTerm" type="crmct:integer3">
            <xsd:annotation>
               <xsd:documentation>
						Срок финансирования по уступаемым денежным требованиям
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="firstCountry" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Первоначальная страна использования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="lastCountry" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Конечная страна использования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fee" minOccurs="0" maxOccurs="unbounded" type="Fee">
            <xsd:annotation>
               <xsd:documentation>
						Вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="repaymentScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график погашения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="selectionScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график выборки 
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="changesScheduleDetails"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="Schedule">
            <xsd:annotation>
               <xsd:documentation>
						Секция график изменения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinancingInfo">
      <xsd:annotation>
         <xsd:documentation>
				Финансовая информация по продукту
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="currencyOfFunding" type="crmct:string3">
            <xsd:annotation>
               <xsd:documentation>
						Валюта финансирования
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="principal" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма, тыс. ед.
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InterestRateInfo">
      <xsd:annotation>
         <xsd:documentation>
				Информация о процентных ставках
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="interestRate" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Процентная ставка
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestRateType" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Тип ставки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="interestRateOrder" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Порядок установления процентной ставки
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="minRate" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Индивидуальная минимальная процентная ставка с учетом субсидий
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Schedule">
      <xsd:annotation>
         <xsd:documentation>
				Детализация графика
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="sheduleDate" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>
						Дата
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="sheduleAmount" type="crmct:double17_5">
            <xsd:annotation>
               <xsd:documentation>
						Сумма
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Fee">
      <xsd:annotation>
         <xsd:documentation>
				Вознаграждение
			</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="feeName" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименоание вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="anotherFeeName" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Наименование для иного вознаграждения
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="calculationBase" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Размер и база расчета
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="paymentOrder" minOccurs="0" type="crmct:string255">
            <xsd:annotation>
               <xsd:documentation>
						Порядок уплаты
					</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
