mock-example/src/main/webapp/WEB-INF/data/CKPIT/xsd/CKPITProductsDepositsNSOReqRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/mockService/CKPITProductsDepositsNSOReq/Data/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/mockService/CKPITProductsDepositsNSOReq/Data/"
            elementFormDefault="qualified">
   <xsd:complexType xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
                    xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
                    name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence xmlns="">
         <xsd:element name="KD4SoapHeaderV2" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AsyncHeader">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message-id" type="st:UUID">
                     <xsd:annotation>
                        <xsd:documentation>Уникальный идентификатор сообщения, передаваемого в рамках SOAP-пакета</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="request-time" type="dt:DateTime">
                     <xsd:annotation>
                        <xsd:documentation>Системное время при отправке сообщения АС-отправителем с учетом временной зоны</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор корреляции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы инициатора запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="system-id"
                               type="st:SystemName_Type"
                               minOccurs="0"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы получателя запроса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-name" type="st:OperationName_Type">
                     <xsd:annotation>
                        <xsd:documentation>Название операции вызываемого сервиса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Версия операции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Полное ФИО пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="proc-inst-tb" type="st:TB_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Код ТБ</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:any namespace="##other"
                           processContents="lax"
                           minOccurs="0"
                           maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Точка расширения заголовка (не используется, добавлено на персективу)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:any>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response"
                      type="ProductDepositsNSOReqType"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductDepositsNSOReqType">
      <xsd:complexContent>
         <xsd:extension base="CKPITBasicReqType">
            <xsd:sequence>
               <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
               <xsd:element name="IDCKPIT" type="IDCKPITType"/>
               <xsd:element name="Label">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="Name">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="250"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="ShortName">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="InstrumentType">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Deposit"/>
                        <xsd:enumeration value="NSO"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="ValidityStartDate" minOccurs="0" type="xsd:date"/>
               <xsd:element name="ValidityEndDate" minOccurs="0" type="xsd:date"/>
               <xsd:element name="Option"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            type="ProductOptionType"/>
               <xsd:element name="Restriction"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            type="ProductRestrictionType"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="CKPITBasicReqType">
      <xsd:sequence>
         <xsd:element name="RqUID" type="xsd:string"/>
         <xsd:element name="RqTm" type="xsd:string"/>
         <xsd:element name="RqAction" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductOptionType">
      <xsd:sequence>
         <xsd:element name="OptionID">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OptionName">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="127"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OptionValue" maxOccurs="unbounded">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="127"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductRestrictionType">
      <xsd:sequence>
         <xsd:element name="Currency">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AmountMin" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:pattern value="^\d{1,10}$"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AmountMax" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:pattern value="^\d{1,10}$"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PeriodMin">
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:pattern value="^\d{1,10}$"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PeriodMax">
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:pattern value="^\d{1,10}$"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
