mock-example/src/main/webapp/WEB-INF/data/CKPIT/xsd/UpdateDepositNSORequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/prpc/bbmo/10/SrvCKPITUpdateDepositNSORq/Data/"
            xmlns:tns="http://sbrf.ru/prpc/bbmo/10/SrvCKPITUpdateDepositNSORq/Data/"
            xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
            xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10"
            xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/prpc/bbmo/10/SrvCKPITUpdateDepositNSORq/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10"
               schemaLocation="../../../xsd/CKPIT/./commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
               schemaLocation="../../../xsd/CKPIT/./commonTypes/simpleTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10"
               schemaLocation="../../../xsd/CKPIT/./commonTypes/commonTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence xmlns="">
         <xsd:element name="KD4SoapHeaderV2" type="dt:String" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AsyncHeader">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Уникальный идентификатор сообщения, передаваемого в рамках SOAP-пакета</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Системное время при отправке сообщения АС-отправителем с учетом временной зоны</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор корреляции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы инициатора запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="system-id"
                               type="st:SystemName_Type"
                               minOccurs="0"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы получателя запроса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Название операции вызываемого сервиса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Версия операции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Полное ФИО пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="proc-inst-tb" type="st:TB_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Код ТБ</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:any namespace="##other"
                           processContents="lax"
                           minOccurs="0"
                           maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Точка расширения заголовка (не используется, добавлено на персективу)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:any>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="request"
                      type="tns:SrvCKPITUpdateDepositNSORq"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SrvCKPITUpdateDepositNSORq">
      <xsd:complexContent>
         <xsd:extension base="ct:DataProcessingRequest">
            <xsd:sequence>
               <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
               <xsd:element name="IDCKPIT" type="tns:IDCKPITType">
                  <xsd:annotation>
                     <xsd:documentation>ID продукта в ЦКПИТ</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Label">
                  <xsd:simpleType>
                     <xsd:restriction base="dt:String">
                        <xsd:maxLength value="255"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="Name">
                  <xsd:simpleType>
                     <xsd:restriction base="dt:String">
                        <xsd:maxLength value="250"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="ShortName">
                  <xsd:simpleType>
                     <xsd:restriction base="dt:String">
                        <xsd:maxLength value="255"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="InstrumentType">
                  <xsd:simpleType>
                     <xsd:restriction base="dt:String">
                        <xsd:enumeration value="Deposit"/>
                        <xsd:enumeration value="NSO"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="ValidityStartDate" minOccurs="0" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Дата ввода продукта в действие</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ValidityEndDate" minOccurs="0" type="xsd:date">
                  <xsd:annotation>
                     <xsd:documentation>Фактическая дата окончания обслуживания</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Option"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            type="tns:ProductOptionType"/>
               <xsd:element name="Restriction"
                            minOccurs="1"
                            maxOccurs="unbounded"
                            type="tns:ProductRestrictionType"/>
            </xsd:sequence>
            <xsd:attribute name="name"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="IDCKPITType">
      <xsd:restriction base="xsd:integer">
         <xsd:totalDigits value="10"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="ProductOptionType">
      <xsd:annotation>
         <xsd:documentation>Опция вклада или НСО</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="OptionID">
            <xsd:annotation>
               <xsd:documentation>Код опции</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="64"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OptionName">
            <xsd:annotation>
               <xsd:documentation>Наименование опции</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="127"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="OptionValue" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Значение опции</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="127"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ProductRestrictionType">
      <xsd:annotation>
         <xsd:documentation>Условие вклада или НСО</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Currency">
            <xsd:annotation>
               <xsd:documentation>Код валюты</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AmountMin" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Минимальная сумма</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AmountMax" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Максимальная сумма</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PeriodMin">
            <xsd:annotation>
               <xsd:documentation>Минимальный период (месяцы)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PeriodMax">
            <xsd:annotation>
               <xsd:documentation>Максимальный период (месяцы)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="xsd:integer">
                  <xsd:totalDigits value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
