mock-example/src/main/resources/in/KKMB/AMRLiRT/SOAP/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/NewXMLSchema" 
xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

<element name="Response" type="tns:ResponseType"/>

<complexType name="ResponseType">
	<choice>
		<element name="ListOfErrors"  minOccurs="0">
			<complexType>
				<sequence>
					<element name="Error"></element>
				</sequence>
			</complexType>
		</element>
		<sequence>
			<element name="Participart1" minOccurs="0">
			</element>
			<element name="Participart2" minOccurs="0">
			</element>
		</sequence>
	</choice>
</complexType>

</schema>