mock-example/src/main/resources/in/KKMB/AMRLiRT/SOAP/smb.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:smb="http://service.smb.sberbank.luxoft.com/"
            targetNamespace="http://service.smb.sberbank.luxoft.com/"
            elementFormDefault="qualified">
            
    <xsd:simpleType name="Number">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="|0|-?((0,\d+)|[1-9][0-9]*(,[0-9]+)*)"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Parameter">
        <xsd:sequence>
            <xsd:element name="ParameterName" type="xsd:string"/>
            <xsd:element name="ParameterValue" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Product">
        <xsd:sequence>
            <xsd:element name="ProductId" type="xsd:string"/>
            <xsd:element name="ProductName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AbstractProductLimit" abstract="true">
        <xsd:sequence>
            <xsd:element name="LimitTypeId" type="xsd:string"/>
            <xsd:element name="Product" type="smb:Product"/>
            <xsd:element name="PurposeGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PurposeGroupId" type="xsd:string"/>
                        <xsd:element name="PurposeGroupName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Period" type="smb:Number"/>
            <xsd:element name="GroupOfProducts">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="GroupId" type="xsd:string"/>
                        <xsd:element name="GroupName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Currency" type="xsd:string"/>
            <xsd:element name="CurrencyRate" type="smb:Number"/>

            <xsd:element name="ListOfProductLimitParameters" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProductLimitParameter" type="smb:Parameter"
                                     maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InputProductLimit">
        <xsd:complexContent>
            <xsd:extension base="smb:AbstractProductLimit"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="InputListOfProductLimits">
        <xsd:sequence>
            <xsd:element name="ProductLimit" maxOccurs="unbounded" type="smb:InputProductLimit"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OutputProductLimit">
        <xsd:complexContent>
            <xsd:extension base="smb:AbstractProductLimit">
                <xsd:sequence>
                    <xsd:element name="CalculatedAmount" type="smb:Number"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="OutputListOfProductLimits">
        <xsd:sequence>
            <xsd:element name="ProductLimit" maxOccurs="unbounded" type="smb:OutputProductLimit"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ListOfLiabilities">
        <xsd:sequence>
            <xsd:element name="Liability" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ContractId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LimitId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="LenderType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="LenderTypeId" type="xsd:string"/>
                                    <xsd:element name="LenderTypeName" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Product" minOccurs="0" type="smb:Product"/>
                        <xsd:element name="LiabilityType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="LiabilityTypeId" type="xsd:string"/>
                                    <xsd:element name="LiabilityTypeName" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="PurposeType">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="PurposeTypeId" type="xsd:string"/>
                                    <xsd:element name="PurposeTypeName" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="SecurityType" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="SecurityTypeId" type="xsd:string" minOccurs="0"/>
                                    <xsd:element name="SecurityTypeName" type="xsd:string" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="RepaymentMethod" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="RepaymentMethodId" type="xsd:string"/>
                                    <xsd:element name="RepaymentMethodName" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="ResidualDebt" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="ResidualLimit" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="Currency" type="xsd:string"/>
                        <xsd:element name="CurrencyRate" type="smb:Number"/>
                        <xsd:element name="InterestRate" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="RemainingTerm" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="RequestedTerm" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="WarrantyTerm" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="MaxFixDebt" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="OverdueTerm" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="GuaranteeAmount" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="WarrantySum" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="IsRepayment" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="IsOverallLimit" type="smb:Number" minOccurs="0"/>
                        <xsd:element name="ListOfLiabilityParameters" minOccurs="0">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="LiabilityParameter" type="smb:Parameter"
                                                 maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="limCalculationRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="User" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="FIO" type="xsd:string"/>
                            <xsd:element name="Position" type="xsd:string"/>
                            <xsd:element name="TDivision" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="FDivision" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="ListOfUserParameters" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="UserParameter" type="smb:Parameter" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="MaxRiskProfile" type="smb:Number"/>
                <xsd:element name="Counterparty">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Id" type="xsd:string"/>
                            <xsd:element name="Name" type="xsd:string"/>
                            <xsd:element name="Role" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="RoleId" type="xsd:string"/>
                                        <xsd:element name="RoleName" type="xsd:string"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="Pd" type="smb:Number"/>
                            <xsd:element name="EquityCapital" type="smb:Number"/>
                            <xsd:element name="TotalAssets" type="smb:Number"/>
                            <xsd:element name="AvgMonthlyRevenue" type="smb:Number"/>
                            <xsd:element name="NetMonthlyProfit" type="smb:Number"/>
                            <xsd:element name="ListOfCounterpartyParameters" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="CounterpartyParameter"
                                                     type="smb:Parameter" maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ListOfLiabilities" type="smb:ListOfLiabilities" minOccurs="0"/>
                            <xsd:element name="ListOfProductLimits" type="smb:InputListOfProductLimits"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ConsolidatedGroup" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Id" type="xsd:string"/>
                            <xsd:element name="Name" type="xsd:string"/>
                            <xsd:element name="Pd" type="smb:Number"/>
                            <xsd:element name="AvgMonthlyRevenue" type="smb:Number"/>
                            <xsd:element name="NetMonthlyProfit" type="smb:Number"/>
                            <xsd:element name="ListOfConsolidatedGroupParameters" minOccurs="0">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="ConsolidatedGroupParameter" type="smb:Parameter"
                                                     maxOccurs="unbounded"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="ListOfLiabilities" type="smb:ListOfLiabilities"
                                         minOccurs="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ListOfParameters" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Parameter" type="smb:Parameter" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="limCalculationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ErrorCode" type="xsd:string"/>
                <xsd:element name="ErrorMessage" minOccurs="0" type="xsd:string"/>
                <xsd:element name="ExtErrorMessage" minOccurs="0" type="xsd:string"/>
                <xsd:element name="AggregatedLimitForCG" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="CalculatedAmount" type="smb:Number"/>
                            <xsd:element name="Currency" type="xsd:string"/>
                            <xsd:element name="CurrencyRate" type="smb:Number"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="ListOfProductLimits" minOccurs="0" type="smb:OutputListOfProductLimits"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>