mock-example/src/main/webapp/WEB-INF/in/KKMB/CRM/UpdateContractInfoRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://sbrf.ru/prpc/kkmb/crm/UpdateContractInfo/req/10" 
		xmlns:tns="http://sbrf.ru/prpc/kkmb/crm/UpdateContractInfo/req/10" 
		xmlns:ct="http://sbrf.ru/prpc/kkmb/crm/CommonTypes/10" 
		elementFormDefault="qualified">
		
	<import schemaLocation="CommonTypes.xsd" namespace="http://sbrf.ru/prpc/kkmb/crm/CommonTypes/10"/>
	
	<element name="UpdateContractInfo" type="tns:ContractInfoUpd" />
	
		<complexType name="ListOfLimitUpd">
			<sequence>
				<element name="Limit" type="tns:LimitUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	
		<complexType name="LimitUpd">
			<sequence>
				<element name="ParentLimitID" type="ct:String60" minOccurs="0" maxOccurs="1"/>
				<element name="ClientID" type="ct:String15" minOccurs="0" maxOccurs="1"/>
				<element name="GSZ_ID" type="ct:String15" minOccurs="0" maxOccurs="1"/>
				<element name="KG_ID" type="ct:String15" minOccurs="0" maxOccurs="1"/>
				<element name="LimitType" type="ct:String50" minOccurs="0" maxOccurs="1"/>
				<element name="TypeOfBusinessPartner" type="ct:String50" minOccurs="1" maxOccurs="1"/>
				<element name="LimitStatus" type="ct:String50" minOccurs="1" maxOccurs="1"/>
				<element name="TypicalLoanTerm" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="LimitID" type="ct:String60"  minOccurs="1" maxOccurs="1"/>
				<element name="ApprovalDate" type="date" minOccurs="0" maxOccurs="1"/>
				<element name="LimitValue" type="ct:Decimal20_5" minOccurs="0" maxOccurs="1"/>
				<element name="Utilization" type="ct:Decimal20_5" minOccurs="0" maxOccurs="1"/>
				<element name="OwnerLimit" type="ct:String30" minOccurs="0" maxOccurs="1"/>
				<element name="DocApprovalNum" type="ct:String30" minOccurs="0" maxOccurs="1"/>
				<element name="CreditPurpose" type="ct:String30" minOccurs="0" maxOccurs="1"/>
				<element name="KindOfLimit" type="ct:String30" minOccurs="0" maxOccurs="1"/>
				<element name="MaximumLGD" type="ct:Decimal4_2" minOccurs="0" maxOccurs="1"/>
				<element name="Currency" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="FreeLimitBalance" type="ct:Decimal22_5" minOccurs="0" maxOccurs="1"/>				
				<element name="MaximumRatingOfBorrower" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="MaximumRatingOfGroup" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="AssuranceFramework" type="ct:String2000" minOccurs="0" maxOccurs="1"/>
				<element name="OtherConditions" type="ct:String2000" minOccurs="0" maxOccurs="1"/>				
				<element name="ProductName" type="ct:String50" minOccurs="0" maxOccurs="1"/>
				<element name="CalculatedSum" type="ct:Decimal20_5" minOccurs="0" maxOccurs="1"/>
				<element name="AvailabilityPeriod" type="date" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>
	
		<complexType name="ContractInfoUpd">
			<sequence>
				<element name="ContractID" type="ct:String15" minOccurs="1" maxOccurs="1"/>
				<element name="ContractStatus" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="CauseClosed" type="ct:String50" minOccurs="0" maxOccurs="1"/>
				<element name="LGD" type="ct:Decimal2_2" minOccurs="0" maxOccurs="1"/>
				<element name="EL" type="ct:Decimal17_2" minOccurs="0" maxOccurs="1"/>
				<element name="RatingIntID" type="ct:String15" minOccurs="0" maxOccurs="1"/>
				<element name="MarketsValue" type="ct:Decimal17_2" minOccurs="0" maxOccurs="1"/>
				<element name="GuaranteesAmount" type="ct:Decimal17_2" minOccurs="0" maxOccurs="1"/>
				<element name="SecurityAmount" type="ct:Decimal17_2" minOccurs="0" maxOccurs="1"/>
				<element name="AdditionalInfo" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
				<element name="MethodOfSale" type="ct:String50" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfTermOfProduct" type="ct:ListOfTermOfProduct" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfTerm" type="ct:ListOfTerm" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfLoanSecurityInformation" type="ct:ListOfLoanSecurityInformation" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfGuarantor" type="ct:ListOfGuarantor" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRisk" type="tns:ListOfRiskUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfDispute" type="tns:ListOfDisputeUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfConclusionInfo" type="tns:ListOfConclusionInfoUpd" minOccurs="1" maxOccurs="1"/>
				<element name="UPRInfo" type="tns:UPRInfoUpd" minOccurs="0" maxOccurs="1"/>
				<element name="ListOfLimit" type="tns:ListOfLimitUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfEmployeeInfo" type="tns:ListOfEmployeeInfoUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRatingInfo" type="tns:ListOfRatingInfoUpd" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
		
		<complexType name="ListOfRiskUpd">
			<sequence>
				<element name="Risk" type="tns:RiskUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>	

		<complexType name="ListOfDisputeUpd">
			<sequence>
				<element name="Dispute" type="tns:DisputeUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>	

		<complexType name="ListOfConclusionInfoUpd">
			<sequence>
				<element name="ConclusionInfo" type="tns:ConclusionInfoUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>			
		
		<complexType name="ListOfEmployeeInfoUpd">
			<sequence>
				<element name="EmployeeInfo" type="tns:EmployeeInfoUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>	

		<complexType name="ListOfRatingInfoUpd">
			<sequence>
				<element name="RatingInfo" type="tns:RatingInfoUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>		
	
		<complexType name="RiskUpd">
			<sequence>
				<element name="Initiator" type="ct:String1024" minOccurs="0" maxOccurs="1"/>
				<element name="Name" type="ct:String250" minOccurs="0" maxOccurs="1"/>
				<element name="DescriptionOfRisk" type="ct:String300" minOccurs="0" maxOccurs="1"/>
				<element name="CommentKP" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
				<element name="EvaluationKP" type="ct:String250" minOccurs="0" maxOccurs="1"/>
				<element name="CommentAR" type="ct:String300" minOccurs="0" maxOccurs="1"/>
				<element name="EvaluationAR" type="ct:String250" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="DisputeUpd">
			<sequence>
				<element name="Dispute" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
				<element name="DisputeSettlementActivities" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="ConclusionInfoUpd">
			<sequence>
				<element name="Conclusion" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
				<element name="KI" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
				<element name="AR" type="ct:String1000" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="UPRInfoUpd">
			<sequence>
				<element name="UPR" type="ct:String100" minOccurs="0" maxOccurs="1"/>
				<element name="FormatUPR" type="ct:String30" minOccurs="0" maxOccurs="1"/>
				<element name="Risk" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="CategoryAR" type="ct:Decimal22_7" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="EmployeeInfoUpd">
			<sequence>
				<element name="Login" type="ct:String50" minOccurs="1" maxOccurs="1"/>
				<element name="Role" type="ct:String30" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>	
		
		<complexType name="ListOfRatingCalculatedValueUpd">
			<sequence>
				<element name="RatingCalculatedValue" type="tns:RatingCalculatedValueUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>	

		<complexType name="ListOfRatingDetailsUpd">
			<sequence>
				<element name="RatingDetailsValue" type="tns:RatingDetailsValueUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>

		<complexType name="ListOfRatingCorrectionDetailsUpd">
			<sequence>
				<element name="RatingCorrectionValue" type="tns:RatingCorrectionValueUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>			
		
		<complexType name="ListOfRatingFactorListUpd">
			<sequence>
				<element name="RatingFactor" type="tns:RatingFactorUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>		
	
		<complexType name="RatingInfoUpd">
			<sequence>
				<element name="RatingInegrationID" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="PD" type="ct:Decimal22_7" minOccurs="0" maxOccurs="1"/>
				<element name="TypeRating" type="ct:String30" minOccurs="0" maxOccurs="1"/>			
				<element name="ValueRating" type="ct:Decimal22_7" minOccurs="0" maxOccurs="1"/>
				<element name="EndDateRating" type="date" minOccurs="0" maxOccurs="1"/>
				<element name="ModelID" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="IsProjectRating" type="boolean" minOccurs="1" maxOccurs="1"/>
				<element name="OrganizationID" type="ct:String15" minOccurs="0" maxOccurs="1"/>			
				<element name="ConsGroupID" type="ct:String15" minOccurs="0" maxOccurs="1"/>			
				<element name="ProjectName" type="ct:String255" minOccurs="0" maxOccurs="1"/>			
				<element name="CalculatedID" type="ct:String255" minOccurs="1" maxOccurs="1"/>			
				<element name="StatusRating" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfAddInfoParam" type="tns:ListOfAddInfoParamUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRatingPeriod" type="tns:ListOfRatingPeriodUpd" minOccurs="1" maxOccurs="1"/> 
				<element name="ListOfFixedFactor" type="tns:ListOfFixedFactorUpd" minOccurs="1" maxOccurs="1"/> 
				<element name="ListOfRatingSupport" type="tns:ListOfRatingSupportUpd" minOccurs="1" maxOccurs="1"/> 
				<element name="ListOfTeamUsers" type="tns:ListOfTeamUsersUpd" minOccurs="1" maxOccurs="1"/> 
				<element name="ListOfRatings" type="tns:ListOfRatingsUpd" minOccurs="1" maxOccurs="1"/> 
			</sequence>
		</complexType>	
		
		<complexType name="ListOfAddInfoParamUpd">
			<sequence>
				<element name="AddInfoParam" type="tns:AddInfoParamUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="AddInfoParamUpd">
			<sequence>
				<element name="Number" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="Name" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>
		
		<complexType name="ListOfRatingPeriodUpd">
			<sequence>
				<element name="RatingPeriod" type="tns:RatingPeriodUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="RatingPeriodUpd">
			<sequence>
				<element name="PeriodFO" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="PeriodDescription" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="PeriodName" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="StartDate" type="date" minOccurs="0" maxOccurs="1"/>
				<element name="EndDate" type="date" minOccurs="0" maxOccurs="1"/>
				<element name="PeriodType" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="Comments" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="ListOfCardinalFactor" type="tns:ListOfCardinalFactorUpd" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>		
		
		<complexType name="ListOfCardinalFactorUpd">
			<sequence>
				<element name="CardinalFactor" type="tns:CardinalFactorUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="CardinalFactorUpd">
			<sequence>
				<element name="Role" type="ct:String30" minOccurs="1" maxOccurs="1"/>			
				<element name="Factor" type="ct:String255" minOccurs="1" maxOccurs="1"/>			
				<element name="FactorID" type="ct:String255" minOccurs="1" maxOccurs="1"/>			
				<element name="NumValue" type="decimal" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>		
		
		<complexType name="ListOfFixedFactorUpd">
			<sequence>
				<element name="FixedFactor" type="tns:FixedFactorUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="FixedFactorUpd">
			<sequence>
				<element name="Role" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="Factor" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="FactorID" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
		
		<complexType name="ListOfRatingSupportUpd">
			<sequence>
				<element name="RatingSupport" type="tns:RatingSupportUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="RatingSupportUpd">
			<sequence>
				<element name="SubjectName" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="FreeValue" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="FactorID" type="ct:String15" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfGroupSupportFactors" type="tns:ListOfGroupSupportFactorsUpd" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>

		<complexType name="ListOfGroupSupportFactorsUpd">
			<sequence>
				<element name="GroupSupportFactors" type="tns:GroupSupportFactorsUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="GroupSupportFactorsUpd">
			<sequence>
				<element name="Role" type="ct:String30" minOccurs="1" maxOccurs="1"/>
				<element name="Name" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="FactorID" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="FactorValueID" type="ct:String15" minOccurs="1" maxOccurs="1"/>
				<element name="FreeValue" type="ct:String255" minOccurs="0" maxOccurs="1"/>
			</sequence>
		</complexType>

		<complexType name="ListOfTeamUsersUpd">
			<sequence>
				<element name="TeamUsers" type="tns:TeamUsersUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>

		<complexType name="TeamUsersUpd">
			<sequence>
				<element name="TeamUsers" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="UserLogin" type="ct:String50" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>

		<complexType name="ListOfRatingsUpd">
			<sequence>
				<element name="Rating" type="tns:RatingUpd" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>			
		</complexType>
		
		<complexType name="RatingUpd">
			<sequence>
				<element name="TeamRole" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="UserLogin" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="TypeOfRating" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="RatingCorrection" type="int" minOccurs="0" maxOccurs="1"/>
				<element name="Date" type="date" minOccurs="0" maxOccurs="1"/>
				<element name="ReasonForCorrection" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="ReasonedJudgment" type="ct:String255" minOccurs="0" maxOccurs="1"/>
				<element name="ListOfRatingCalculatedValue" type="tns:ListOfRatingCalculatedValueUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRatingDetails" type="tns:ListOfRatingDetailsUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRatingCorrectionDetails" type="tns:ListOfRatingCorrectionDetailsUpd" minOccurs="1" maxOccurs="1"/>
				<element name="ListOfRatingFactorList" type="tns:ListOfRatingFactorListUpd" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
		
	
		<complexType name="RatingCalculatedValueUpd">
			<sequence>
				<element name="MajorValue" type="boolean" minOccurs="1" maxOccurs="1"/>
				<element name="Name" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="RatingDetailsValueUpd">
			<sequence>
				<element name="Number" type="int" minOccurs="1" maxOccurs="1"/>
				<element name="Name" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>	
	
		<complexType name="RatingCorrectionValueUpd">
			<sequence>
				<element name="Number" type="int" minOccurs="1" maxOccurs="1"/>
				<element name="Name" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>	
		
		<complexType name="RatingFactorUpd">
			<sequence>
				<element name="Name" type="ct:String255" minOccurs="1" maxOccurs="1"/>
				<element name="Value" type="ct:String255" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>	
		
</schema>