mock-example/src/main/webapp/WEB-INF/in/BBMO/BBMO/BBMOOperationElementsPRPC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10" xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10" xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10" xmlns:tns="http://sbrf.ru/prpc/bbmo/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sbrf.ru/prpc/bbmo/10" elementFormDefault="qualified">
	<import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10" schemaLocation="./commonTypes/dataTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10" schemaLocation="./commonTypes/simpleTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10" schemaLocation="./commonTypes/commonTypes.xsd"/>
	<!--========================================-->
	<!--Elements from schema ./BBMOOperationElements.xsd-->
	<!--========================================-->
	<!-- Enterprise level operations from Sberbank-Int-ESB-->
	<element name="SrvRegisterTransactionPassportRq">
		<annotation>
			<documentation>Запрос на оформление паспорта сделки</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:TransactionPassportAndEGRUL">
							<annotation>
								<documentation>Паспорт сделки/ЕГРЮЛ</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterTransactionPassportRs">
		<annotation>
			<documentation>Результат оформления паспорта сделки</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:TransactionPassportAttrs" minOccurs="0">
							<annotation>
								<documentation>Атрибуты оформленного (переоформленного) паспорта сделки</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetExchangeControlDocumentInformationRq">
		<annotation>
			<documentation>Запрос на получение информации по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
							<annotation>
								<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element ref="tns:BankSubdivision" minOccurs="0">
							<annotation>
								<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
							<annotation>
								<documentation>ИНН клиента</documentation>
							</annotation>
						</element>
						<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
							<annotation>
								<documentation>КПП клиента</documentation>
							</annotation>
						</element>
						<element name="DocumentKind">
							<annotation>
								<documentation>Вид документа
Принимает значения:
1 – Паспорт сделки
2 – СоВО с ПС
3 – СоВО без ПС
4 – СоПВРФ
5 – СоПД
6 – СоРЧСЗР
7 – ЕГРЮЛ</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
									<enumeration value="4"/>
									<enumeration value="5"/>
									<enumeration value="6"/>
									<enumeration value="7"/>
								</restriction>
							</simpleType>
						</element>
						<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
							<annotation>
								<documentation>Номер паспорта сделки</documentation>
							</annotation>
						</element>
						<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
							<annotation>
								<documentation>Номер счета</documentation>
							</annotation>
						</element>
						<element name="CurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
							<annotation>
								<documentation>Код валюты счета</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetExchangeControlDocumentInformationRs">
		<annotation>
			<documentation>Результат получения информации по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:ExchangeControlDocumentInformation" minOccurs="0">
							<annotation>
								<documentation>Информация по документам ВК</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvAddExchangeControlDocumentRq">
		<annotation>
			<documentation>Запрос на добавление документа валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:ExchangeControlDocument">
							<annotation>
								<documentation>Документ валютного контроля</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvAddExchangeControlDocumentRs">
		<annotation>
			<documentation>Результат добавления документа валютного контроля</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientReferenceDataRq">
		<annotation>
			<documentation>Запрос на получение справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="ClientId" type="dt:PosInteger" minOccurs="0">
							<annotation>
								<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element ref="tns:BankSubdivision" minOccurs="0">
							<annotation>
								<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
							</annotation>
						</element>
						<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
							<annotation>
								<documentation>ИНН клиента</documentation>
							</annotation>
						</element>
						<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
							<annotation>
								<documentation>КПП клиента</documentation>
							</annotation>
						</element>
						<element name="AgreementIdentifier" type="dt:DefString" minOccurs="0">
							<annotation>
								<documentation>Идентификатор договора</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvGetClientReferenceDataRs">
		<annotation>
			<documentation>Результат получения справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element ref="tns:ClientReferenceData" minOccurs="0">
							<annotation>
								<documentation>Справочные данные клиента</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvUpdateClientReferenceDataRq">
		<annotation>
			<documentation>Запрос на изменение справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="UpdateType">
							<annotation>
								<documentation>Тип загрузки
1 – Загрузить 
2 – Обновить 
3 – Изменить
Зарезервировано. В данной версии не используется.</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
								</restriction>
							</simpleType>
						</element>
						<element name="ChangeType">
							<annotation>
								<documentation>Тип изменения
1 – Изменение данных клиента
2 – Внесение измене-ний в юр. дело</documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
								</restriction>
							</simpleType>
						</element>
						<element name="ChangeSubject" type="dt:DefString" minOccurs="0">
							<annotation>
								<documentation>Содержание изменения</documentation>
							</annotation>
						</element>
						<element name="VSPCommissionPayment" type="dt:Boolean" minOccurs="0">
							<annotation>
								<documentation>Признак взятия комиссии в ВСП</documentation>
							</annotation>
						</element>
						<element ref="tns:ClientReferenceData">
							<annotation>
								<documentation>Справочные данные клиента</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvUpdateClientReferenceDataRs">
		<annotation>
			<documentation>Результат изменения справочных данных клиента</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvPermitAccountChargeOperationRq">
		<annotation>
			<documentation>Запрос на разрешение проведения расходных операций</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:BankSubdivision">
							<annotation>
								<documentation>Подразделение
Справочник подразделений Банка</documentation>
							</annotation>
						</element>
						<element name="AccountNumber" type="st:AccountNumber_Type">
							<annotation>
								<documentation>Номер расчетного счета</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvPermitAccountChargeOperationRs">
		<annotation>
			<documentation>Результат разрешения проведения расходных операций</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendSystemMessageRs">
		<annotation>
			<documentation>Результат передачи системного сообщения об ошибке</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse"/>
			</complexContent>
		</complexType>
	</element>
	<!-- Framework level operations from Sberbank-FW-BBMO-Int-ESB-->
	<element name="SrvRegisterLegalPersonApplicationRq">
		<annotation>
			<documentation>Запрос на регистрацию заявления юридического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:LegalPersonApplication">
							<annotation>
								<documentation>Заявление юридического лица</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterLegalPersonApplicationRs">
		<annotation>
			<documentation>Результат регистрации заявления юридического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для выбора и инициализации конкретного процесса обработки заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterNaturalPersonCompensationApplicationRq">
		<annotation>
			<documentation>Запрос на регистрацию заявления физического лица на компенсацию</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonCompesationApplication">
							<annotation>
								<documentation>Заявление физического лица на компенсацию</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvRegisterNaturalPersonCompensationApplicationRs">
		<annotation>
			<documentation>Результат регистрации заявления физического лица на компенсацию</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для сканирования документов</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationForCBDFProcessingRq">
		<annotation>
			<documentation>Запрос на передачу заявления на обработку в ЦБДФ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonCompesationApplication">
							<annotation>
								<documentation>Заявление физического лица на компенсацию</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationForCBDFProcessingRs">
		<annotation>
			<documentation>Результат передачи заявления на обработку в ЦБДФ</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="ApplicationId" type="st:ApplicationId_Type" minOccurs="0">
							<annotation>
								<documentation>ID заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationProcessingURLRq">
		<annotation>
			<documentation>Запрос на передачу URL задания обработки заявления</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element name="ApplicationId" type="st:ApplicationId_Type">
							<annotation>
								<documentation>ID заявления</documentation>
							</annotation>
						</element>
						<element name="URLType">
							<annotation>
								<documentation>Тип URL
1 – «Экран просмотра пакета документов»
2 – «Экран просмотра истории обработки заявления»
3 – «Экран просмотра списка задач»
7 - «Направление в ВСП (на добор/пересканирование)»
9 - «Инициация добора пакета»
11 - «Направление на согласование»
                                </documentation>
							</annotation>
							<simpleType>
								<restriction base="dt:DefPosInteger">
									<enumeration value="1"/>
									<enumeration value="2"/>
									<enumeration value="3"/>
									<enumeration value="7"/>
									<enumeration value="9"/>
									<enumeration value="11"/>
								</restriction>
							</simpleType>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendApplicationProcessingURLRs">
		<annotation>
			<documentation>Результат передачи URL задания обработки заявления</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationCreationByOriginMessageRq">
		<annotation>
			<documentation>Запрос на передачу сообщения о создании заявления физического лица на основании первоисточника</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonApplicationState">
							<annotation>
								<documentation>Состояние нового заявления</documentation>
							</annotation>
						</element>
						<element name="PrimaryApplicationId" type="st:ApplicationId_Type">
							<annotation>
								<documentation>ID заявления-первоисточника</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationStateChangeMessageRq">
		<annotation>
			<documentation>Запрос на изменение состояния заявления физического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingRequest">
					<sequence>
						<element ref="tns:NaturalPersonApplicationState">
							<annotation>
								<documentation>Состояние заявления</documentation>
							</annotation>
						</element>
						<element name="PackageId" type="st:PackageId_Type" minOccurs="0">
							<annotation>
								<documentation>ID пакета</documentation>
							</annotation>
						</element>
						<element name="TB" type="st:TB_Type" minOccurs="0">
							<annotation>
								<documentation>Номер ТБ</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<element name="SrvSendNaturalPersonApplicationStateChangeMessageRs">
		<annotation>
			<documentation>Результат изменения состояния заявления физического лица</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<extension base="ct:DataProcessingResponse">
					<sequence>
						<element name="URL" type="st:URL_Type" minOccurs="0">
							<annotation>
								<documentation>URL портала BPM для выбора и инициализации конкретного процесса обработки заявления</documentation>
							</annotation>
						</element>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/TransactionPassportTypes.xsd-->
	<!--========================================-->
	<element name="TransactionPassportAttrs">
		<annotation>
			<documentation>Атрибуты оформленного (переоформленного) паспорта сделки</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>Результат передачи данных</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumber" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="TransPassportDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="TransPassportReissueNumber" minOccurs="0">
					<annotation>
						<documentation>Номер переоформления</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TransPassportReissueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата переоформления</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="TransactionPassportAndEGRUL">
		<annotation>
			<documentation>Паспорт сделки/ЕГРЮЛ</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision" minOccurs="0">
					<annotation>
						<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="ExchangeControlOperationFlag">
					<annotation>
						<documentation>Признак операции ВК
Принимает значения:
1 – Новый ПС
2 – Переоформление ПС
3 – ЕГРЮЛ</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TransPassportType">
					<annotation>
						<documentation>Вид паспорта сделки
Принимает значения:
1 – ПС по контракту
2 – ПС по кредитному договору</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element ref="tns:AddressInfo" minOccurs="0">
					<annotation>
						<documentation>Адрес</documentation>
					</annotation>
				</element>
				<element name="ContractTypeCode" minOccurs="0">
					<annotation>
						<documentation>Код вида контракта</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CounterpartyName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Наименование иностранного контрагента</documentation>
					</annotation>
				</element>
				<element name="CounterpartyCountry" minOccurs="0">
					<annotation>
						<documentation>Наименование страны иностранного контрагента</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CounterpartyCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны иностранного контрагента</documentation>
					</annotation>
				</element>
				<element name="ContractNum" minOccurs="0">
					<annotation>
						<documentation>Номер контракта</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ContractSignDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата подписания контракта</documentation>
					</annotation>
				</element>
				<element name="PriceCurrency" minOccurs="0">
					<annotation>
						<documentation>Наименование валюты цены</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PriceCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены</documentation>
					</annotation>
				</element>
				<element name="AmountOfContract" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма контракта</documentation>
					</annotation>
				</element>
				<element name="SettlementEndDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата завершения исполнения обязательств в паспорте сделки (по кредитному договору)</documentation>
					</annotation>
				</element>
				<element name="DocumentsSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документов</documentation>
					</annotation>
				</element>
				<element name="Conditions_AbroadAccountsIncome" minOccurs="0">
					<annotation>
						<documentation>Особые условия / зачисление на счета за рубежом</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger"/>
					</simpleType>
				</element>
				<element name="Conditions_RedemptionByExchangeRevenue" minOccurs="0">
					<annotation>
						<documentation>Особые условия / погашение за счет валютной выручки</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="50"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Conditions_ExchangeClauseFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / валютная оговорка (отметка)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Conditions_ImportExportGoodsFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / ввоз/вывоз товара</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Conditions_AbroadConstructionFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / проведение строительных и подрядных работ за пределами территории Российской Федерации (отметка)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PermissionNumber" minOccurs="0">
					<annotation>
						<documentation>Номер разрешения</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="50"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PermissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата разрешения</documentation>
					</annotation>
				</element>
				<element name="PermissionAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма разрешения</documentation>
					</annotation>
				</element>
				<element name="PermissionExpirationDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Срок окончания действия разрешения</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumberBefore180604" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки, оформленного до 18 июня 2004 года</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumberInAnotherBank" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки, ранее оформленного в другом уполномоченном банке</documentation>
					</annotation>
				</element>
				<element name="ContractConditions" minOccurs="0">
					<annotation>
						<documentation>Условия о сроках и порядке расчетов по контракту (доп. условия)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="800"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Period" minOccurs="0">
					<annotation>
						<documentation>Срок от даты выпуска до даты зачисления, срок от даты оплаты до даты ввоза товаров</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="List2Date" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата оформления листа 2</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumber" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="RedemptionCode" minOccurs="0">
					<annotation>
						<documentation>Код срока погашения/по кредитному договору</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:PosInteger">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TrancheAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма транша</documentation>
					</annotation>
				</element>
				<element name="TrancheDate" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>Срок транша</documentation>
					</annotation>
				</element>
				<element name="InterestRate" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Фиксированный размер процентной ставки, % го-довых</documentation>
					</annotation>
				</element>
				<element name="LIBORCode" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Код ставки "ЛИБОР"</documentation>
					</annotation>
				</element>
				<element name="OtherInterestRateMethods" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Другие методы определения процентной ставки</documentation>
					</annotation>
				</element>
				<element name="AdditionalPayments" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Размер процентной надбавки (дополнительных платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты кредитного договора (сумма задолженности)</documentation>
					</annotation>
				</element>
				<element name="DebtAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма задолженности по основному долгу</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (график платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (график платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (график платежей, суммы платежей по датам их осуществления)</documentation>
					</annotation>
				</element>
				<element name="SpecialConditions" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Описание особых условий</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="RedemptionSpecialConditions" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Описание особых условий для графика возврата</documentation>
					</annotation>
				</element>
				<element name="IMFRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к международной валютной организации</documentation>
					</annotation>
				</element>
				<element name="EBRDRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к ЕБРР</documentation>
					</annotation>
				</element>
				<element name="WBRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к Мировому банку</documentation>
					</annotation>
				</element>
				<element name="OtherFinanceOrgRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к другим финансовым международным организациям</documentation>
					</annotation>
				</element>
				<element name="NotMultilateralLenderRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к кредиторам, не являющимся МФО</documentation>
					</annotation>
				</element>
				<element name="DirectInvestmentRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о наличии отношений прямого инвестирования</documentation>
					</annotation>
				</element>
				<element name="GuaranteeAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма залогового и другого обеспечения</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCounterpartyName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Наименование иностранного контрагента (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCounterpartyCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны регистрации иностранного контрагента (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Цифровой код валюты цены (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма предоставляемая (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedPercentInTotal" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Доля в общей сумме кредита (займа), %</documentation>
					</annotation>
				</element>
				<element name="PermissionsCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны (информация о разрешениях)</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/NaturalPersonApplicationTypes.xsd-->
	<!--========================================-->
	<element name="NaturalPersonCompesationApplication">
		<annotation>
			<documentation>Заявление физического лица на компенсацию</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ApplicationId" type="st:ApplicationId_Type">
					<annotation>
						<documentation>ID заявления</documentation>
					</annotation>
				</element>
				<element name="DocumentPackageType">
					<annotation>
						<documentation>Тип пакета документов
1 – «Выплата компенсации вкладчику»
2 – «Выплата компенсации наследнику»
3 – «Выплата компенсации наследнику, включая ритуальные услуги»</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="LastName">
					<annotation>
						<documentation>Фамилия</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FirstName">
					<annotation>
						<documentation>Имя</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="MiddleName" minOccurs="0">
					<annotation>
						<documentation>Отчество</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="IdentificationDocumentType" type="st:IdentificationDocumentType_Type" minOccurs="0">
					<annotation>
						<documentation>Вид ДУЛ</documentation>
					</annotation>
				</element>
				<element name="IdentificationDocumentSeries" minOccurs="0">
					<annotation>
						<documentation>Серия ДУЛ</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="IdentificationDocumentNumber" minOccurs="0">
					<annotation>
						<documentation>Номер ДУЛ</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="BirthDate" type="dt:Date">
					<annotation>
						<documentation>Дата рождения</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision">
					<annotation>
						<documentation>Подразделение
Справочник подразделений Банка</documentation>
					</annotation>
				</element>
				<element name="IssueDate" type="dt:Date">
					<annotation>
						<documentation>Дата заявления</documentation>
					</annotation>
				</element>
				<element name="PackageId" type="st:PackageId_Type" minOccurs="0">
					<annotation>
						<documentation>ID пакета</documentation>
					</annotation>
				</element>
				<element name="BarCode" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Штрих-код</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="NaturalPersonApplicationState">
		<annotation>
			<documentation>Состояние заявления физического лица</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ApplicationId" type="st:ApplicationId_Type">
					<annotation>
						<documentation>ID заявления</documentation>
					</annotation>
				</element>
				<element name="ApplicationStatus" type="st:ApplicationStatus_Type">
					<annotation>
						<documentation>Статус заявления</documentation>
					</annotation>
				</element>
				<element name="Comment" minOccurs="0">
					<annotation>
						<documentation>Комментарий</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="4000"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/LegalPersonApplicationTypes.xsd-->
	<!--========================================-->
	<element name="LegalPersonApplication">
		<annotation>
			<documentation>Заявление юридического лица</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ApplicationId" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>ID заявления (не используется, добавлено на перспективу)</documentation>
					</annotation>
				</element>
				<element name="OperationType" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Тип операции (не используется, добавлено на перспективу)</documentation>
					</annotation>
				</element>
				<element name="ClientId" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>ID клиента</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type">
					<annotation>
						<documentation>ИНН Клиента</documentation>
					</annotation>
				</element>
				<element name="CustomerFullName" type="dt:DefString">
					<annotation>
						<documentation>Полное наименование клиента</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision">
					<annotation>
						<documentation>Подразделение
Справочник подразделений Банка</documentation>
					</annotation>
				</element>
				<element name="InitDate" type="dt:Date">
					<annotation>
						<documentation>Дата инициации заявления</documentation>
					</annotation>
				</element>
				<element name="AgreementIdentifier" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Идентификатор договора</documentation>
					</annotation>
				</element>
				<element name="AgreementNumber" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер договора</documentation>
					</annotation>
				</element>
				<element name="MainAccountNumber" type="st:AccountNumber_Type" minOccurs="0">
					<annotation>
						<documentation>Номер основного счета</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="BarCode" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Штрих-код</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/ExchangeControlTypes.xsd-->
	<!--========================================-->
	<element name="ExchangeControlDocumentInformation">
		<annotation>
			<documentation>Информация по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>ID документа</documentation>
					</annotation>
				</element>
				<element name="EGRUL_CustFullName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Полное наименование клиента из ЕГРЮЛ</documentation>
					</annotation>
				</element>
				<element name="OGRN" type="st:StateRegPrimeNum_Type" minOccurs="0">
					<annotation>
						<documentation>ОГРН</documentation>
					</annotation>
				</element>
				<element name="StateRegPrimeDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата внесения записи в гос. реестр</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="TransPassport_CustFullName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Полное наименование клиента из ПС</documentation>
					</annotation>
				</element>
				<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="PriceCurrCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены в паспорте сделки</documentation>
					</annotation>
				</element>
				<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
					<annotation>
						<documentation>Номер счета</documentation>
					</annotation>
				</element>
				<element name="AccountExist" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак существования счета</documentation>
					</annotation>
				</element>
				<element name="TransPassportExist" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак существования ПС</documentation>
					</annotation>
				</element>
				<element name="SettlementEndDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата завершения исполнения обязательств в паспорте сделки</documentation>
					</annotation>
				</element>
				<element ref="tns:AddressInfo" minOccurs="0">
					<annotation>
						<documentation>Адрес</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="ExchangeControlDocument">
		<annotation>
			<documentation>Документ валютного контроля</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision" minOccurs="0">
					<annotation>
						<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="DocumentType">
					<annotation>
						<documentation>Вид документа валютного контроля
Принимает значения:
1 – СоВО
2 – СоПВРФ
3 – СоПД
4 – СоРЧСЗР</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
							<enumeration value="4"/>
						</restriction>
					</simpleType>
				</element>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>ID документа</documentation>
					</annotation>
				</element>
				<element name="PaymentInstructionNumber" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер уведомления/номер расчетного документа</documentation>
					</annotation>
				</element>
				<element ref="tns:AccountingDocument" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Информация по расчетному документу (платежка)</documentation>
					</annotation>
				</element>
				<element name="DocumentsSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документов</documentation>
					</annotation>
				</element>
				<element name="ContractCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты (валюта контракта)</documentation>
					</annotation>
				</element>
				<element name="AmountOfContract" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма в валюте контракта</documentation>
					</annotation>
				</element>
				<element name="ReferenceDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата справки</documentation>
					</annotation>
				</element>
				<element ref="tns:TransactionPassport" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Информация по ПС</documentation>
					</annotation>
				</element>
				<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
					<annotation>
						<documentation>Номер счета</documentation>
					</annotation>
				</element>
				<element name="ValueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата зачисления</documentation>
					</annotation>
				</element>
				<element name="DocumentSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документa</documentation>
					</annotation>
				</element>
				<element name="PaymentDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата платежа</documentation>
					</annotation>
				</element>
				<element name="TransactionType" type="dt:DefPosInteger" minOccurs="0">
					<annotation>
						<documentation>Направление платежа
Принимает значения:
1 – зачисление;
2 – списание.
</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="AccountingDocument">
		<annotation>
			<documentation>Информация по расчетному документу (платежка)</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ExchangeOperationCode">
					<annotation>
						<documentation>Код вида валютной операции</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="5"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PaymentAmount" type="dt:PosFloat">
					<annotation>
						<documentation>Сумма платежа</documentation>
					</annotation>
				</element>
				<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="TransactionPassport">
		<annotation>
			<documentation>Информация по ПС</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TransPassportNum" type="st:TransPassportNum_Type">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="DocumentDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата документа</documentation>
					</annotation>
				</element>
				<element name="DocumentTypeCode" minOccurs="0">
					<annotation>
						<documentation>Код вида документа</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:PosInteger">
							<maxLength value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ConfirmativeDocumentCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты подтверждающего документа</documentation>
					</annotation>
				</element>
				<element name="ConfirmativeDocument" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма подтверждающего документа</documentation>
					</annotation>
				</element>
				<element name="DocumentSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документа</documentation>
					</annotation>
				</element>
				<element name="ContractCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты (валюта контракта)</documentation>
					</annotation>
				</element>
				<element name="ContractAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма в валюте контракта</documentation>
					</annotation>
				</element>
				<element name="MakingChangeFlag" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак корректировки записи</documentation>
					</annotation>
				</element>
				<element name="CustomsDeclarationNumber" minOccurs="0">
					<annotation>
						<documentation>Номер таможенной декларации</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ExchangeOperationCode" minOccurs="0">
					<annotation>
						<documentation>Код вида валютной операции</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="5"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PaymentAmmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма платежа</documentation>
					</annotation>
				</element>
				<element name="BankCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны банка-получателя (отправителя) платежа</documentation>
					</annotation>
				</element>
				<element name="AbroadAccountsPaymentsFlag" minOccurs="0">
					<annotation>
						<documentation>Признак проведения расчетов через счета в банках за рубежом</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="3"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/ClientReferenceDataTypes.xsd-->
	<!--========================================-->
	<element name="ClientReferenceData">
		<annotation>
			<documentation>Справочные данные клиента</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:ClientInformation" minOccurs="0">
					<annotation>
						<documentation>Информация о клиенте</documentation>
					</annotation>
				</element>
				<element ref="tns:NaturalPerson" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Физическое лицо</documentation>
					</annotation>
				</element>
				<element ref="tns:LegalPersonBankAccountAgreement" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Договор банковского счета юридического лица </documentation>
					</annotation>
				</element>
				<element ref="tns:SignPatternCard" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Карточка с образцами подписей </documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="ClientInformation">
		<annotation>
			<documentation>Информация о клиенте</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:Identifiers">
					<annotation>
						<documentation>Идентификаторы</documentation>
					</annotation>
				</element>
				<element ref="tns:SpecialData">
					<annotation>
						<documentation>Спец. данные</documentation>
					</annotation>
				</element>
				<element ref="tns:MainDetails">
					<annotation>
						<documentation>Основные реквизиты</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision">
					<annotation>
						<documentation>Подразделение
Справочник подразделений Банка</documentation>
					</annotation>
				</element>
				<element ref="tns:ClientAddress" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="tns:ClientContact" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="MainDetails">
		<annotation>
			<documentation>Основные реквизиты</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:Registration">
					<annotation>
						<documentation>Регистрация</documentation>
					</annotation>
				</element>
				<element ref="tns:TaxInspectorateInfo" minOccurs="0">
					<annotation>
						<documentation>Налоговая инспекция</documentation>
					</annotation>
				</element>
				<element ref="tns:RosstatCodes" minOccurs="0">
					<annotation>
						<documentation>Коды Росстата</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="RosstatCodes">
		<annotation>
			<documentation>Коды Росстата</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="OKATO" type="st:OKATO_Type" minOccurs="0">
					<annotation>
						<documentation>ОКАТО</documentation>
					</annotation>
				</element>
				<element name="OKPO" type="st:OKPO_Type" minOccurs="0">
					<annotation>
						<documentation>ОКПО</documentation>
					</annotation>
				</element>
				<element name="OKFS" type="st:OKFS_Type" minOccurs="0">
					<annotation>
						<documentation>ОКФС</documentation>
					</annotation>
				</element>
				<element name="OKOGU" type="st:OKOGU_Type" minOccurs="0">
					<annotation>
						<documentation>ОКОГУ</documentation>
					</annotation>
				</element>
				<element name="OKONH" type="st:OKONH_Type" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>ОКОНХ</documentation>
					</annotation>
				</element>
				<element name="OKOPF" type="st:OKOPF_Type" minOccurs="0">
					<annotation>
						<documentation>ОКОПФ</documentation>
					</annotation>
				</element>
				<element name="OKVED" type="st:OKVED_Type" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="TaxInspectorateInfo">
		<annotation>
			<documentation>Налоговая инспекция</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RegistrationSertificateNumber" minOccurs="0">
					<annotation>
						<documentation>Серия и номер свидетельства о постановке на учет</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="11"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TaxId" type="st:TaxId_Type">
					<annotation>
						<documentation>ИНН</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type">
					<annotation>
						<documentation>КПП</documentation>
					</annotation>
				</element>
				<element name="KIO" type="st:KIO_Type" minOccurs="0">
					<annotation>
						<documentation>КИО</documentation>
					</annotation>
				</element>
				<element name="TaxInspectorate" type="dt:DefPosInteger" minOccurs="0">
					<annotation>
						<documentation>Налоговая инспекция
Выбор из справочника «Налоговые инспекции»</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Registration">
		<annotation>
			<documentation>Регистрация</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="OGRN" type="st:StateRegPrimeNum_Type" minOccurs="0">
					<annotation>
						<documentation>ОГРН</documentation>
					</annotation>
				</element>
				<element name="OGRNAssignDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата присвоения ОГРН</documentation>
					</annotation>
				</element>
				<element name="OGRNIssueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата выдачи ОГРН</documentation>
					</annotation>
				</element>
				<element name="ShortName">
					<annotation>
						<documentation>Краткое наименование</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FullName" type="dt:DefString">
					<annotation>
						<documentation>Полное наименование</documentation>
					</annotation>
				</element>
				<element name="ShortNameInEnglish" minOccurs="0">
					<annotation>
						<documentation>Английское написание краткого имени</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FullNameInEnglish" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Английское написание полного имени</documentation>
					</annotation>
				</element>
				<element name="RegistrationSertificateNumber" minOccurs="0">
					<annotation>
						<documentation>Серия и номер свидетельства</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="11"/>
						</restriction>
					</simpleType>
				</element>
				<element name="RegistrationSertificateIssueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата выдачи свидетельства о регистрации</documentation>
					</annotation>
				</element>
				<element name="RegistrationAuthority" type="dt:DefPosInteger" minOccurs="0">
					<annotation>
						<documentation>Регистрирующий орган
Справочник «Регистрирующие органы»</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="SpecialData">
		<annotation>
			<documentation>Спец. данные</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ClientType">
					<annotation>
						<documentation>Тип клиента
1 – юридическое лицо  
2 – индивидуальный предприниматель</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Resident" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак резидента
Принимает значения:
1 – резидент
0 – нерезидент</documentation>
					</annotation>
				</element>
				<element name="Risk" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак наличия риска
Принимает значения:
1 – есть риск
0 – нет риска</documentation>
					</annotation>
				</element>
				<element name="RiskExplanation" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Обоснование риска</documentation>
					</annotation>
				</element>
				<element name="CountryOfRegistration" type="st:SSM_Type" minOccurs="0">
					<annotation>
						<documentation>Страна регистрации</documentation>
					</annotation>
				</element>
				<element name="CountryOfAccreditation" type="st:SSM_Type" minOccurs="0">
					<annotation>
						<documentation>Страна аккредитации</documentation>
					</annotation>
				</element>
				<element name="RepresentedInCountry" type="st:SSM_Type" minOccurs="0">
					<annotation>
						<documentation>Представительство</documentation>
					</annotation>
				</element>
				<element name="AuthorizedCapital" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Уставной капитал</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Identifiers">
		<annotation>
			<documentation>Идентификаторы</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ClientId" type="dt:PosInteger">
					<annotation>
						<documentation>ID клиента в РКО </documentation>
					</annotation>
				</element>
				<element name="State">
					<annotation>
						<documentation>Состояние
Активный – 1
Неактивный – 2</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CreateDate" type="dt:Date">
					<annotation>
						<documentation>Дата создания</documentation>
					</annotation>
				</element>
				<element name="CloseDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата закрытия</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="ClientAddress">
		<annotation>
			<documentation>Адрес клиента</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="AddressType">
					<annotation>
						<documentation>Тип адрес
1 - Прописка
2 - Место жительства 
5 - Почтовый
6 - Юридический
7 - Фактический</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="5"/>
							<enumeration value="6"/>
							<enumeration value="7"/>
						</restriction>
					</simpleType>
				</element>
				<element name="UnnormalizedAddress" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Ненормализованный адрес</documentation>
					</annotation>
				</element>
				<element name="Country" type="st:SSM_Type" minOccurs="0">
					<annotation>
						<documentation>Страна</documentation>
					</annotation>
				</element>
				<element name="PostalCode" minOccurs="0">
					<annotation>
						<documentation>Почтовый индекс</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="IdentificationCode" type="st:KLADR_Type" minOccurs="0">
					<annotation>
						<documentation>Идентификационный код объекта</documentation>
					</annotation>
				</element>
				<element name="OKATO" type="st:OKATO_Type" minOccurs="0">
					<annotation>
						<documentation>Код ОКАТО</documentation>
					</annotation>
				</element>
				<element name="RegionType" type="st:KLADR_Type" minOccurs="0">
					<annotation>
						<documentation>Тип региона</documentation>
					</annotation>
				</element>
				<element name="Region" minOccurs="0">
					<annotation>
						<documentation>Регион</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="AreaType" minOccurs="0">
					<annotation>
						<documentation>Тип района</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="10"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Area" minOccurs="0">
					<annotation>
						<documentation>Район</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CityType" minOccurs="0">
					<annotation>
						<documentation>Тип города</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="10"/>
						</restriction>
					</simpleType>
				</element>
				<element name="City" minOccurs="0">
					<annotation>
						<documentation>Город</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PlaceType" minOccurs="0">
					<annotation>
						<documentation>Тип населенного пункта</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="10"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Place" minOccurs="0">
					<annotation>
						<documentation>Населенный пункт</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="40"/>
						</restriction>
					</simpleType>
				</element>
				<element name="StreetType" minOccurs="0">
					<annotation>
						<documentation>Тип улицы</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="10"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Street" minOccurs="0">
					<annotation>
						<documentation>Улица</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="40"/>
						</restriction>
					</simpleType>
				</element>
				<element name="House" minOccurs="0">
					<annotation>
						<documentation>Дом (владение)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Corpus" minOccurs="0">
					<annotation>
						<documentation>Корпус</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Building" minOccurs="0">
					<annotation>
						<documentation>Строение</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FlatorOffice" minOccurs="0">
					<annotation>
						<documentation>Квартира/офис</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="ClientContact">
		<annotation>
			<documentation>Контакт клиента</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ContactCategory">
					<annotation>
						<documentation>Категория контакта
1 - Телефон
2 - Факс
3 - Телеграф
4 - Телефакс
5 - Телетайп
6 - Телекс
7 - Адрес в сети Интернет
8 - E-mail</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
							<enumeration value="4"/>
							<enumeration value="5"/>
							<enumeration value="6"/>
							<enumeration value="7"/>
							<enumeration value="8"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ContactType" minOccurs="0">
					<annotation>
						<documentation>Тип контакта
1 – домашний 
2 – рабочий
3 – мобильный</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ContactName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Наименование контакта</documentation>
					</annotation>
				</element>
				<element name="ContactData" type="dt:DefString">
					<annotation>
						<documentation>Значение контактной информации</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="NaturalPerson">
		<annotation>
			<documentation>Физическое лицо</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RKOCode" type="dt:PosInteger">
					<annotation>
						<documentation>Код физического лица в РКО</documentation>
					</annotation>
				</element>
				<element name="RelationToClient">
					<annotation>
						<documentation>Отношение к клиенту
1 – Руководитель
2 – Гл.бухгалтер
3 – ИП
4 – выгодоприобретатель
5 – прочее</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
							<enumeration value="4"/>
							<enumeration value="5"/>
						</restriction>
					</simpleType>
				</element>
				<element name="LastName">
					<annotation>
						<documentation>Фамилия</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FirstName">
					<annotation>
						<documentation>Имя</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="MiddleName" minOccurs="0">
					<annotation>
						<documentation>Отчество</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="LastNameInGenitiveCase">
					<annotation>
						<documentation>Фамилия в родительном падеже</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FirstNameInGenitiveCase">
					<annotation>
						<documentation>Имя в родительном падеже</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="MiddleNameInGenitiveCase" minOccurs="0">
					<annotation>
						<documentation>Отчество в родительном падеже</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="LastNameInEnglish">
					<annotation>
						<documentation>Фамилия на английском</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FirstNameInEnglish">
					<annotation>
						<documentation>Имя на английском</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="MiddleNameInEnglish" minOccurs="0">
					<annotation>
						<documentation>Отчество на английском</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="160"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Sex" minOccurs="0">
					<annotation>
						<documentation>Пол
1 - мужской
2 - женский
3 - не указан
</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="BirthDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата рождения</documentation>
					</annotation>
				</element>
				<element name="BirthPlace" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Место рождения</documentation>
					</annotation>
				</element>
				<element name="Nationality" type="st:SSM_Type" minOccurs="0">
					<annotation>
						<documentation>Гражданство</documentation>
					</annotation>
				</element>
				<element name="Resident" type="dt:Boolean">
					<annotation>
						<documentation>Признак резидента
Принимает значения:
1 – резидент
0 – нерезидент</documentation>
					</annotation>
				</element>
				<element name="TaxResidentChangeDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата изменения налоговой резидентности</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН</documentation>
					</annotation>
				</element>
				<element name="IdentityDocument" maxOccurs="unbounded">
					<annotation>
						<documentation>ДУЛ</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="DocumentType" type="dt:DefPosInteger">
								<annotation>
									<documentation>Тип документа
ЦАС НСИ «pb_document»</documentation>
								</annotation>
							</element>
							<element name="DocumentStatus">
								<annotation>
									<documentation>Статус документа
1 - активный
2 - неактивный
3 - с истекшей датой действия
</documentation>
								</annotation>
								<simpleType>
									<restriction base="dt:DefPosInteger">
										<enumeration value="1"/>
										<enumeration value="2"/>
										<enumeration value="3"/>
									</restriction>
								</simpleType>
							</element>
							<element name="DocumentSeries" type="dt:DefString" minOccurs="0">
								<annotation>
									<documentation>Серия ДУЛ</documentation>
								</annotation>
							</element>
							<element name="DocumentNumber" type="dt:DefString">
								<annotation>
									<documentation>Номер документа</documentation>
								</annotation>
							</element>
							<element name="IssueDate" type="dt:Date" minOccurs="0">
								<annotation>
									<documentation>Дата выдачи</documentation>
								</annotation>
							</element>
							<element name="IssueAuthority" type="dt:DefString" minOccurs="0">
								<annotation>
									<documentation>Кем выдан документ</documentation>
								</annotation>
							</element>
							<element name="IssueAuthorityCode" type="dt:DefString" minOccurs="0">
								<annotation>
									<documentation>Код подразделения, выдавшего документ</documentation>
								</annotation>
							</element>
							<element name="ExpirationDate" type="dt:Date" minOccurs="0">
								<annotation>
									<documentation>Планируемая дата окончания срока действия</documentation>
								</annotation>
							</element>
						</sequence>
					</complexType>
				</element>
				<element ref="tns:ClientAddress" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Адреса клиента</documentation>
					</annotation>
				</element>
				<element ref="tns:ClientContact" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Контакты клиента</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="LegalPersonBankAccountAgreement">
		<annotation>
			<documentation>Договор банковского счета юридического лица</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="tns:BankSubdivision">
					<annotation>
						<documentation>Подразделение
Справочник подразделений Банка</documentation>
					</annotation>
				</element>
				<element name="ClientId" type="dt:PosInteger">
					<annotation>
						<documentation>ID клиента в РКО</documentation>
					</annotation>
				</element>
				<element name="AgreementIdentifier" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Идентификатор договора</documentation>
					</annotation>
				</element>
				<element name="AgreementNumber" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер договора</documentation>
					</annotation>
				</element>
				<element name="AgreementType" type="dt:DefPosInteger">
					<annotation>
						<documentation>Тип договора
Справочник типов дого-воров РКО: «Договор РКО рубли», «Договор РКО в валюте», и пр.</documentation>
					</annotation>
				</element>
				<element name="AgreementStatus">
					<annotation>
						<documentation>Статус договора
1 – действует 
2 – закрыт</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="AgreementIssueDate" type="dt:Date">
					<annotation>
						<documentation>Дата заключения договора</documentation>
					</annotation>
				</element>
				<element name="AgreementCancelDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата расторжения договора</documentation>
					</annotation>
				</element>
				<element name="Operator" type="dt:PosInteger">
					<annotation>
						<documentation>Операционист</documentation>
					</annotation>
				</element>
				<element name="MainAccountNumber" type="st:AccountNumber_Type">
					<annotation>
						<documentation>Номер основного счета</documentation>
					</annotation>
				</element>
				<element name="AccountBalance" type="dt:PosFloat">
					<annotation>
						<documentation>Остаток по счету</documentation>
					</annotation>
				</element>
				<element name="FilePresence1" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Наличие картотеки 1 (для договора РКО в рублях)</documentation>
					</annotation>
				</element>
				<element name="FilePresence2" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Наличие картотеки 2 (для договора РКО в рублях)
</documentation>
					</annotation>
				</element>
				<element name="ArrestByAccountPresence" minOccurs="0">
					<annotation>
						<documentation>Наличие ареста по счету (для договора РКО)
1 – По дебету
2 – Полный
3 – Нет</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ArrestedSum" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Арестованные суммы (для договора РКО)</documentation>
					</annotation>
				</element>
				<element ref="tns:RKOAgreementDetails" minOccurs="0">
					<annotation>
						<documentation>Параметры договора РКО</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="RKOAgreementDetails">
		<annotation>
			<documentation>Параметры договора РКО</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="PercentCalculationAlgorithm" minOccurs="0">
					<annotation>
						<documentation>Алгоритм начисления %
Справочник</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:PosInteger">
							<maxLength value="10"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PartialRatedPeriodCalculation" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Расчет за неполный расчетный период при открытии счета</documentation>
					</annotation>
				</element>
				<element name="CurrentRatedPeriodCalculation" type="dt:Boolean">
					<annotation>
						<documentation>Расчет, если счет закрывается в текущем периоде</documentation>
					</annotation>
				</element>
				<element name="OpeningReason" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Основание открытия</documentation>
					</annotation>
				</element>
				<element name="AccountUserType" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Пользовательский тип счета
Каждый символ контролируется по справочнику</documentation>
					</annotation>
				</element>
				<element name="AgreementUserType" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Пользовательский тип договора
Каждый символ контролируется по справочнику</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="SignPatternCard">
		<annotation>
			<documentation>Карточка с образцами подписей </documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ClientId" type="dt:PosInteger">
					<annotation>
						<documentation>ID клиента в РКО</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision">
					<annotation>
						<documentation>Подразделение банка</documentation>
					</annotation>
				</element>
				<element name="AgreementNumber" type="dt:DefString">
					<annotation>
						<documentation>Номер договора</documentation>
					</annotation>
				</element>
				<element name="AccountNumber" type="st:AccountNumber_Type">
					<annotation>
						<documentation>Номер счета</documentation>
					</annotation>
				</element>
				<element name="CardType">
					<annotation>
						<documentation>Тип карточки
1 – Постоянная
2 – Временная</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="RegistrationDate" type="dt:Date">
					<annotation>
						<documentation>Дата регистрации</documentation>
					</annotation>
				</element>
				<element name="ActivationDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата активации</documentation>
					</annotation>
				</element>
				<element name="CloseDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата закрытия</documentation>
					</annotation>
				</element>
				<element name="CardRegistartionMethod">
					<annotation>
						<documentation>Способ оформления карточки
1 – Нотариально
2 – Банком
Зарезервировано. В данной версии не используется.</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element ref="tns:Sign" maxOccurs="unbounded">
					<annotation>
						<documentation>Подпись</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Sign">
		<annotation>
			<documentation>Подпись</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="RKONaturalPersonCode" type="dt:PosInteger">
					<annotation>
						<documentation>Код физического лица в РКО</documentation>
					</annotation>
				</element>
				<element name="SignType">
					<annotation>
						<documentation>Тип подписи
1 – первая подпись
2 – вторая подпись</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Position" type="dt:DefString">
					<annotation>
						<documentation>Должность</documentation>
					</annotation>
				</element>
				<element name="AuthorityEndDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата окончания полномочий</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--========================================-->
	<!--Elements from schema ./domainTypes/CommonStructureTypes.xsd-->
	<!--========================================-->
	<element name="AddressInfo">
		<annotation>
			<documentation>Адрес</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="SubjectOfRF" minOccurs="0">
					<annotation>
						<documentation>Субъект Российской Федерации</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Area" minOccurs="0">
					<annotation>
						<documentation>Район</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="City" minOccurs="0">
					<annotation>
						<documentation>Город</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="60"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Place" minOccurs="0">
					<annotation>
						<documentation>Населенный пункт</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Street" minOccurs="0">
					<annotation>
						<documentation>Улица (проспект, переулок и т.п.)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="House" minOccurs="0">
					<annotation>
						<documentation>Номер дома (владение)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Building" minOccurs="0">
					<annotation>
						<documentation>Корпус (строение)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
				<element name="FlatorOffice" minOccurs="0">
					<annotation>
						<documentation>Квартира (офис)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="20"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="BankSubdivision">
		<annotation>
			<documentation>Подразделение банка</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TB" type="st:TB_Type">
					<annotation>
						<documentation>Номер ТБ</documentation>
					</annotation>
				</element>
				<element name="OSB" type="st:OSB_Type">
					<annotation>
						<documentation>Номер ОСБ</documentation>
					</annotation>
				</element>
				<element name="VSP" type="st:VSP_Type">
					<annotation>
						<documentation>Номер ВСП</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>