mock-interactive/src/test/resources/preProdConfigs/xsd/ECM/ecm.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ecm.sbrf.ru/port" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ecmService" targetNamespace="http://ecm.sbrf.ru/port">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:tns="http://ecm.sbrf.ru/port" xmlns:ecm="http://ecm.sbrf.ru/port" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ecm.sbrf.ru/port">
  <xs:import namespace="http://www.w3.org/2005/05/xmlmime"></xs:import>
  <xs:element name="changePrivileges" type="tns:changePrivileges"></xs:element>
  <xs:element name="createDocuments" type="tns:createDocuments"></xs:element>
  <xs:element name="createPackage" type="tns:createPackage"></xs:element>
  <xs:element name="deleteObjects" type="tns:deleteObjects"></xs:element>
  <xs:element name="dictionary" type="tns:dictionary"></xs:element>
  <xs:element name="documentSpec" type="tns:documentSpec"></xs:element>
  <xs:element name="fetchContent" type="tns:fetchContent"></xs:element>
  <xs:element name="fetchPrivileges" type="tns:fetchPrivileges"></xs:element>
  <xs:element name="folder" type="tns:folderSpec"></xs:element>
  <xs:element name="header" type="tns:header"></xs:element>
  <xs:element name="modifyDocument" type="tns:modifyDocument"></xs:element>
  <xs:element name="modifyEntity" type="tns:modifyEntity"></xs:element>
  <xs:element name="packageTemplate" type="tns:packageTemplate"></xs:element>
  <xs:element name="ticket" type="tns:ticket"></xs:element>
  <xs:element name="ticketRequest" type="tns:ticketRequest"></xs:element>
  <xs:element name="traverseTree" type="tns:traverseTree"></xs:element>
  <xs:complexType name="attributeBunch">
    <xs:sequence>
      <xs:element name="target" type="tns:target"></xs:element>
      <xs:element name="attrs" type="tns:attrs"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="target">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="folder" type="xs:boolean" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="attrs">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="string" type="tns:string"></xs:element>
        <xs:element name="strings" type="tns:strings"></xs:element>
        <xs:element name="int" type="tns:int"></xs:element>
        <xs:element name="ints" type="tns:ints"></xs:element>
        <xs:element name="bool" type="tns:bool"></xs:element>
        <xs:element name="bools" type="tns:bools"></xs:element>
        <xs:element name="date" type="tns:date"></xs:element>
        <xs:element name="dates" type="tns:dates"></xs:element>
        <xs:element name="bin" type="tns:bin"></xs:element>
        <xs:element name="bins" type="tns:bins"></xs:element>
        <xs:element name="id" type="tns:id"></xs:element>
        <xs:element name="ids" type="tns:ids"></xs:element>
        <xs:element name="double" type="tns:double"></xs:element>
        <xs:element name="doubles" type="tns:doubles"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="string">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="strings">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="string" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="int">
    <xs:simpleContent>
      <xs:extension base="xs:int">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ints">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="int" type="xs:int"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="bool">
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bools">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bool" type="xs:boolean"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dates">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="date" type="xs:dateTime"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="bin">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:base64Binary"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="bins">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="bin" type="xs:base64Binary"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="id">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ids">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="double">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="doubles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="double" type="xs:double"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="header">
    <xs:sequence>
      <xs:element name="actor" type="xs:string"></xs:element>
      <xs:element name="user" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objects">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="document" type="tns:document"></xs:element>
        <xs:element name="folder" type="tns:folder"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrs" type="tns:attrs"></xs:element>
      <xs:element minOccurs="0" name="privileges" type="tns:privileges"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="containers" nillable="true" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="signature" type="tns:signature"></xs:element>
      <xs:element minOccurs="0" name="osName" type="xs:string"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="class" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="privileges">
    <xs:sequence>
      <xs:element minOccurs="0" name="target" type="tns:target"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="privilege" type="tns:privilege"></xs:element>
    </xs:sequence>
    <xs:attribute name="inheritParentPermissions" type="xs:boolean" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="privilege">
    <xs:sequence>
      <xs:element minOccurs="0" name="allow">
        <xs:simpleType>
          <xs:list itemType="tns:permission"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="deny">
        <xs:simpleType>
          <xs:list itemType="tns:permission"></xs:list>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="grantee" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="signature">
    <xs:sequence></xs:sequence>
    <xs:attribute name="signer" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="signature" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="valid" type="xs:boolean" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="folder">
    <xs:complexContent>
      <xs:extension base="tns:document">
        <xs:sequence>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="document" type="tns:document"></xs:element>
            <xs:element name="folder" type="tns:folder"></xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deleteObjects">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="target" type="tns:target"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modifyEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"></xs:element>
      <xs:choice>
        <xs:element ref="tns:documentSpec"></xs:element>
        <xs:element ref="tns:ticketRequest"></xs:element>
        <xs:element ref="tns:packageTemplate"></xs:element>
        <xs:element ref="tns:dictionary"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentSpec">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrs" type="tns:attrs"></xs:element>
      <xs:element minOccurs="0" name="target" type="xs:string"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="content" type="tns:content"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="link" type="xs:string"></xs:attribute>
    <xs:attribute name="class" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="content">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
        <xs:attribute name="contentType" type="xs:string"></xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ticketRequest">
    <xs:sequence>
      <xs:element name="user" type="xs:string"></xs:element>
      <xs:element name="folder" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="searchFolder" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="controls">
        <xs:simpleType>
          <xs:list itemType="tns:controls"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="columns">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:permissions"></xs:element>
      <xs:element minOccurs="0" name="documentClasses">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fileExtensions" type="xs:string"></xs:element>
      <xs:element default="false" minOccurs="0" name="restrictExtensions" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="folderClasses">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="resolution" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="showScanSettings" type="xs:boolean"></xs:element>
      <xs:element default="TOP" minOccurs="0" name="toolbarPosition" type="tns:toolbarPosition"></xs:element>
    </xs:sequence>
    <xs:attribute name="template" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="permissions">
    <xs:sequence></xs:sequence>
    <xs:attribute name="for" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="actions">
      <xs:simpleType>
        <xs:list itemType="tns:permission"></xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="packageTemplate">
    <xs:sequence>
      <xs:element name="target" type="xs:string"></xs:element>
      <xs:element ref="tns:folder"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="folderSpec">
    <xs:sequence>
      <xs:element minOccurs="0" name="attrs" type="tns:attrs"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="tns:folder"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="document" type="tns:documentSpec"></xs:element>
      <xs:element minOccurs="0" name="privileges" type="tns:privileges"></xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="link" type="xs:string"></xs:attribute>
    <xs:attribute name="class" type="xs:string"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="dictionary">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="item" type="tns:dictionaryItem"></xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="restriction" type="tns:dictionaryRestriction"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dictionaryItem">
    <xs:sequence></xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="shortName" type="xs:string"></xs:attribute>
    <xs:attribute name="deleted" type="xs:boolean"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="dictionaryRestriction">
    <xs:sequence></xs:sequence>
    <xs:attribute name="path" type="xs:string" use="required"></xs:attribute>
    <xs:attribute name="items" use="required">
      <xs:simpleType>
        <xs:list itemType="xs:string"></xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="fetchPrivileges">
    <xs:sequence>
      <xs:element name="target" type="tns:target"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fetchContent">
    <xs:sequence>
      <xs:element name="target" type="xs:string"></xs:element>
      <xs:element default="0" name="index" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ticket">
    <xs:sequence>
      <xs:element name="user" type="xs:string"></xs:element>
      <xs:element name="folder" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="searchFolder" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="controls">
        <xs:simpleType>
          <xs:list itemType="tns:controls"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="columns">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="tns:permissions"></xs:element>
      <xs:element minOccurs="0" name="documentClasses">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fileExtensions" type="xs:string"></xs:element>
      <xs:element name="restrictExtensions" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="folderClasses">
        <xs:simpleType>
          <xs:list itemType="xs:string"></xs:list>
        </xs:simpleType>
      </xs:element>
      <xs:element name="resolution" type="xs:int"></xs:element>
      <xs:element name="showScanSettings" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="toolbarPosition" type="tns:toolbarPosition"></xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="createPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="target" type="xs:string"></xs:element>
      <xs:choice minOccurs="0">
        <xs:element ref="tns:folder"></xs:element>
        <xs:element name="template" type="tns:templateSpec"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="templateSpec">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameters" type="tns:attrs"></xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="modifyDocument">
    <xs:sequence>
      <xs:element name="document" type="tns:documentSpec"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="traverseTree">
    <xs:sequence>
      <xs:element name="target" type="xs:string"></xs:element>
      <xs:element default="1" name="depth" type="xs:int"></xs:element>
      <xs:element default="false" name="verifySignature" type="xs:boolean"></xs:element>
      <xs:element minOccurs="0" name="attrs" type="tns:attrs"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createDocuments">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="document" type="tns:documentSpec"></xs:element>
        <xs:element name="template" type="tns:documentTemplateSpec"></xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentTemplateSpec">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameters" type="tns:attrs"></xs:element>
      <xs:element minOccurs="0" name="content" type="tns:content"></xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
  <xs:complexType name="changePrivileges">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="privileges" type="tns:privileges"></xs:element>
    </xs:sequence>
    <xs:attribute name="recusively" type="xs:boolean" use="required"></xs:attribute>
  </xs:complexType>
  <xs:simpleType name="permission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"></xs:enumeration>
      <xs:enumeration value="DELETE"></xs:enumeration>
      <xs:enumeration value="MODIFY_OBJECTS"></xs:enumeration>
      <xs:enumeration value="UNLINK"></xs:enumeration>
      <xs:enumeration value="USE_MARKING"></xs:enumeration>
      <xs:enumeration value="LINK"></xs:enumeration>
      <xs:enumeration value="WRITE"></xs:enumeration>
      <xs:enumeration value="REMOVE_MARKING"></xs:enumeration>
      <xs:enumeration value="ADD_MARKING"></xs:enumeration>
      <xs:enumeration value="PRIVILEGED_WRITE"></xs:enumeration>
      <xs:enumeration value="PUBLISH"></xs:enumeration>
      <xs:enumeration value="CONNECT"></xs:enumeration>
      <xs:enumeration value="MINOR_VERSION"></xs:enumeration>
      <xs:enumeration value="WRITE_ACL"></xs:enumeration>
      <xs:enumeration value="WRITE_ANY_OWNER"></xs:enumeration>
      <xs:enumeration value="READ_ACL"></xs:enumeration>
      <xs:enumeration value="CREATE_CHILD"></xs:enumeration>
      <xs:enumeration value="CHANGE_STATE"></xs:enumeration>
      <xs:enumeration value="VIEW_CONTENT"></xs:enumeration>
      <xs:enumeration value="MODIFY_RETENTION"></xs:enumeration>
      <xs:enumeration value="MAJOR_VERSION"></xs:enumeration>
      <xs:enumeration value="REMOVE_OBJECTS"></xs:enumeration>
      <xs:enumeration value="STORE_OBJECTS"></xs:enumeration>
      <xs:enumeration value="WRITE_OWNER"></xs:enumeration>
      <xs:enumeration value="CREATE_INSTANCE"></xs:enumeration>
      <xs:enumeration value="READ"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="controls">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADD_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="REPLACE_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="SCAN_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="RESCAN_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="CHECK_OUT_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="DEFAULT_CHECK_OUT_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="CHECK_IN_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="CANCEL_CHECKING_OUT"></xs:enumeration>
      <xs:enumeration value="SIGN_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="REMOVE_SIGN_DOCUMENT"></xs:enumeration>
      <xs:enumeration value="MARK_FOR_RESCANNING"></xs:enumeration>
      <xs:enumeration value="DISCARD_RESCANNING_MARK"></xs:enumeration>
      <xs:enumeration value="SHOW_PROPERTIES"></xs:enumeration>
      <xs:enumeration value="SEARCH_OBJECTS"></xs:enumeration>
      <xs:enumeration value="ADD_PACKAGE"></xs:enumeration>
      <xs:enumeration value="ADD_FOLDER"></xs:enumeration>
      <xs:enumeration value="CREATE_LINK"></xs:enumeration>
      <xs:enumeration value="DELETE_OBJECT"></xs:enumeration>
      <xs:enumeration value="REFRESH"></xs:enumeration>
      <xs:enumeration value="SUBSCRIPTION"></xs:enumeration>
      <xs:enumeration value="REPORT"></xs:enumeration>
      <xs:enumeration value="AUDIT"></xs:enumeration>
      <xs:enumeration value="EXPORT_PACKAGE"></xs:enumeration>
      <xs:enumeration value="PRINT_PACKAGE"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="toolbarPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TOP"></xs:enumeration>
      <xs:enumeration value="LEFT"></xs:enumeration>
      <xs:enumeration value="NONE"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="fetchAttributes" nillable="true" type="tns:attributeBunch"></xs:element>
  <xs:element name="objects" nillable="true" type="tns:objects"></xs:element>
  <xs:element name="deleted" nillable="true" type="tns:objects"></xs:element>
  <xs:element name="changeAttributes" nillable="true" type="tns:attributeBunch"></xs:element>
  <xs:element name="modified" nillable="true" type="tns:objects"></xs:element>
  <xs:element name="content" nillable="true" type="tns:content"></xs:element>
  <xs:element name="acquireTicket" nillable="true" type="tns:ticketRequest"></xs:element>
  <xs:element name="created" nillable="true" type="tns:objects"></xs:element>
</xs:schema>  </wsdl:types>
  <wsdl:message name="fetchContent">
    <wsdl:part element="tns:fetchContent" name="fetchContent">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePrivileges">
    <wsdl:part element="tns:changePrivileges" name="changePrivileges">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteObjectsResponse">
    <wsdl:part element="tns:deleted" name="deleted">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changePrivilegesResponse">
    <wsdl:part element="tns:modified" name="modified">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyDocumentResponse">
    <wsdl:part element="tns:modified" name="modified">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyDocument">
    <wsdl:part element="tns:modifyDocument" name="modifyDocument">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPackageResponse">
    <wsdl:part element="tns:created" name="created">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchAttributes">
    <wsdl:part element="tns:fetchAttributes" name="fetchAttributes">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPrivilegesResponse">
    <wsdl:part element="tns:objects" name="objects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acquireTicketResponse">
    <wsdl:part element="tns:ticket" name="ticket">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPrivileges">
    <wsdl:part element="tns:fetchPrivileges" name="fetchPrivileges">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDocumentsResponse">
    <wsdl:part element="tns:created" name="created">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteObjects">
    <wsdl:part element="tns:deleteObjects" name="deleteObjects">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchAttributesResponse">
    <wsdl:part element="tns:objects" name="objects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traverseTree">
    <wsdl:part element="tns:traverseTree" name="traverseTree">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPackage">
    <wsdl:part element="tns:createPackage" name="createPackage">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="acquireTicket">
    <wsdl:part element="tns:acquireTicket" name="acquireTicket">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeAttributesResponse">
    <wsdl:part element="tns:modified" name="modified">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="traverseTreeResponse">
    <wsdl:part element="tns:objects" name="objects">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifyEntity">
    <wsdl:part element="tns:modifyEntity" name="modifyEntity">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeAttributes">
    <wsdl:part element="tns:changeAttributes" name="changeAttributes">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createDocuments">
    <wsdl:part element="tns:createDocuments" name="createDocuments">
    </wsdl:part>
    <wsdl:part element="tns:header" name="header">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchContentResponse">
    <wsdl:part element="tns:content" name="content">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ecmService">
    <wsdl:operation name="fetchAttributes">
      <wsdl:input message="tns:fetchAttributes" name="fetchAttributes">
    </wsdl:input>
      <wsdl:output message="tns:fetchAttributesResponse" name="fetchAttributesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteObjects">
      <wsdl:input message="tns:deleteObjects" name="deleteObjects">
    </wsdl:input>
      <wsdl:output message="tns:deleteObjectsResponse" name="deleteObjectsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyEntity">
      <wsdl:input message="tns:modifyEntity" name="modifyEntity">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="fetchPrivileges">
      <wsdl:input message="tns:fetchPrivileges" name="fetchPrivileges">
    </wsdl:input>
      <wsdl:output message="tns:fetchPrivilegesResponse" name="fetchPrivilegesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAttributes">
      <wsdl:input message="tns:changeAttributes" name="changeAttributes">
    </wsdl:input>
      <wsdl:output message="tns:changeAttributesResponse" name="changeAttributesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchContent">
      <wsdl:input message="tns:fetchContent" name="fetchContent">
    </wsdl:input>
      <wsdl:output message="tns:fetchContentResponse" name="fetchContentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acquireTicket">
      <wsdl:input message="tns:acquireTicket" name="acquireTicket">
    </wsdl:input>
      <wsdl:output message="tns:acquireTicketResponse" name="acquireTicketResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPackage">
      <wsdl:input message="tns:createPackage" name="createPackage">
    </wsdl:input>
      <wsdl:output message="tns:createPackageResponse" name="createPackageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyDocument">
      <wsdl:input message="tns:modifyDocument" name="modifyDocument">
    </wsdl:input>
      <wsdl:output message="tns:modifyDocumentResponse" name="modifyDocumentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traverseTree">
      <wsdl:input message="tns:traverseTree" name="traverseTree">
    </wsdl:input>
      <wsdl:output message="tns:traverseTreeResponse" name="traverseTreeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDocuments">
      <wsdl:input message="tns:createDocuments" name="createDocuments">
    </wsdl:input>
      <wsdl:output message="tns:createDocumentsResponse" name="createDocumentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePrivileges">
      <wsdl:input message="tns:changePrivileges" name="changePrivileges">
    </wsdl:input>
      <wsdl:output message="tns:changePrivilegesResponse" name="changePrivilegesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ecmServiceSoapBinding" type="tns:ecmService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="deleteObjects">
      <soap:operation soapAction="deleteObjects" style="document"></soap:operation>
      <wsdl:input name="deleteObjects">
        <soap:header message="tns:deleteObjects" part="header" use="literal">
        </soap:header>
        <soap:body parts="deleteObjects" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteObjectsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchAttributes">
      <soap:operation soapAction="fetchAttributes" style="document"></soap:operation>
      <wsdl:input name="fetchAttributes">
        <soap:header message="tns:fetchAttributes" part="header" use="literal">
        </soap:header>
        <soap:body parts="fetchAttributes" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="fetchAttributesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyEntity">
      <soap:operation soapAction="modifyEntity" style="document"></soap:operation>
      <wsdl:input name="modifyEntity">
        <soap:header message="tns:modifyEntity" part="header" use="literal">
        </soap:header>
        <soap:body parts="modifyEntity" use="literal"></soap:body>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="fetchPrivileges">
      <soap:operation soapAction="fetchPrivileges" style="document"></soap:operation>
      <wsdl:input name="fetchPrivileges">
        <soap:header message="tns:fetchPrivileges" part="header" use="literal">
        </soap:header>
        <soap:body parts="fetchPrivileges" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="fetchPrivilegesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAttributes">
      <soap:operation soapAction="changeAttributes" style="document"></soap:operation>
      <wsdl:input name="changeAttributes">
        <soap:header message="tns:changeAttributes" part="header" use="literal">
        </soap:header>
        <soap:body parts="changeAttributes" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="changeAttributesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchContent">
      <soap:operation soapAction="fetchContent" style="document"></soap:operation>
      <wsdl:input name="fetchContent">
        <soap:header message="tns:fetchContent" part="header" use="literal">
        </soap:header>
        <soap:body parts="fetchContent" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="fetchContentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="acquireTicket">
      <soap:operation soapAction="acquireTicket" style="document"></soap:operation>
      <wsdl:input name="acquireTicket">
        <soap:header message="tns:acquireTicket" part="header" use="literal">
        </soap:header>
        <soap:body parts="acquireTicket" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="acquireTicketResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPackage">
      <soap:operation soapAction="createPackage" style="document"></soap:operation>
      <wsdl:input name="createPackage">
        <soap:header message="tns:createPackage" part="header" use="literal">
        </soap:header>
        <soap:body parts="createPackage" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createPackageResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyDocument">
      <soap:operation soapAction="modifyDocument" style="document"></soap:operation>
      <wsdl:input name="modifyDocument">
        <soap:header message="tns:modifyDocument" part="header" use="literal">
        </soap:header>
        <soap:body parts="modifyDocument" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="modifyDocumentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="traverseTree">
      <soap:operation soapAction="traverseTree" style="document"></soap:operation>
      <wsdl:input name="traverseTree">
        <soap:header message="tns:traverseTree" part="header" use="literal">
        </soap:header>
        <soap:body parts="traverseTree" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="traverseTreeResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePrivileges">
      <soap:operation soapAction="changePrivileges" style="document"></soap:operation>
      <wsdl:input name="changePrivileges">
        <soap:header message="tns:changePrivileges" part="header" use="literal">
        </soap:header>
        <soap:body parts="changePrivileges" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="changePrivilegesResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createDocuments">
      <soap:operation soapAction="createDocuments" style="document"></soap:operation>
      <wsdl:input name="createDocuments">
        <soap:header message="tns:createDocuments" part="header" use="literal">
        </soap:header>
        <soap:body parts="createDocuments" use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="createDocumentsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ecmService">
    <wsdl:port binding="tns:ecmServiceSoapBinding" name="ecmServicePort">
      <soap:address location="http://10.116.96.11:9080/urpa_ecm/services/port/"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>