mock-example/src/main/resources/in/PD/CRM/ESB/APKKB/LDIntegrationTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		   xmlns:types="http://sbrf.ru/NCPCA/LD/types" 
		   targetNamespace="http://sbrf.ru/NCPCA/LD/types" 
		   elementFormDefault="qualified" 
		   attributeFormDefault="unqualified">
	<xs:simpleType name="ReferenceItemId">
		<xs:annotation>
			<xs:documentation>
		        Идентификатор элемента справочника.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_12">
		<xs:annotation>
			<xs:documentation>
		        Строковый тип размерностью 12 символов
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_20">
		<xs:annotation>
			<xs:documentation>
		        Строковый тип размерностью 20 символов
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_256">
		<xs:annotation>
			<xs:documentation>
		        Строковый тип размерностью 256 символов
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal_18_0">
		<xs:annotation>
			<xs:documentation>
		        Десятичный тип размерностью 18 без дробной части
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReferenceItem">
		<xs:annotation>
			<xs:documentation>
				Элемент справочника.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ReferenceItemId" type="types:ReferenceItemId"/>
			<xs:element name="Value">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EffectiveTo" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ServiceID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FNTemplateId">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LegalService">
		<xs:annotation>
			<xs:documentation>
				Юридический сервис. Определяется уникальной комбинацией категории, предмета, типа, вида и сложности запроса. Обязательны только первые два элемента.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ServiceID" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="Category" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="Subject" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="Type" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="SubType" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="Complexity" type="types:ReferenceItemId" minOccurs="1" />
			<xs:element name="ComplexityType" minOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="SINGLE"/>
						<xs:enumeration value="MULTIPLE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FNTemplateId" type="types:FNTemplateId" minOccurs="0"/>
			<xs:element name="EffectiveTo" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OrgUnitId">
		<xs:annotation>
			<xs:documentation>Идентификатор организационного подразделения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgUnitName">
		<xs:annotation>
			<xs:documentation>Наименование организационного подразделения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperatorId">
		<xs:annotation>
			<xs:documentation>Логин пользователя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperatorFullName">
		<xs:annotation>
			<xs:documentation>ФИО пользователя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OperatorNameList">
		<xs:annotation>
			<xs:documentation>Список имен пользователей пользователей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorName" type="types:OperatorFullName" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorInfo">
		<xs:annotation>
			<xs:documentation>Общая информация по пользователю</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorID" type="types:OperatorId"/>
			<xs:element name="OperatorFullName" type="types:OperatorFullName"/>
			<xs:element name="Position">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OperatorOrgUnitName" type="types:OrgUnitName" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorInfoList">
		<xs:annotation>
			<xs:documentation>Список операторов</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Operator" type="types:OperatorInfo" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comment">
		<xs:sequence>
			<xs:element name="OperatorId" type="types:OperatorId"/>
			<xs:element name="OperatorName" type="types:OperatorFullName"/>
			<xs:element name="CreationTime" type="xs:dateTime"/>
			<xs:element name="Text">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommentHistory">
		<xs:sequence>
			<xs:element name="Comment" type="types:Comment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="WOId">
		<xs:annotation>
			<xs:documentation>
                Идентификатор запроса в АС ПО  (pzInsKey).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OperatorExecutor">
		<xs:annotation>
			<xs:documentation>Данные по потенциальному юристу-исполнителю</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorInfo" type="types:OperatorInfo"/>
			<xs:element name="ExpectedStartDate" type="xs:dateTime"/>
			<xs:element name="ExpectedEndDate" type="xs:dateTime"/>
			<xs:element name="IsExecutorInRequest" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperatorExecutorList">
		<xs:annotation>
			<xs:documentation>Список юристов-исполнителей</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OperatorExecutor" type="types:OperatorExecutor" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientInformation">
		<xs:annotation>
			<xs:documentation>Информация о клиентах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClientJurisdiction" type="types:ReferenceItemId"/>
			<xs:element name="ClientStatus" type="types:ReferenceItemId"/>
			<xs:element name="ClientName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1024"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ProductName" type="types:String_256" minOccurs="1"/>
			<xs:element name="ProductType" type="types:String_256" minOccurs="1"/>
			<xs:element name="CreditType" type="types:String_256" minOccurs="1"/>
			<xs:element name="CreditPeriod" type="types:Decimal_18_0" minOccurs="1"/>
			<xs:element name="PartyType" type="types:String_256" minOccurs="1"/>
			<xs:element name="OPF" type="types:String_256" minOccurs="0"/>
			<xs:element name="INN" type="types:String_12" minOccurs="0"/>
			<xs:element name="Branch" type="types:String_256" minOccurs="0"/>
			<xs:element name="GuaranteeAmount" type="types:Decimal_18_0" minOccurs="0"/>
			<xs:element name="GuaranteeCurrency" type="types:String_20" minOccurs="0"/>
			<xs:element name="GuaranteeAmountRub" type="types:Decimal_18_0" minOccurs="0"/>
			<xs:element name="BirthDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="KIO" type="types:String_256" minOccurs="0"/>
			<xs:element name="IDlink" type="types:String_256" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientInformationList">
		<xs:annotation>
			<xs:documentation>Список записей "Информация о клиентах"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClientInformation" type="types:ClientInformation" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ECMParameters">
		<xs:sequence>
			<xs:element name="DocumentListGUID">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="38"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ReferenceToDocumentsInBPM">
		<xs:annotation>
			<xs:documentation>
				Ссылка для работы с документами в АС ПО.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency">
		<xs:annotation>
			<xs:documentation>
				Валюта. Передается из внешней системы в формате строки, пополняется во внешней системе через интеграции.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LegalEnquiryParameters">
		<xs:annotation>
			<xs:documentation>
				Параметры запроса. Данные, по которым в АС ПО будет формироваться запрос.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RequestTopic">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RequestDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreationDateTime" type="xs:dateTime"/>
			<xs:element name="Priority" type="types:ReferenceItemId"/>
			<xs:element name="PriorityReason" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommentsHistory" type="types:CommentHistory" minOccurs="0"/>
			<xs:element name="CreditSubject" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="600"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditAmount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditCurrency" type="types:Currency" minOccurs="0"/>
			<xs:element name="CreditAmountRub" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResidentCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NonResidentCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ClientInformationList" type="types:ClientInformationList" minOccurs="0"/>
			<xs:element name="CreditSubjectCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TypicalAgreementCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="NonTypicalAgreementCount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgreementAmount" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgreementAmountRub" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="18"/>
						<xs:fractionDigits value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgreementCurrency" type="types:Currency" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClientSystemTaskID">
		<xs:annotation>
			<xs:documentation>
				Идентификатор задачи, созданной в системе-клиенте (АПККБ) по данному запросу юридического сервиса.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Сообщение об ошибке</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ErrorShortDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ErrorText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="250"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ValidationErrorsOnFields" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="XsdFieldName"  maxOccurs="unbounded">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="32"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>					
	<xs:complexType name="ConfirmationMessage_Type">
		<xs:annotation>
			<xs:documentation> Техническое подтверждение / сообщение о возникшей ошибке с доп.информацией	</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ErrorMessage" type="types:ErrorMessage" minOccurs="0"/>
			<xs:element name="ClientSystemTaskID" type="types:ClientSystemTaskID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
