mock-engine/src/test/resources/wsdl/spyne.wsdl

<?xml version='1.0' encoding='utf-8'?>

<wsdl:definitions
        xmlns:tns="spyne.examples.hello"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="spyne.examples.hello" name="Application">
    <wsdl:types>
        <xs:schema targetNamespace="spyne.examples.hello"
                   elementFormDefault="qualified">
            <xs:complexType name="say_hello"/>
            <xs:complexType name="say_helloResponse">
                <xs:sequence>
                    <xs:element name="say_helloResult" type="tns:stringArray"
                                minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="stringArray">
                <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="stringArray" type="tns:stringArray"/>
            <xs:element name="say_helloResponse"
                        type="tns:say_helloResponse"/>
            <xs:element name="say_hello" type="tns:say_hello"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="say_hello">
        <wsdl:part name="say_hello" element="tns:say_hello"/>
    </wsdl:message>
    <wsdl:message name="say_helloResponse">
        <wsdl:part name="say_helloResponse"
                   element="tns:say_helloResponse"/>
    </wsdl:message>
    <wsdl:service name="HelloWorldService">
        <wsdl:port name="Application" binding="tns:Application">
            <soap:address location="http://localhost:8000/"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Application">
        <wsdl:operation name="say_hello" parameterOrder="say_hello">
            <wsdl:input name="say_hello" message="tns:say_hello"/>
            <wsdl:output name="say_helloResponse"
                         message="tns:say_helloResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Application" type="tns:Application">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="say_hello">
            <soap:operation soapAction="say_hello" style="document"/>
            <wsdl:input name="say_hello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="say_helloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>