mock-example/src/main/webapp/WEB-INF/xsd/AMRLIRT_LGD/AMRLIRT/RatingServiceSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"  
	    xmlns:xs="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://service.scoring.sberbank.luxoft.com/" 
		xmlns:tns="http://service.scoring.sberbank.luxoft.com/"
	    elementFormDefault="unqualified">
	    
  <xs:element name="calculate" nillable="true" type="tns:calculate"></xs:element>
  <xs:element name="calculateResponse" nillable="true" type="tns:calculateResponse"></xs:element>
  <xs:element name="confirm" nillable="true" type="tns:confirm"></xs:element>
  <xs:element name="confirmResponse" nillable="true" type="tns:confirmResponse"></xs:element>
  <xs:element name="correct" nillable="true" type="tns:correct"></xs:element>
  <xs:element name="correctResponse" nillable="true" type="tns:correctResponse"></xs:element>
  <xs:element name="isAvailable" type="tns:isAvailable"></xs:element>
  <xs:element name="isAvailableResponse" type="tns:isAvailableResponse"></xs:element>
  <xs:element name="massCalculateAsyncRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="head" type="tns:massCalculationInfo"></xs:element>
        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:requestData"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="head" type="tns:massCalculationInfo"></xs:element>
        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:requestData"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:string"></xs:element>
        <xs:element form="qualified" name="errorCode" type="xs:int"></xs:element>
        <xs:element form="qualified" minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
        <xs:element form="qualified" minOccurs="0" name="extErrorMessage" type="xs:string"></xs:element>
        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:responseData"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateResultsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="errorCode" type="xs:int"></xs:element>
        <xs:element form="qualified" minOccurs="0" name="errorMessage" type="xs:string"></xs:element>
        <xs:element form="qualified" minOccurs="0" name="extErrorMessage" type="xs:string"></xs:element>
        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:responseData"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateStatusRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="id" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="massCalculateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element form="qualified" name="progress" type="xs:integer"></xs:element>
        <xs:element form="qualified" name="processComplete" type="xs:boolean"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="calculate">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" name="RatingId" type="xs:string" ></xs:element>
            <xs:element form="qualified" name="Model" type="xs:string"></xs:element>
            <xs:element form="qualified" name="ModelIntegrationId" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="AccountId" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="UID" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="Account" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="INN" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="KPP" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="GSZId" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="GSZ" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="SubjectId" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="Subject" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="SubjectOKATO" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="Project" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Requestor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" name="Login" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="LastName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="FirstName" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="MiddleName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="Division" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="DivisionCode" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="JobTitle" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="Role" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ListOfFixedFactor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="FixedFactor">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element form="qualified" name="Factor" type="xs:string"></xs:element>
                        <xs:element form="qualified" name="FactorIntegrationId" type="xs:string"></xs:element>
                        <xs:element form="qualified" name="Group" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="Value" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="ValueIntegrationId" type="xs:string"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ListOfRatingPeriod">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="RatingPeriod">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element form="qualified" minOccurs="0" name="ReportDate" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="Period" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="StartDate" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="EndDate" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="PeriodType" type="xs:string"></xs:element>
                        <xs:element form="qualified" name="Comments" nillable="true" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="ListOfCardinalFactor">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CardinalFactor">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element form="qualified" name="Factor" type="xs:string"></xs:element>
                                    <xs:element form="qualified" name="FactorIntegrationId" type="xs:string"></xs:element>
                                    <xs:element form="qualified" name="Group" type="xs:string"></xs:element>
                                    <xs:element form="qualified" minOccurs="0" name="NumValue" type="xs:string"></xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ListOfRatingSupport">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="RatingSupport">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element form="qualified" name="Name" type="xs:string"></xs:element>
                        <xs:element form="qualified" name="IntegrationId" type="xs:string"></xs:element>
                        <xs:element form="qualified" minOccurs="0" name="ListOfSupportFactor">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="SupportFactor">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element form="qualified" name="Factor" type="xs:string"></xs:element>
                                    <xs:element form="qualified" name="FactorIntegrationId" type="xs:string"></xs:element>
                                    <xs:element form="qualified" name="Group" type="xs:string"></xs:element>
                                    <xs:element form="qualified" minOccurs="0" name="Value" type="xs:string"></xs:element>
                                    <xs:element form="qualified" minOccurs="0" name="ValueIntegrationId" type="xs:string"></xs:element>
                                    <xs:element form="qualified" minOccurs="0" name="FreeValue" type="xs:string"></xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="SiebelMessage" type="xs:anyType"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="calculateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="ListOfResultRating">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="ResultRating">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="IsPrimary" type="xs:string"></xs:element>
                        <xs:element name="Name" type="xs:string"></xs:element>
                        <xs:element name="Value" type="xs:int"></xs:element>
                        <xs:element name="Type" type="xs:string"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ListOfCalculatedFactor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="CalculatedFactor">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Code" type="xs:string"></xs:element>
                        <xs:element name="Name" type="xs:string"></xs:element>
                        <xs:element name="Value" type="xs:string"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ListOfAddParameter">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" minOccurs="0" name="AddParameter">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Order" type="xs:string"></xs:element>
                        <xs:element name="Name" type="xs:string"></xs:element>
                        <xs:element name="Value" type="xs:string"></xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="AMMessage" type="xs:anyType"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="isAvailable">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="isAvailableResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ServiceInfo" type="xs:boolean"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirm">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" name="RatingValue" type="xs:string"></xs:element>
            <xs:element form="qualified" name="RatingId" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Model" type="xs:string"></xs:element>
            <xs:element form="qualified" name="ModelIntegrationId" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Requestor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" name="Login" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="LastName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="FirstName" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="MiddleName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="Division" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="DivisionCode" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="JobTitle" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="Role" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="SiebelMessage" type="xs:anyType"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="confirmResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"></xs:element>
            <xs:element name="DefaultProbability" type="xs:string"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="massCalculationInfo">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" name="modelIntegrationId" type="xs:string"></xs:element>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="account" nillable="true" type="xs:string"></xs:element>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="accountId" nillable="true" type="xs:string"></xs:element>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="gsz" nillable="true" type="xs:string"></xs:element>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="gszId" nillable="true" type="xs:string"></xs:element>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="project" nillable="true" type="xs:string"></xs:element>
      <xs:element form="qualified" name="timestamp" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestData">
    <xs:sequence>
      <xs:element form="qualified" name="id" type="xs:int"></xs:element>
      <xs:element form="qualified" name="historicalDataUsage" type="xs:boolean"></xs:element>
      <xs:element form="qualified" name="calculate" nillable="true" type="xs:anyType"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responseData">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:int"></xs:element>
      <xs:element form="qualified" name="modelIntegrationId" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="account" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="accountId" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="gsz" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="gszId" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="project" type="xs:string"></xs:element>
      <xs:element form="qualified" minOccurs="0" name="calculationType" type="tns:MassCalculateResponseCalculationType"></xs:element>
      <xs:element form="qualified" name="calculateResponse" nillable="true" type="xs:anyType"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="correct">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" name="RatingId" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Model" type="xs:string"></xs:element>
            <xs:element form="qualified" name="ModelIntegrationId" type="xs:string"></xs:element>
            <xs:element form="qualified" name="CorrectValue" type="xs:anyType"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="Comments" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Status" type="xs:string"></xs:element>
            <xs:element form="qualified" minOccurs="0" name="AdjustmentReason" type="xs:string"></xs:element>
            <xs:element form="qualified" name="Requestor">
              <xs:complexType>
                <xs:sequence>
                  <xs:element form="qualified" name="Login" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="LastName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="FirstName" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="MiddleName" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="Division" type="xs:string"></xs:element>
                  <xs:element form="qualified" name="DivisionCode" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="JobTitle" type="xs:string"></xs:element>
                  <xs:element form="qualified" minOccurs="0" name="Role" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="SiebelMessage" type="xs:anyType"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="correctResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"></xs:element>
            <xs:element minOccurs="0" name="ErrorMessage" type="xs:string"></xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MassCalculateResponseCalculationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WITH_REQUEST_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_FINALIZED_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_MONITORING_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_LATEST_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_FINALIZED_ENRICHED_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_MONITORING_ENRICHED_DATA"></xs:enumeration>
      <xs:enumeration value="WITH_LATEST_ENRICHED_DATA"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>