mock-interactive/src/main/webapp/WEB-INF/MockConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016, Sberbank and/or its affiliates. All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions
  ~ are met:
  ~
  ~   - Redistributions of source code must retain the above copyright
  ~     notice, this list of conditions and the following disclaimer.
  ~
  ~   - Redistributions in binary form must reproduce the above copyright
  ~     notice, this list of conditions and the following disclaimer in the
  ~     documentation and/or other materials provided with the distribution.
  ~
  ~   - Neither the name of Sberbank or the names of its
  ~     contributors may be used to endorse or promote products derived
  ~     from this software without specific prior written permission.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
  ~ IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
  ~ THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
  ~ PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
  ~ CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
  ~ EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~ PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
  ~ PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
  ~ LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
  ~ NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
  ~ SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified" targetNamespace="http://sbrf.ru/mockService2" xmlns:tns="http://sbrf.ru/mockService2" xmlns:moc="http://sbrf.ru/mockService2">
    <xs:element name="MockConfig" type="moc:MockConfigType"/>
    <xs:complexType name="xpathValidationType">
        <xs:sequence>
            <xs:element  type="moc:tagType" name="tag" maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="systemsType">
        <xs:sequence>
            <xs:element  type="moc:systemType" name="system"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rootElementType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="ns" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- root element type-->
    <xs:complexType name="MockConfigType">
        <xs:sequence>
            <xs:element type="moc:mainConfigType" name="mainConfig" minOccurs="0"/>
            <xs:element  type="moc:systemsType" name="systems"/>
        </xs:sequence>
    </xs:complexType>

    <!-- integrationPointSelector type-->
    <xs:complexType name="integrationPointSelectorType">
        <xs:sequence>
            <xs:element  type="moc:tagType" name="tag" maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- tag element type-->
    <xs:complexType name="tagType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="ns" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- integration points element type-->
    <xs:complexType name="integrationPointsType">
        <xs:sequence>
            <xs:element  type="moc:integrationPointType" name="integrationPoint"
                        maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- System element type-->
    <xs:complexType name="systemType">
        <xs:sequence>
            <xs:element type="xs:string" name="remoteRootSchema" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Путь до схемы, находящийся в сети, которые будут кэшированы</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="localRootSchema">
                <xs:annotation>
                    <xs:documentation>локальный путь до корневого XSD (путь указывается от корневой директории системы,
                        например WEB-INF/data/CRM/)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element  type="moc:integrationPointSelectorType"
                        name="integrationPointSelector">
                <xs:annotation>
                    <xs:documentation>Селектор для маршрутизации сообщений. Определения, какая точки интеграции должна
                        быть вызвана
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="tns:protocol" name="protocol">
                <xs:annotation>
                    <xs:documentation>Протокол интеграции JMS/SOAP. Если используется сразу оба, то необходимо разделить
                        на 2 системы.
                        System-JMS, System-SOAP
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:sequence minOccurs="0">
                <xs:element type="xs:string" name="queueConnectionFactory" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>ConnectionFactory JMS очередей</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="1" maxOccurs="2">
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element type="xs:string" name="mockIncomeQueue">
                            <xs:annotation>
                                <xs:documentation>Входящая очередь заглушки</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element type="xs:string" name="mockOutcomeQueue">
                            <xs:annotation>
                                <xs:documentation>Исходящая очередь заглушки</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element type="xs:string" name="driverOutcomeQueue">
                            <xs:annotation>
                                <xs:documentation>Исходящая очередь драйвера</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element type="xs:string" name="driverIncomeQueue">
                            <xs:annotation>
                                <xs:documentation>Входящая очередь драйвера</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:choice>
            </xs:sequence>
            <xs:element  type="moc:rootElementType" name="rootElement" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Указатель на корневой элемент для генерации тестового сообщения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="driverWebServiceEndpoint" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Адрес webservice для отсылки запросов</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element  type="moc:integrationPointsType"
                        name="integrationPoints"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>

    <!-- integration point element type-->
    <xs:complexType name="integrationPointType" mixed="true">
        <xs:sequence>
            <xs:element  type="moc:xpathValidationType" name="xpathValidation">
                <xs:annotation>
                    <xs:documentation>Валидация Запроса (заполняется только для заглушки!)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type">
                <xs:annotation>
                    <xs:documentation>Тип точки интеграции Заглушка/Драйвер</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Driver"/>
                        <xs:enumeration value="Mock"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="delayMs" type="xs:long" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Величина задержки при ответе (имитация "задумчивости" внешней системы)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="incomeQueue" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Входящая очередь</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="outcomeQueue" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Исходящая очередь</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="xsdFile" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Где лежит корневой элемент</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element  type="moc:rootElementType" name="rootElement" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Указатель на корневой элемент для генерации тестового сообщения</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="xs:string" name="answerRequired" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Требуется ли ответ заглушки</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
    </xs:complexType>
    <xs:simpleType name="protocol">
        <xs:restriction base="xs:string">
            <xs:enumeration value="JMS"/>
            <xs:enumeration value="SOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="mainConfigType">
        <xs:sequence>
            <xs:element type="xs:string" name="checksum" minOccurs="0"/>
            <xs:element type="xs:long" name="driverTimeout" minOccurs="0"/>
            <xs:element type="xs:int" name="maxLogsCount" minOccurs="0"/>
            <xs:element type="xs:boolean" name="validationEnabled" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>