mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/FinAnalysisImportResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/ASFO/GetFinAnalysisRs/Data/"
            xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
            xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
            xmlns:amrct="http://sbrf.ru/NCP/CRM/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/NCP/ASFO/GetFinAnalysisRs/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/"
               schemaLocation="../../../xsd/CRM/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response"
                      type="FinAnalysisImportResponse"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualRequirements">
      <xsd:sequence>
			      <xsd:element name="creditRiskPerDebtor" type="xsd:decimal"/>
			      <xsd:element name="creditRiskForRelatedDebtorGroup" type="xsd:decimal"/>
			      <xsd:element name="creditRiskPerLegalEntityInsider" type="xsd:decimal"/>
			      <xsd:element name="economicGroupRiskFactor" type="xsd:decimal"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FieldInfo">
      <xsd:sequence>
			      <xsd:element name="mainField">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="mainBusiness">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Competitor">
      <xsd:sequence>
			      <xsd:element name="advantages">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="disadvantages">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="revenue" type="xsd:decimal"/>
			      <xsd:element name="ebitda" type="xsd:decimal"/>
			      <xsd:element name="debt" type="xsd:decimal"/>
			      <xsd:element name="assets" type="xsd:decimal"/>
			      <xsd:element name="equity" type="xsd:decimal"/>
			      <xsd:element name="ebitdaRevenue" type="xsd:decimal"/>
			      <xsd:element name="debtEbitda" type="xsd:decimal"/>
			      <xsd:element name="debtEquity" type="xsd:decimal"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCompetitor">
      <xsd:sequence>
			      <xsd:element name="competitor" maxOccurs="3" type="Competitor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Market">
      <xsd:sequence>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="posidionAndShare">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="description">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="lastFinReportQuarter">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="borrower" type="Competitor"/>
			      <xsd:element name="listOfCompetitor" type="ListOfCompetitor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfMarkets">
      <xsd:sequence>
			      <xsd:element name="market" maxOccurs="5" type="Market"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MarketPositionAndTrends">
      <xsd:sequence>
<!--			<xsd:element name="listOfMarkets" type="xsd:ListOfMarkets" />
-->
			<xsd:element name="trends">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <!--			<xsd:element name="demandDynamics">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
-->
		</xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Partner">
      <xsd:sequence>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="isCgParticipant" type="xsd:boolean"/>
			      <xsd:element name="conditions">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="productsAndTrends">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfMainSuppliers">
      <xsd:sequence>
			      <xsd:element name="supplier" maxOccurs="5" type="Partner"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfMainBuyers">
      <xsd:sequence>
			      <xsd:element name="buyer" maxOccurs="5" type="Partner"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Business">
      <xsd:sequence>
<!--
			<xsd:element name="businessDescription">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1024"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
-->
			<xsd:element name="suppliersConcentrationLevel">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="buyersConcentrationLevel">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <!--
			<xsd:element name="listOfMainSuppliers" type="xsd:ListOfMainSuppliers" />
			<xsd:element name="listOfMainBuyers" type="xsd:ListOfMainBuyers" />
-->
			<xsd:element name="dependenceComment">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinAnalysisImportResponse">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
         <xsd:element name="actualRequirements" type="ActualRequirements"/>
         <xsd:element name="actualRequirementsInTotal" type="ActualRequirements"/>
         <xsd:element name="finIndexChangesReasonNFRS" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="finPerformanceCommentNFRS" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="finIndexChangesReasonIFRS" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="finPerformanceCommentIFRS" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="creditHistoryConclusions">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="offBalanceSheetLiabilities">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="liabilitiesDynamicsComment">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="turnoversComment">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="revenueExpensesStressAnalysis">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="structuredDealsStressAnalysis" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="1024"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
         <xsd:element name="fieldInfo" type="FieldInfo"/>
         <xsd:element name="marketPositionAndTrends" type="MarketPositionAndTrends"/>
         <xsd:element name="business" type="Business"/>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
</xsd:schema>
