mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/FinAnalysisImportResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--test http://www.w3.org/2001/XMLSchema http://sbrf.ru/NCP/AMRLIRT/CommonTypes/ http://www.w3.org/XML/1998/namespace--><!--test xsd amrct xml--><xsd:schema xmlns="http://sbrf.ru/NCP/ASFO/GetFinAnalysisRs/Data/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:amrct="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/"
            targetNamespace="http://sbrf.ru/NCP/ASFO/GetFinAnalysisRs/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/"
               schemaLocation="../../../xsd/FinRep/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response"
                      type="FinAnalysisImportResponse"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FinAnalysisImportResponse">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
         <xsd:element name="actualRequirements" type="ActualRequirements"/>
         <xsd:element name="actualRequirementsInTotal" type="ActualRequirements"/>
         <xsd:element name="finIndexChangesReasonNFRS" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="finPerformanceCommentNFRS" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="finIndexChangesReasonIFRS" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="finPerformanceCommentIFRS" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="creditHistoryConclusions">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="offBalanceSheetLiabilities">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="liabilitiesDynamicsComment">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="turnoversComment">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="revenueExpensesStressAnalysis">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="structuredDealsStressAnalysis" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="fieldInfo" type="FieldInfo"/>
         <xsd:element name="marketPositionAndTrends" type="MarketPositionAndTrends"/>
         <xsd:element name="business" type="Business"/>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="ActualRequirements">
      <xsd:sequence>
         <xsd:element name="creditRiskPerDebtor" type="xsd:decimal"/>
         <xsd:element name="creditRiskForRelatedDebtorGroup" type="xsd:decimal"/>
         <xsd:element name="creditRiskPerLegalEntityInsider" type="xsd:decimal"/>
         <xsd:element name="economicGroupRiskFactor" type="xsd:decimal"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FieldInfo">
      <xsd:sequence>
         <xsd:element name="mainField">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="mainBusiness">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MarketPositionAndTrends">
      <xsd:sequence>
         <xsd:element name="trends">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Business">
      <xsd:sequence>
         <xsd:element name="suppliersConcentrationLevel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="buyersConcentrationLevel">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="dependenceComment">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1024"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
