mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/GetProjectFactorsResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://sbrf.ru/prpc/finrep/GetProjectFactorsRs/10/Data"
            targetNamespace="http://sbrf.ru/prpc/finrep/GetProjectFactorsRs/10/Data">

    <xsd:complexType name="Header">
        <xsd:annotation>
            <xsd:documentation> Заголовок сообщения </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="message-id" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="request-time" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Системное время при отправке сообщения
                        АС-отправителем с учетом временной зоны</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="correlation-id" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор корреляции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="eis-name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="system-id" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы получателя запроса
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="operation-name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Название операции вызываемого сервиса
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="operation-version" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Версия операции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="user-id" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор пользователя в системе инициаторе
                        запроса/ответа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="user-name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                        запроса/ответа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Точка расширения заголовка (не используется,
                        добавлено на перспективу)</xsd:documentation>
                </xsd:annotation>
            </xsd:any>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Error">
        <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
            <xsd:element name="ErrorMessage" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProjectFactorsResponse">
        <xsd:sequence>
            <xsd:element name="CRMId" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocuments"></xsd:element>
            <xsd:element name="ListOfFixedFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FixedFactor" type="tns:FixedFactor" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingPeriod">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingPeriod" type="tns:RatingPeriod" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ListOfRatingSupport">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="RatingSupport" type="tns:RatingSupport" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FixedFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="Value" type="xsd:string"></xsd:element>
            <xsd:element name="ValueIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfDocumentRefs">
        <xsd:sequence>
            <xsd:element name="Document" type="tns:DocumentRef" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DocumentRef">
        <xsd:sequence>
            <xsd:element name="DocumentId" type="xsd:long"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfDocuments">
        <xsd:sequence>
            <xsd:element name="Document" type="tns:Document" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Document">
        <xsd:sequence>
            <xsd:element name="DocumentId" type="xsd:long"></xsd:element>
            <xsd:element name="ApprovalDate" type="xsd:date"></xsd:element>
            <xsd:element name="ApprovalPerson" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RatingPeriod">
        <xsd:sequence>
            <xsd:element name="ReportDate" type="xsd:date"></xsd:element>
            <xsd:element name="Period" type="xsd:string"></xsd:element>
            <xsd:element name="StartDate" type="xsd:date"></xsd:element>
            <xsd:element name="EndDate" type="xsd:date"></xsd:element>
            <xsd:element name="PeriodType" type="xsd:string"></xsd:element>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfCardinalFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CardinalFactor" type="tns:CardinalFactor" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CardinalFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="NumValue" type="xsd:double"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RatingSupport">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"></xsd:element>
            <xsd:element name="IntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="ListOfSupportFactor">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SupportFactor" type="tns:SupportFactor" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SupportFactor">
        <xsd:sequence>
            <xsd:element name="Factor" type="xsd:string"></xsd:element>
            <xsd:element name="FactorIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="Group" type="xsd:string"></xsd:element>
            <xsd:element name="Value" type="xsd:string"></xsd:element>
            <xsd:element name="ValueIntegrationId" type="xsd:string"></xsd:element>
            <xsd:element name="FreeValue" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="getProjectFactorsResp">
        <xsd:sequence>
            <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
            <xsd:element name="ListOfSystemErrors">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Project" type="tns:ProjectFactorsResponse"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name"/>
    </xsd:complexType>

    <xsd:element name="data" type="tns:dataValue"/>
    <xsd:complexType name="dataValue">
        <xsd:sequence>
            <xsd:annotation>
                <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="response" type="tns:getProjectFactorsResp" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>