mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/ImportRatingResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/ASFO/GetRatingsAndFactorsRs/Data/"
            xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
            xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
            xmlns:amrct="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/NCP/ASFO/GetRatingsAndFactorsRs/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/"
               schemaLocation="../../../xsd/FinRep/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response" type="ImportRatingResponse" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Employee">
      <xsd:sequence>
			      <xsd:element name="login">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="lastName">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="firstName">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="middleName" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="division">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="divisionCode">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="jobTitle" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="300"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="role">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingAjustment">
      <xsd:sequence>
			      <xsd:element name="ajustmentDate" type="xsd:dateTime"/>
			      <xsd:element name="ajustedValue" type="xsd:int"/>
			      <xsd:element name="ajustmetReason">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="250"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="comments" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="status">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>


			      <xsd:element name="employeeForAjustment" type="Employee"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingAjustment">
      <xsd:sequence>
			      <xsd:element name="ratingAjustment"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="RatingAjustment"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddParameter">
      <xsd:sequence>
			      <xsd:element name="order" type="xsd:int"/>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="value">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfAddParameter">
      <xsd:sequence>
			      <xsd:element name="addParameter"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="AddParameter"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CalculatedFactor">
      <xsd:sequence>
			      <xsd:element name="code">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="value">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCalculatedFactor">
      <xsd:sequence>
			      <xsd:element name="calculatedFactor"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="CalculatedFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResultRating">
      <xsd:sequence>
			      <xsd:element name="isPrimary" type="xsd:boolean"/>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="value" type="xsd:int"/>
			      <xsd:element name="type" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfResultRating">
      <xsd:sequence>
			      <xsd:element name="resultRating"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="ResultRating"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CardinalFactor">
      <xsd:sequence>
			      <xsd:element name="factor">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="factorIntegrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="group">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="numValue" minOccurs="0" type="xsd:double"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCardinalFactor">
      <xsd:sequence>
			      <xsd:element name="cardinalFactor" maxOccurs="unbounded" type="CardinalFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingPeriod">
      <xsd:sequence>
			      <xsd:element name="reportDate" minOccurs="0" type="xsd:date"/>
			      <xsd:element name="period" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="50"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="startDate" minOccurs="0" type="xsd:date"/>
			      <xsd:element name="endDate" minOccurs="0" type="xsd:date"/>
			      <xsd:element name="type" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="comments" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="listOfCardinalFactor" type="ListOfCardinalFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingPeriod">
      <xsd:sequence>
			      <xsd:element name="ratingPeriod" maxOccurs="unbounded" type="RatingPeriod"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SupportFactor">
      <xsd:sequence>
			      <xsd:element name="factor">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="factorIntegrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="group">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="value" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="valueIntegrationId" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="freeValue" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfSupportFactor">
      <xsd:sequence>
			      <xsd:element name="supportFactor" maxOccurs="unbounded" type="SupportFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingSupport">
      <xsd:sequence>
			      <xsd:element name="name">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="130"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="integrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="listOfSupportFactor" type="ListOfSupportFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingSupport">
      <xsd:sequence>
			      <xsd:element name="ratingSupport"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="RatingSupport"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FixedFactor">
      <xsd:sequence>
			      <xsd:element name="factor">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="factorIntegrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="group">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="value" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="valueIntegrationId" minOccurs="0">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfFixedFactor">
      <xsd:sequence>
			      <xsd:element name="fixedFactor" maxOccurs="unbounded" type="FixedFactor"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingCalc">
      <xsd:sequence>
			      <xsd:element name="ratingCalcId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="15"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="modelName">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="100"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="modelIntegrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>			
			      </xsd:element>
			      <xsd:element name="dateCalc" minOccurs="0" type="xsd:dateTime"/>
			      <xsd:element name="calcValue" minOccurs="0" type="xsd:int"/>

			      <xsd:element name="listOfRatingAjustment"
                      minOccurs="0"
                      type="ListOfRatingAjustment"/>
			      <xsd:element name="employeeForCalc" minOccurs="0" type="Employee"/>
			      <xsd:element name="listOfResultRating" minOccurs="0" type="ListOfResultRating"/>
			      <xsd:element name="listOfCalculatedFactor"
                      minOccurs="0"
                      type="ListOfCalculatedFactor"/>
			      <xsd:element name="listOfFixedFactor" minOccurs="0" type="ListOfFixedFactor"/>
			      <xsd:element name="listOfRatingPeriod" minOccurs="0" type="ListOfRatingPeriod"/>
			      <xsd:element name="listOfRatingSupport" minOccurs="0" type="ListOfRatingSupport"/>

		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingCalc">
      <xsd:sequence>
			      <xsd:element name="ratingCalc" maxOccurs="unbounded" type="RatingCalc"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Rating">
      <xsd:sequence>
			      <xsd:element name="ratingId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="15"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="finalRatingValue" minOccurs="0" type="xsd:int"/>
			      <xsd:element name="intermediateRatingValue" minOccurs="0" type="xsd:int"/>
			      <xsd:element name="ajustedRatingValue" minOccurs="0" type="xsd:int"/>
			      <xsd:element name="pd" minOccurs="0" type="xsd:decimal"/>

			      <xsd:element name="status">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="15"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="approvalDate" minOccurs="0" type="xsd:dateTime"/>
			      <xsd:element name="calculationDate" minOccurs="0" type="xsd:dateTime"/>
			      <xsd:element name="ajustmentDate" minOccurs="0" type="xsd:dateTime"/>

			      <xsd:element name="modelName">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="100"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="modelIntegrationId">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>			
			      </xsd:element>
	
			      <xsd:element name="ratingName">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="255"/>
					          </xsd:restriction>
				        </xsd:simpleType>
			      </xsd:element>
			      <xsd:element name="ratingType">
				        <xsd:simpleType>
					          <xsd:restriction base="xsd:string">
						            <xsd:maxLength value="30"/>
					          </xsd:restriction>
				        </xsd:simpleType>			
			      </xsd:element>
			      <xsd:element name="employeeForApprove" type="Employee"/>
			      <xsd:element name="listOfRatingCalc" type="ListOfRatingCalc"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRating">
      <xsd:sequence>
			      <xsd:element name="rating" maxOccurs="unbounded" type="Rating"/>
		    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ImportRatingResponse">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="Header" minOccurs="0"/>
         <xsd:element name="listOfRating" type="ListOfRating"/>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
</xsd:schema>
