mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/ImportRatingResponseData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/NCP/FinRep/ImportRatingRs/1.03/importRatingRs/Data/"
            xmlns:tns="http://sbrf.ru/NCP/FinRep/ImportRatingRs/1.03/importRatingRs/Data/"
            xmlns:frct="http://sbrf.ru/NCP/FinRep/CommonTypes/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
            xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
            targetNamespace="http://sbrf.ru/NCP/FinRep/ImportRatingRs/1.03/importRatingRs/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/NCP/FinRep/CommonTypes/"
               schemaLocation="../../../xsd/FinRep/CommonTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/dataTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/commonTypes/simpleTypes/"
               schemaLocation="../../../xsd/CRM/commonTypes/simpleTypes.xsd"/>
   <xsd:complexType xmlns:st="http://sbrf.ru/commonTypes/simpleTypes/"
                    xmlns:dt="http://sbrf.ru/commonTypes/dataTypes/"
                    name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="message-id" type="xsd:string" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Уникальный идентификатор сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Системное время при отправке сообщения
                            АС-отправителем с учетом временной зоны</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор корреляции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы инициатора запроса/ответа
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system-id"
                      type="st:SystemName_Type"
                      minOccurs="0"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Идентификатор системы получателя запроса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Название операции вызываемого сервиса
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Версия операции</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Идентификатор пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Полное ФИО пользователя в системе инициаторе
                            запроса/ответа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:any namespace="##other"
                  processContents="lax"
                  minOccurs="0"
                  maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Точка расширения заголовка (не используется,
                            добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:any>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="response"
                      type="tns:ImportRatingResponse"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ImportRatingResponse">
      <xsd:sequence>
         <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
         <xsd:element name="dealId" type="frct:string15"/>
         <xsd:element name="entityType" type="frct:string30"/>
         <xsd:element name="entityId" type="frct:string15"/>
         <xsd:element name="errorCode" type="frct:string30"/>
         <xsd:element name="errorMessage" minOccurs="0" type="frct:string2000"/>
         <xsd:element name="listOfRating" type="tns:ListOfRating"/>
      </xsd:sequence>
      <xsd:attribute name="name"/>
   </xsd:complexType>
   <xsd:complexType name="Employee">
      <xsd:sequence>
         <xsd:element name="login" type="frct:string50"/>
         <xsd:element name="lastName" type="frct:string50"/>
         <xsd:element name="firstName" type="frct:string50"/>
         <xsd:element name="middleName" minOccurs="0" type="frct:string50"/>
         <xsd:element name="division" type="frct:string50"/>
         <xsd:element name="divisionCode" type="frct:string50"/>
         <xsd:element name="jobTitle" minOccurs="0" type="frct:string300"/>
         <xsd:element name="role" type="frct:string30"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingAjustment">
      <xsd:sequence>
         <xsd:element name="ajustmentDate" type="xsd:dateTime"/>
         <xsd:element name="ajustedValue" type="xsd:int"/>
         <xsd:element name="ajustmetReason" type="frct:string250"/>
         <xsd:element name="comments" minOccurs="0" type="frct:string255"/>
         <xsd:element name="status" type="frct:string30"/>
         <xsd:element name="employeeForAjustment" minOccurs="0" type="tns:Employee"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingAjustment">
      <xsd:sequence>
         <xsd:element name="ratingAjustment"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:RatingAjustment"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AddParameter">
      <xsd:sequence>
         <xsd:element name="order" type="xsd:int"/>
         <xsd:element name="name" type="frct:string255"/>
         <xsd:element name="value" type="frct:string255"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfAddParameter">
      <xsd:sequence>
         <xsd:element name="addParameter"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:AddParameter"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CalculatedFactor">
      <xsd:sequence>
         <xsd:element name="code" type="frct:string30"/>
         <xsd:element name="name" type="frct:string255"/>
         <xsd:element name="value" type="frct:string255"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCalculatedFactor">
      <xsd:sequence>
         <xsd:element name="calculatedFactor"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:CalculatedFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ResultRating">
      <xsd:sequence>
         <xsd:element name="isPrimary" type="xsd:boolean"/>
         <xsd:element name="name" type="frct:string255"/>
         <xsd:element name="value" type="xsd:int"/>
         <xsd:element name="type" minOccurs="0" type="frct:string30"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfResultRating">
      <xsd:sequence>
         <xsd:element name="resultRating"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ResultRating"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CardinalFactor">
      <xsd:sequence>
         <xsd:element name="factor" type="frct:string255"/>
         <xsd:element name="factorIntegrationId" type="frct:string30"/>
         <xsd:element name="group" type="frct:string30"/>
         <xsd:element name="numValue" minOccurs="0" type="xsd:double"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfCardinalFactor">
      <xsd:sequence>
         <xsd:element name="cardinalFactor"
                      maxOccurs="unbounded"
                      type="tns:CardinalFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingPeriod">
      <xsd:sequence>
         <xsd:element name="reportDate" minOccurs="0" type="xsd:date"/>
         <xsd:element name="period" minOccurs="0" type="frct:string50"/>
         <xsd:element name="startDate" minOccurs="0" type="xsd:date"/>
         <xsd:element name="endDate" minOccurs="0" type="xsd:date"/>
         <xsd:element name="type" minOccurs="0" type="frct:string30"/>
         <xsd:element name="comments" minOccurs="0" type="frct:string255"/>
         <xsd:element name="listOfCardinalFactor" type="tns:ListOfCardinalFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingPeriod">
      <xsd:sequence>
         <xsd:element name="ratingPeriod" maxOccurs="unbounded" type="tns:RatingPeriod"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SupportFactor">
      <xsd:sequence>
         <xsd:element name="factor" type="frct:string255"/>
         <xsd:element name="factorIntegrationId" type="frct:string30"/>
         <xsd:element name="group" type="frct:string30"/>
         <xsd:element name="value" minOccurs="0" type="frct:string255"/>
         <xsd:element name="valueIntegrationId" minOccurs="0" type="frct:string30"/>
         <xsd:element name="freeValue" minOccurs="0" type="frct:string255"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfSupportFactor">
      <xsd:sequence>
         <xsd:element name="supportFactor" maxOccurs="unbounded" type="tns:SupportFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingSupport">
      <xsd:sequence>
         <xsd:element name="name" type="frct:string130"/>
         <xsd:element name="integrationId" type="frct:string30"/>
         <xsd:element name="listOfSupportFactor" type="tns:ListOfSupportFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingSupport">
      <xsd:sequence>
         <xsd:element name="ratingSupport"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:RatingSupport"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FixedFactor">
      <xsd:sequence>
         <xsd:element name="factor" type="frct:string255"/>
         <xsd:element name="factorIntegrationId" type="frct:string30"/>
         <xsd:element name="group" type="frct:string30"/>
         <xsd:element name="value" minOccurs="0" type="frct:string1024"/>
         <xsd:element name="valueIntegrationId" minOccurs="0" type="frct:string30"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfFixedFactor">
      <xsd:sequence>
         <xsd:element name="fixedFactor" maxOccurs="unbounded" type="tns:FixedFactor"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RatingCalc">
      <xsd:sequence>
         <xsd:element name="ratingCalcId" type="frct:string15"/>
         <xsd:element name="modelName" type="frct:string100"/>
         <xsd:element name="modelIntegrationId" type="frct:string30"/>
         <xsd:element name="dateCalc" minOccurs="0" type="xsd:dateTime"/>
         <xsd:element name="calcValue" minOccurs="0" type="xsd:int"/>
         <xsd:element name="listOfRatingAjustment"
                      minOccurs="0"
                      type="tns:ListOfRatingAjustment"/>
         <xsd:element name="employeeForCalc" minOccurs="0" type="tns:Employee"/>
         <xsd:element name="listOfResultRating"
                      minOccurs="0"
                      type="tns:ListOfResultRating"/>
         <xsd:element name="listOfCalculatedFactor"
                      minOccurs="0"
                      type="tns:ListOfCalculatedFactor"/>
         <xsd:element name="listOfAddParameter"
                      minOccurs="0"
                      type="tns:ListOfAddParameter"/>
         <xsd:element name="listOfFixedFactor" minOccurs="0" type="tns:ListOfFixedFactor"/>
         <xsd:element name="listOfRatingPeriod"
                      minOccurs="0"
                      type="tns:ListOfRatingPeriod"/>
         <xsd:element name="listOfRatingSupport"
                      minOccurs="0"
                      type="tns:ListOfRatingSupport"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRatingCalc">
      <xsd:sequence>
         <xsd:element name="ratingCalc" maxOccurs="unbounded" type="tns:RatingCalc"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Rating">
      <xsd:sequence>
         <xsd:element name="ratingId" type="frct:string15"/>
         <xsd:element name="finalRatingValue" minOccurs="0" type="xsd:int"/>
         <xsd:element name="intermediateRatingValue" minOccurs="0" type="xsd:int"/>
         <xsd:element name="ajustedRatingValue" minOccurs="0" type="xsd:int"/>
         <xsd:element name="pd" minOccurs="0" type="xsd:decimal"/>
         <xsd:element name="status" type="frct:string15"/>
         <xsd:element name="approvalDate" minOccurs="0" type="xsd:dateTime"/>
         <xsd:element name="calculationDate" minOccurs="0" type="xsd:dateTime"/>
         <xsd:element name="ajustmentDate" minOccurs="0" type="xsd:dateTime"/>
         <xsd:element name="modelName" minOccurs="0" type="frct:string100"/>
         <xsd:element name="modelIntegrationId" minOccurs="0" type="frct:string30"/>
         <xsd:element name="ratingName" minOccurs="0" type="frct:string255"/>
         <xsd:element name="ratingType" minOccurs="0" type="frct:string30"/>
         <xsd:element name="employeeForApprove" minOccurs="0" type="tns:Employee"/>
         <xsd:element name="listOfRatingCalc" type="tns:ListOfRatingCalc"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ListOfRating">
      <xsd:sequence>
         <xsd:element name="rating" maxOccurs="unbounded" type="tns:Rating"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
