mock-example/src/main/webapp/WEB-INF/data/FinRep/xsd/SrvGetRatingsAndFactors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:comTypes="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/"
        targetNamespace="http://sbrf.ru/NCP/ASFO/RatingsAndFactors/Data"
        xmlns="http://sbrf.ru/NCP/ASFO/RatingsAndFactors/Data"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xsd:import namespace="http://sbrf.ru/NCP/AMRLIRT/CommonTypes/" schemaLocation="../../../xsd/AMRLiRT/CommonTypes.xsd"/>

    <xsd:element name="data" type="dataValue"/>

    <xsd:complexType name="dataValue">
        <xsd:sequence>
            <xsd:element name="response" type="GetRatingsAndFactors" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Ответ на запрос
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetRatingsAndFactors">
        <xsd:choice>
        <xsd:sequence>
            <xsd:element name="listOfRating" type="ListOfRating"/>
        </xsd:sequence>
            <xsd:sequence>
                <xsd:element name="errorCode">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="30"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="errorMessage" minOccurs="0">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="2000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:choice>
        <xsd:attribute type="xsd:string" name="name" use="required"/>
    </xsd:complexType>


    <xsd:complexType name="Employee">
        <xsd:sequence>
            <xsd:element name="login">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="lastName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="firstName" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="middleName" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="division" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="divisionCode">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="jobTitle" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="300"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="role">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="RatingAjustment">
        <xsd:sequence>
            <xsd:element name="ajustmentDate" type="xsd:dateTime" />
            <xsd:element name="ajustedValue" type="xsd:int" />
            <xsd:element name="ajustmetReason" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="250"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="comments" minOccurs="0" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="status" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>


            <xsd:element name="employeeForAjustment" type="Employee" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfRatingAjustment">
        <xsd:sequence>
            <xsd:element name="ratingAjustment" type="RatingAjustment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="AddParameter">
        <xsd:sequence>
            <xsd:element name="order" type="xsd:int"/>
            <xsd:element name="name" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfAddParameter">
        <xsd:sequence>
            <xsd:element name="addParameter" type="AddParameter" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CalculatedFactor">
        <xsd:sequence>
            <xsd:element name="code">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfCalculatedFactor">
        <xsd:sequence>
            <xsd:element name="calculatedFactor" type="CalculatedFactor" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResultRating">
        <xsd:sequence>
            <xsd:element name="isPrimary" type="xsd:boolean"/>
            <xsd:element name="name">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value" type="xsd:int"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfResultRating">
        <xsd:sequence>
            <xsd:element name="resultRating" type="ResultRating" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CardinalFactor">
        <xsd:sequence>
            <xsd:element name="factor" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="factorIntegrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="group">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numValue" type="xsd:double" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfCardinalFactor">
        <xsd:sequence>
            <xsd:element name="cardinalFactor" type="CardinalFactor" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingPeriod">
        <xsd:sequence>
            <xsd:element name="reportDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="period" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="startDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="endDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="type" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="comments" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="listOfCardinalFactor" type="ListOfCardinalFactor"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingPeriod">
        <xsd:sequence>
            <xsd:element name="ratingPeriod" type="RatingPeriod" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SupportFactor">
        <xsd:sequence>
            <xsd:element name="factor" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="factorIntegrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="group" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="valueIntegrationId" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="freeValue" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfSupportFactor">
        <xsd:sequence>
            <xsd:element name="supportFactor" type="SupportFactor" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingSupport">
        <xsd:sequence>
            <xsd:element name="name" >
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="130"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="integrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="listOfSupportFactor" type="ListOfSupportFactor"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfRatingSupport">
        <xsd:sequence>
            <xsd:element name="ratingSupport" type="RatingSupport" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FixedFactor">
        <xsd:sequence>
            <xsd:element name="factor">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="factorIntegrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="group">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="value" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="valueIntegrationId" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ListOfFixedFactor">
        <xsd:sequence>
            <xsd:element name="fixedFactor" type="FixedFactor" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="RatingCalc">
        <xsd:sequence>
            <xsd:element name="ratingCalcId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="modelName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="modelIntegrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="dateCalc" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="calcValue" type="xsd:int" minOccurs="0"/>

            <xsd:element name="listOfRatingAjustment" type="ListOfRatingAjustment" minOccurs="0"/>
            <xsd:element name="employeeForCalc" type="Employee" minOccurs="0"/>
            <xsd:element name="listOfResultRating" type="ListOfResultRating" minOccurs="0"/>
            <xsd:element name="listOfCalculatedFactor" type="ListOfCalculatedFactor" minOccurs="0"/>
            <xsd:element name="listOfFixedFactor" type="ListOfFixedFactor" minOccurs="0"/>
            <xsd:element name="listOfRatingPeriod" type="ListOfRatingPeriod" minOccurs="0"/>
            <xsd:element name="listOfRatingSupport" type="ListOfRatingSupport" minOccurs="0"/>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ListOfRatingCalc">
        <xsd:sequence>
            <xsd:element name="ratingCalc" type="RatingCalc" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Rating">
        <xsd:sequence>
            <xsd:element name="ratingId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="finalRatingValue" type="xsd:int" minOccurs="0"/>
            <xsd:element name="intermediateRatingValue" type="xsd:int" minOccurs="0"/>
            <xsd:element name="ajustedRatingValue" type="xsd:int" minOccurs="0"/>
            <xsd:element name="pd" type="xsd:decimal" minOccurs="0"/>

            <xsd:element name="status">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="approvalDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="calculationDate" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="ajustmentDate" type="xsd:dateTime" minOccurs="0"/>

            <xsd:element name="modelName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="modelIntegrationId">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="ratingName">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ratingType">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="employeeForApprove" type="Employee"/>
            <xsd:element name="listOfRatingCalc" type="ListOfRatingCalc"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ListOfRating">
        <xsd:sequence>
            <xsd:element name="rating" type="Rating" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


</xsd:schema>
