mock-example/src/main/webapp/WEB-INF/xsd/CRM/CRMIntegrationTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:types="http://sbrf.ru/legal/enquiry/integration/types"
           targetNamespace="http://sbrf.ru/legal/enquiry/integration/types" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:simpleType name="ClientSystemId">
        <xs:annotation>
            <xs:documentation>
                Наименование системы-клиента
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReferenceItemId">
        <xs:annotation>
            <xs:documentation>
                Идентификатор элемента справочника.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_12">
        <xs:annotation>
            <xs:documentation>
                Строковый тип размерностью 12 символов
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_20">
        <xs:annotation>
            <xs:documentation>
                Строковый тип размерностью 20 символов
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String_256">
        <xs:annotation>
            <xs:documentation>
                Строковый тип размерностью 256 символов
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Decimal_18_0">
        <xs:annotation>
            <xs:documentation>
                Десятичный тип размерностью 18 без дробной части
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="18"/>
            <xs:fractionDigits value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReferenceItem">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="referenceItemId" type="types:ReferenceItemId"/>
            <xs:element name="value">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="512"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="effectiveTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestCategory">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Категория запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestCategories">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника категорий запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestCategory" type="types:RequestCategory"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestSubject">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Предмет запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestSubjects">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника предметов запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestSubject" type="types:RequestSubject"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Тип запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestTypes">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника типов запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestType" type="types:RequestType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestSubtype">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Вид запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestSubTypes">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника видов запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestSubType" type="types:RequestSubtype"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestComplexity">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Сложность запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestComplexities">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника сложности запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestComplexity" type="types:RequestComplexity"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestPriority">
        <xs:annotation>
            <xs:documentation>
                Элемент справочника "Приоритет запроса".
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="types:ReferenceItem"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RequestPriorities">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника приоритетов.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestPriority" type="types:RequestPriority"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientStatuses">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника статусов клиента.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="clientStatusDictElement" type="types:ReferenceItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientJurisdictions">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника юрисдикций клиента.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="clientJurisdiction" type="types:ReferenceItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QualityAssessments">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника "Оценка качества".
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="qualityAssessment" type="types:ReferenceItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReasons">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника причин возврата.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="rejectionReason" type="types:ReferenceItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestStatuses">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника возможных статусов запроса.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="requestStatus" type="types:ReferenceItem"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ServiceID">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FNTemplateId">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalService">
        <xs:annotation>
            <xs:documentation>
                Юридический сервис. Определяется уникальной комбинацией категории, предмета, типа, вида и сложности
                запроса. Обязательны только первые два элемента.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="serviceID" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="category" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="subject" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="type" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="subType" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="complexity" type="types:ReferenceItemId" minOccurs="1"/>
            <xs:element name="complexityType" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="SINGLE"/>
                        <xs:enumeration value="MULTIPLE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="FNTemplateId" type="types:FNTemplateId" minOccurs="0"/>
            <xs:element name="effectiveTo" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LegalServices">
        <xs:annotation>
            <xs:documentation>
                Массив элементов справочника юридических сервисов.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="legalService" type="types:LegalService"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrgUnitId">
        <xs:annotation>
            <xs:documentation>Идентификатор организационного подразделения</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:length value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrgUnitName">
        <xs:annotation>
            <xs:documentation>Наименование организационного подразделения</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OperatorId">
        <xs:annotation>
            <xs:documentation>Логин пользователя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OperatorFullName">
        <xs:annotation>
            <xs:documentation>ФИО пользователя</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OperatorNameList">
        <xs:annotation>
            <xs:documentation>Список имен пользователей пользователей</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operatorName" type="types:OperatorFullName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OperatorInfo">
        <xs:annotation>
            <xs:documentation>Общая информация по пользователю</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operatorID" type="types:OperatorId"/>
            <xs:element name="operatorFullName" type="types:OperatorFullName"/>
            <xs:element name="position">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="operatorOrgUnitName" type="types:OrgUnitName"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OperatorInfoList">
        <xs:annotation>
            <xs:documentation>Список операторов</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operator" type="types:OperatorInfo" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Comment">
        <xs:sequence>
            <xs:element name="operatorId" type="types:OperatorId"/>
            <xs:element name="operatorName" type="types:OperatorFullName"/>
            <xs:element name="creationTime" type="xs:dateTime"/>
            <xs:element name="text">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="2000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommentHistory">
        <xs:sequence>
            <xs:element name="comment" type="types:Comment" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WOId">
        <xs:annotation>
            <xs:documentation>
                Идентификатор запроса в BPM системе (pzInsKey).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OperatorExecutor">
        <xs:annotation>
            <xs:documentation>Данные по потенциальному юристу-исполнителю</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operatorInfo" type="types:OperatorInfo"/>
            <xs:element name="expectedStartDate" type="xs:dateTime"/>
            <xs:element name="expectedEndDate" type="xs:dateTime"/>
            <xs:element name="isExecutorInRequest" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OperatorExecutorList">
        <xs:annotation>
            <xs:documentation>Список юристов-исполнителей</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="operatorExecutor" type="types:OperatorExecutor" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientInformation">
        <xs:annotation>
            <xs:documentation>Информация о клиентах</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="clientJurisdiction" type="types:ReferenceItemId"/>
            <xs:element name="clientStatus" type="types:ReferenceItemId"/>
            <xs:element name="clientName">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1024"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="productName" type="types:String_256" minOccurs="1"/>
            <xs:element name="productType" type="types:String_256" minOccurs="1"/>
            <xs:element name="creditType" type="types:String_256" minOccurs="1"/>
            <xs:element name="creditPeriod" type="types:Decimal_18_0" minOccurs="1"/>
            <xs:element name="partyType" type="types:String_256" minOccurs="1"/>
            <xs:element name="OPF" type="types:String_256" minOccurs="0"/>
            <xs:element name="INN" type="types:String_12" minOccurs="0"/>
            <xs:element name="branch" type="types:String_256" minOccurs="0"/>
            <xs:element name="guaranteeAmount" type="types:Decimal_18_0" minOccurs="0"/>
            <xs:element name="guaranteeCurrency" type="types:String_20" minOccurs="0"/>
            <xs:element name="guaranteeAmountRub" type="types:Decimal_18_0" minOccurs="0"/>
            <xs:element name="dateBoth" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="KIO" type="types:String_256" minOccurs="0"/>
            <xs:element name="IDlink" type="types:String_256" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClientInformationList">
        <xs:annotation>
            <xs:documentation>Список записей "Информация о клиентах</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="clientInformation" type="types:ClientInformation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ECMParameters">
        <xs:sequence>
            <xs:element name="DocumentListGUID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="38"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReferenceToDocumentsInBPM">
        <xs:annotation>
            <xs:documentation>
                Ссылка для работы с документами в BPM системе.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Currency">
        <xs:annotation>
            <xs:documentation>
                Валюта. Передается из внешней системы в формате строки, пополняется во внешней системе через интеграции.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LegalEnquiryParameters">
        <xs:annotation>
            <xs:documentation>
                Параметры запроса. Данные, по которым в BPM будет формироваться запрос.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestTopic">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="150"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="requestDescription" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="2000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="creationDateTime" type="xs:dateTime"/>
            <xs:element name="priority" type="types:ReferenceItemId"/>
            <xs:element name="priorityReason" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="commentsHistory" type="types:CommentHistory" minOccurs="0"/>
            <xs:element name="creditSubject" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="600"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="creditAmount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="creditCurrency" type="types:Currency" minOccurs="0"/>
            <xs:element name="creditAmountRub" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="residentCount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nonResidentCount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="clientInformationList" type="types:ClientInformationList" minOccurs="0"/>
            <xs:element name="creditSubjectCount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="typicalAgreementCount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nonTypicalAgreementCount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="agreementAmount" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="agreementAmountRub" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="18"/>
                        <xs:fractionDigits value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="agreementCurrency" type="types:Currency" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClientSystemTaskID">
        <xs:annotation>
            <xs:documentation>
                Идентификатор задачи, созданной в системе-клиенте (CRM) по данному запросу юридического сервиса.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorMessage">
        <xs:annotation>
            <xs:documentation>Сообщение об ошибке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="errorCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="errorShortDescription">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="errorText" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="250"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="validationErrorsOnFields" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="xsdFieldName" maxOccurs="unbounded">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="32"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
