mock-example/src/main/webapp/WEB-INF/xsd/CRM/GetParticipantsResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.12/" 
targetNamespace="http://sbrf.ru/NCP/CRM/GetParticipantsRs/1.12/" 
elementFormDefault="qualified">

	<xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/" schemaLocation="CommonTypes.xsd"/>
	<xsd:complexType name="OperationStatus">
		<xsd:annotation>
			<xsd:documentation>
				Статус операции
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="errorCode" type="crmct:string50">
				<xsd:annotation>
					<xsd:documentation>
						Код ошибки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="errorMessage" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Сообщение ошибки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rating">
		<xsd:annotation>
			<xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ratingID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingValue" type="crmct:integer2">
				<xsd:annotation>
					<xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingModel" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Модель
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата расчета
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedRole" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Роль
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedBy" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="ratingApprovalDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата утверждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingApprovedBy" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantsGroup">
		<xsd:annotation>
			<xsd:documentation>
				Данные о группе участников
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="participants" type="tns:Participant" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Участники группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="groupType">
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation>
                            Тип группы участников (КГ, ГСЗ, Участники сделки)
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="DealParticipats|CG|LBG"/>
                    </xsd:restriction>
                </xsd:simpleType>			
			</xsd:element>
			<xsd:element name="groupInfo" type="tns:GroupInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Информация о группе
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GroupInfo">
		<xsd:annotation>
			<xsd:documentation>
				Информация о группе
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="id" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID группы для requestType=CG или requestType=LBG
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="label" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименование группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Статус группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="updateDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Дата обновления группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="approvalDate" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Дата утверждения группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratings" type="tns:Rating" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Рейтинг группы
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="topLevelGroupName" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Наименование ГСЗ верхнего уровня
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Participant">
		<xsd:annotation>
			<xsd:documentation>
				Участник
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="participantID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID Участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="crmct:string255" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Тип участника (Участник, Гарант, Поручитель... )
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isBorrower" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Признак: является Заемщиком
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientType"  minOccurs="0">
                <xsd:simpleType>
                    <xsd:annotation>
                        <xsd:documentation>
                            Тип участника (ФЛ, ЮЛ)
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="NP|LP"/>
                    </xsd:restriction>
                </xsd:simpleType>
			</xsd:element>
			<xsd:element name="name" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименование
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resident" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Резидент/Нерезидент (true - Резидент)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="consolidatedGroupID" type="crmct:string15" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID КГ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="linkedBorrowersGroupID" type="crmct:string15" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID ГСЗ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="industry" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Отрасль
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="inn" type="crmct:string12">
				<xsd:annotation>
					<xsd:documentation>
						ИНН
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reportingDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Отчетная дата
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rating" type="tns:Rating" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NaturalPerson">
		<xsd:complexContent>
			<xsd:extension base="tns:Participant">
				<xsd:annotation>
					<xsd:documentation>
						Физическое лицо
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="lastName" type="crmct:string255">
						<xsd:annotation>
							<xsd:documentation>
								Фамилия
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="firstName" type="crmct:string255">
						<xsd:annotation>
							<xsd:documentation>
								Имя
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="middleName" type="crmct:string255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Отчество
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dateOfBirth" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Дата рождения
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 
					<xsd:element name="identitySeries" type="crmct:string255">
						<xsd:annotation>
							<xsd:documentation>
								Серия
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="identityNumber" type="crmct:string255">
						<xsd:annotation>
							<xsd:documentation>
								Номер
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LegalPerson">
		<xsd:complexContent>
			<xsd:extension base="tns:Participant">
				<xsd:annotation>
					<xsd:documentation>
						Юридическое лицо
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="businessEntityType" type="crmct:string255">
						<xsd:annotation>
							<xsd:documentation>
								ОПФ
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="taxAgencyNumber" type="crmct:string20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Номер налогового органа
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="registrationDate" type="xsd:date" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Дата выдачи гос. регистрации
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="registrationName" type="crmct:string255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Наименование регистрирующего органа
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="registrationNumber" type="crmct:string20" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Регистрационный номер
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="segment" type="crmct:string255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Сегмент бизнеса
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="isProblemClient" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Проблемный клиент
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="problemGroup" type="crmct:string255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Группа проблемности
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mainActivity" type="crmct:string255" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								Основная деятельность Заемщика
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PrtspRs">
		<xsd:annotation>
			<xsd:documentation>
				Элемент верхнего уровня
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dealID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestType">
               <xsd:simpleType>
                   <xsd:annotation>
                       <xsd:documentation>
                           Тип сообщения (getDealParticipants, getCG, getLBG, getBorrower)
                       </xsd:documentation>
                   </xsd:annotation>
                    <xsd:restriction base="xsd:string">
                        <xsd:pattern value="getDealParticipants|getCG|getLBG|getBorrower"/>
                    </xsd:restriction>
                </xsd:simpleType>
			</xsd:element>
			<xsd:element name="participantsGroup" type="tns:ParticipantsGroup">
				<xsd:annotation>
					<xsd:documentation>
						Информация об участниках
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="operationStatus" type="tns:OperationStatus">
				<xsd:annotation>
					<xsd:documentation>
						Статус операции
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
