mock-example/src/main/resources/in/NCP/CRM/UpdateDealRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:crmct="http://sbrf.ru/NCP/CRM/CommonTypes/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.15/" targetNamespace="http://sbrf.ru/NCP/CRM/UpdateDealRq/1.15/" elementFormDefault="qualified">
	<xsd:import namespace="http://sbrf.ru/NCP/CRM/CommonTypes/" schemaLocation="CommonTypes.xsd"/>
	<xsd:complexType name="DealTeamMember">
		<xsd:annotation>
			<xsd:documentation>
				Участник команды сделки
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="memberId" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						ФИО участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberEmail" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						E-mail участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberRole" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Роль участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FinancingInfo">
		<xsd:annotation>
			<xsd:documentation>
				Финансовая информация по продукту
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="interestRate" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Процентная ставка
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRateType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип ставки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestRateOrder" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Порядок установления процентной ставки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anotherInterestRateOrder" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Иной порядок установления процентной ставки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="minRate" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Индивидуальная минимальная процентная ставка с учетом субсидий
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencyOfFunding" type="crmct:string3">
				<xsd:annotation>
					<xsd:documentation>
						Валюта финансирования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principal" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Сумма, тыс. ед.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rating">
		<xsd:annotation>
			<xsd:documentation>
				Данные о рейтинге
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ratingID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID Рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingValue" type="crmct:integer3">
				<xsd:annotation>
					<xsd:documentation>
						Значение рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип рейтинга
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingModel" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Модель
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата расчета
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedRole" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Роль
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingCalculatedBy" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingApprovalDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата утверждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ratingApprovedBy" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Ф.И.О.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Project">
		<xsd:annotation>
			<xsd:documentation>
				Данные о проекте
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="projectID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID проекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="projectName" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Наименование проекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicatorsOfConstruction" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Количественные показатели объекта строительства
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parcel" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Земельный участок
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="documentsPresence" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Наличие правоустанавливающей и исходно-разрешительной документации
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="equityVolume" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Объем собственных средств
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentSpring" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Источник погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fundingDirection" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Направление финансирования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sameIndustryAsBorrower" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Отрасль проекта совпадает с отраслью заемщика
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="projectRating" type="tns:Rating" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Данные о рейтинге
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Schedule">
		<xsd:annotation>
			<xsd:documentation>
				Детализация графика
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="sheduleDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sheduleAmount" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Сумма
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Losses">
		<xsd:annotation>
			<xsd:documentation>
				LGD, EAD и лимиты
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="percentLGD" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						LGD – потери при дефолте (%)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="countEAD" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						EAD – средства под риском (тыс.ед.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Валюта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="reportDateAmount" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Сумма на отчетную дату
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lossELpercent" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						EL – ожидаемые потери (%)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lossELcount" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						EL - ожидаемые потери (тыс.ед.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typeLGD" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Тип LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="statusLGD" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Статус LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dateLGDcalculated" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Дата расчета LGD
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="finalizationDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Дата финализации
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="crmct:string4500" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Комментарии к расчету
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Collateral">
		<xsd:annotation>
			<xsd:documentation>
				Обеспечения по продукту
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="collateralID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID Обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="collateralType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Вид обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ownerID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID Участника
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isLegalPerson" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Участник является ЮЛ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValue" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Оценочная стоимость
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discountRate" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Ставка дисконта для расчета LGD %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueCorrected" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Скорректированная оценочная стоимость обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qualityCategory" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Категория качества обеспечения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="daysForCalculation" type="crmct:integer3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Дни для расчета %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueCorrectedToEAD" type="crmct:double17_5"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Скорректированная оценочная стоимость по отношению к EAD, %
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueSource" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Источник оценочной стоимости
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimationDate" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
						Дата оценки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="businessMeaning" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Значимость для бизнеса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="qualityAndLiquidityEstimation" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Экспертная оценка ликвидности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Валюта оценки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="estimatedValueType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип оценочной стоимости
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="guarantorRating" type="crmct:integer2">
				<xsd:annotation>
					<xsd:documentation>
						Рейтинг гаранта/поручителя/эмитента
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fee">
		<xsd:annotation>
			<xsd:documentation>
				Вознаграждение
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="feeName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Наименоание вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="anotherFeeName" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Наименование для иного вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="calculationBase" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Размер и база расчета
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="paymentOrder" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Порядок уплаты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ParticipantProductInfo">
		<xsd:annotation>
			<xsd:documentation>
				Участники сделки в разрезе продуктов
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
				<xsd:element name="participantID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID участника сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип участника (ФЛ, ЮЛ)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="participantType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип участника (Участник, Заемщик, Гарант... )
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Product">
		<xsd:annotation>
			<xsd:documentation>
				Условия продукта
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="productVersion" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Версия продукта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purpose" type="crmct:string1000">
				<xsd:annotation>
					<xsd:documentation>
						Цель кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditMode" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Режим кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionSchedule" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						График выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesSchedule" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						График изменения (увеличения/снижения) предельного размера единовременной задолженности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionSchedulePeriod" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Период для графика выборки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesSchedulePeriod" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Период для графика изменения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interestPaymentOrder" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Порядок уплаты процентов
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="refinancing" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
						Направление на рефинансирование обяз-ва
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="suspensiveCondition" type="crmct:string255" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Отлагательные условия
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="principalBaseCurrency" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Сумма в баз. вал., тыс.ед.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="financingInfo" type="tns:FinancingInfo" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Финансовая информация по продукту
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="startDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Дата предоставления
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditTerm" type="crmct:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Срок кредитования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period" type="crmct:integer5">
				<xsd:annotation>
					<xsd:documentation>
						Период доступности, в мес.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gracePeriod" type="crmct:integer5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Льготный период
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentSchedule" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						График погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="turnover" type="crmct:integer5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Оборачиваемость
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="covenants" type="crmct:string4500" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Ковенанты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proposedCollateral" type="crmct:string2000">
				<xsd:annotation>
					<xsd:documentation>
						Предварительное обеспечение
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debtLimit" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Предельный размер единовременной задолженности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pledgeInsurance" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Страхование залога
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customerProspects" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Перспективы сотрудничества с клиентом
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="financingTerm" type="crmct:integer3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Срок финансирования по уступаемым денежным требованиям
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firstCountry" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Первоначальная страна использования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lastCountry" type="crmct:string255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Конечная страна использования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fee" type="tns:Fee" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Вознаграждения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="repaymentScheduleDetails" type="tns:Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график погашения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="selectionScheduleDetails" type="tns:Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график выборки 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="changesScheduleDetails" type="tns:Schedule" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Секция график изменения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="unutilizedLimit" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Невыбранный лимит
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="correctedUnutilizedLimit" type="crmct:double17_5" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Скорректированный невыбранный лимит
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductConditions">
		<xsd:annotation>
			<xsd:documentation>
				Данные по продукту
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="productID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID продукта в CRM
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="projectID" type="crmct:string15" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID проекта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Продукт
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="category" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Категория продукта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="participantProductInfo" type="tns:ParticipantProductInfo" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Участники сделки в разрезе продуктов
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="productInfo" type="tns:Product" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Условия продукта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateral" type="tns:Collateral" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Обеспечения по продуктам
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="losses" type="tns:Losses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						LGD, EAD и лимиты
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StopFactor">
		<xsd:annotation>
			<xsd:documentation>
				Данные о стоп факторах
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stopFactorID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор стоп фактора
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stopFactorName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Стоп фактор
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		
			<xsd:element name="stopFactorComment" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Комментарий
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="stopFactorArgument" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Аргументы, позволяющие осуществить кредитование
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProblemCriteria">
		<xsd:annotation>
			<xsd:documentation>
				Данные о критериях проблемности
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="problemCriteriaID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор критерия проблемности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="problemCriteriaName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Критерий проблемности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditJustification" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Обоснование, позволяющее осуществить кред-е
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="problemProductName" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Продукт
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="problemProductAmount" type="crmct:double17_5">
				<xsd:annotation>
					<xsd:documentation>
						Сумма
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="problemProductCurrency" type="crmct:string3">
				<xsd:annotation>
					<xsd:documentation>
						Валюта
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="problemProductTerm" type="crmct:integer10">
				<xsd:annotation>
					<xsd:documentation>
						Срок финансирования
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Deal">
		<xsd:annotation>
			<xsd:documentation>
				Данные кредитной сделки
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dealID" type="crmct:string15">
				<xsd:annotation>
					<xsd:documentation>
						ID сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contractID" type="crmct:string15" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						ID договора
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealCreationDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Дата создания
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealEssense" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Суть сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestPurpose" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Цель запроса
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealType" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Тип сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealStatus" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Статус сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
						Дата обращения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="origOrgUnit" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Код подразделения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="origOrgDivision" type="crmct:string2">
				<xsd:annotation>
					<xsd:documentation>
						Код дочернего банка, например, BY, KZ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="codeCBS" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Код ЦБУ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="clientFileID" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор досье клиента
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealFileID" type="crmct:string255">
				<xsd:annotation>
					<xsd:documentation>
						Идентификатор досье сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comment" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Примечание
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="collateralProvided" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						По сделке предоставлено обеспечение
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limitKM" type="crmct:string2000" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Предложение КМ по лимитам
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dealTeamMembers" type="tns:DealTeamMember" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Команда сделки
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="products" type="tns:ProductConditions" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Информация по продуктам
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project" type="tns:Project" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						Информация по проекту
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="stopFactors" type="tns:StopFactor" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Данные о стоп факторах
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="problemCriterias" type="tns:ProblemCriteria" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						Данные о критериях проблемности
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateDealRq">
		<xsd:annotation>
			<xsd:documentation>
				Элемент верхнего уровня
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="deal" type="tns:Deal">
				<xsd:annotation>
					<xsd:documentation>
						Сделка
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
