mock-example/src/main/resources/in/KKMB/MFO/FrWebServicePort.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://sbrf.ru/prpc/finrep/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sbrf.ru/prpc/finrep/10">

    <xs:complexType name="GetProjectFactorsReq">
        <xs:sequence>
            <xs:element name="RequestId" type="xs:string"></xs:element>
            <xs:element name="DealId" type="xs:string"></xs:element>
            <xs:element name="Project" type="tns:ProjectRef"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProjectRef">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetProjectFactorsResp">
        <xs:sequence>
            <xs:element name="ListOfSystemErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Project" type="tns:ProjectFactorsResponse"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Error">
        <xs:sequence>
            <xs:element name="ErrorCode" type="xs:string"></xs:element>
            <xs:element name="ErrorMessage" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProjectFactorsResponse">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ListOfErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocuments"></xs:element>
            <xs:element name="ListOfFixedFactor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FixedFactor" type="tns:FixedFactor" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfRatingPeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatingPeriod" type="tns:RatingPeriod" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfRatingSupport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatingSupport" type="tns:RatingSupport" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListOfDocuments">
        <xs:sequence>
            <xs:element name="Document" type="tns:Document" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DocumentId" type="xs:long"></xs:element>
            <xs:element name="ApprovalDate" type="xs:date"></xs:element>
            <xs:element name="ApprovalPerson" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FixedFactor">
        <xs:sequence>
            <xs:element name="Factor" type="xs:string"></xs:element>
            <xs:element name="FactorIntegrationId" type="xs:string"></xs:element>
            <xs:element name="Group" type="xs:string"></xs:element>
            <xs:element name="Value" type="xs:string"></xs:element>
            <xs:element name="ValueIntegrationId" type="xs:string"></xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListOfDocumentRefs">
        <xs:sequence>
            <xs:element name="Document" type="tns:DocumentRef" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DocumentRef">
        <xs:sequence>
            <xs:element name="DocumentId" type="xs:long"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RatingPeriod">
        <xs:sequence>
            <xs:element name="ReportDate" type="xs:date"></xs:element>
            <xs:element name="Period" type="xs:string"></xs:element>
            <xs:element name="StartDate" type="xs:date"></xs:element>
            <xs:element name="EndDate" type="xs:date"></xs:element>
            <xs:element name="PeriodType" type="xs:string"></xs:element>
            <xs:element name="Comments" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ListOfCardinalFactor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CardinalFactor" type="tns:CardinalFactor" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CardinalFactor">
        <xs:sequence>
            <xs:element name="Factor" type="xs:string"></xs:element>
            <xs:element name="FactorIntegrationId" type="xs:string"></xs:element>
            <xs:element name="Group" type="xs:string"></xs:element>
            <xs:element name="NumValue" type="xs:double"></xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RatingSupport">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"></xs:element>
            <xs:element name="IntegrationId" type="xs:string"></xs:element>
            <xs:element name="ListOfSupportFactor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SupportFactor" type="tns:SupportFactor" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SupportFactor">
        <xs:sequence>
            <xs:element name="Factor" type="xs:string"></xs:element>
            <xs:element name="FactorIntegrationId" type="xs:string"></xs:element>
            <xs:element name="Group" type="xs:string"></xs:element>
            <xs:element name="Value" type="xs:string"></xs:element>
            <xs:element name="ValueIntegrationId" type="xs:string"></xs:element>
            <xs:element name="FreeValue" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocumentRefs"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetGCFactorsReq">
        <xs:sequence>
            <xs:element name="RequestId" type="xs:string"></xs:element>
            <xs:element name="DealId" type="xs:string"></xs:element>
            <xs:element name="ConsolidatedGroupRef" type="tns:ConsolidatedGroupRef"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ConsolidatedGroupRef">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string"></xs:element>
            <xs:element name="ListOfParticipants" type="tns:ListOfParticipantsRef"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListOfParticipantsRef">
        <xs:sequence>
            <xs:element name="Participant" type="tns:ParticipantRef" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParticipantRef">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetGCFactorsResp">
        <xs:sequence>
            <xs:element name="ListOfSystemErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsolidatedGroup" type="tns:GCFactorsResponse"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GCFactorsResponse">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="ListOfErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AvgMonthlyRevenue" type="xs:double"></xs:element>
            <xs:element name="NetMonthlyProfit" type="xs:double"></xs:element>
            <xs:element name="EquityCapital" type="xs:double"></xs:element>
            <xs:element name="CumulativeNetCashFlow" type="xs:double"></xs:element>
            <xs:element name="TotalAssets" type="xs:double"></xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocuments"></xs:element>
            <xs:element name="ListOfFixedFactor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FixedFactor" type="tns:FixedFactor" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfRatingPeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatingPeriod" type="tns:RatingPeriod" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetParticipantFactorsReq">
        <xs:sequence>
            <xs:element name="RequestId" type="xs:string"></xs:element>
            <xs:element name="DealId" type="xs:string"></xs:element>
            <xs:element name="ListOfParticipants" type="tns:ListOfParticipantsRequestRef"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListOfParticipantsRequestRef">
        <xs:sequence>
            <xs:element name="Participant" type="tns:ParticipantRequestRef" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParticipantRequestRef">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string"></xs:element>
            <xs:element name="RatingIsActual" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetParticipantFactorsResp">
        <xs:sequence>
            <xs:element name="ListOfSystemErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SystemError" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfParticipants" type="tns:ListOfParticipants"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ListOfParticipants">
        <xs:sequence>
            <xs:element name="Participant" type="tns:ParticipantFactorsResponse" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParticipantFactorsResponse">
        <xs:sequence>
            <xs:element name="CRMId" type="xs:string"></xs:element>
            <xs:element name="ListOfErrors">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Error" type="tns:Error" minOccurs="0" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AvgMonthlyRevenue" type="xs:double" minOccurs="0"></xs:element>
            <xs:element name="NetMonthlyProfit" type="xs:double" minOccurs="0"></xs:element>
            <xs:element name="EquityCapital" type="xs:double" minOccurs="0"></xs:element>
            <xs:element name="CumulativeNetCashFlow" type="xs:double" minOccurs="0"></xs:element>
            <xs:element name="TotalAssets" type="xs:double" minOccurs="0"></xs:element>
            <xs:element name="ListOfDocuments" type="tns:ListOfDocuments"></xs:element>
            <xs:element name="ListOfFixedFactor">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FixedFactor" type="tns:FixedFactor" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfRatingPeriod">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatingPeriod" type="tns:RatingPeriod" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ListOfRatingSupport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatingSupport" type="tns:RatingSupport" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>