mock-example/src/main/resources/in/BBMO/CBBOL/domainTypes/TransactionPassportTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Nesterenko (EMBRACE) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sbrf.ru/prpc/bbmo/10" xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10" xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10" xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10" targetNamespace="http://sbrf.ru/prpc/bbmo/10" elementFormDefault="qualified">
	<import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10" schemaLocation="../commonTypes/dataTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10" schemaLocation="../commonTypes/simpleTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10" schemaLocation="../commonTypes/commonTypes.xsd"/>
	<include schemaLocation="CommonStructureTypes.xsd"/>
	<element name="TransactionPassportAttrs">
		<annotation>
			<documentation>Атрибуты оформленного (переоформленного) паспорта сделки</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>Результат передачи данных</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumber" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="TransPassportDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="TransPassportReissueNumber" minOccurs="0">
					<annotation>
						<documentation>Номер переоформления</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TransPassportReissueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата переоформления</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="TransactionPassportAndEGRUL">
		<annotation>
			<documentation>Паспорт сделки/ЕГРЮЛ</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision" minOccurs="0">
					<annotation>
						<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="ExchangeControlOperationFlag">
					<annotation>
						<documentation>Признак операции ВК
Принимает значения:
1 – Новый ПС
2 – Переоформление ПС
3 – ЕГРЮЛ</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TransPassportType">
					<annotation>
						<documentation>Вид паспорта сделки
Принимает значения:
1 – ПС по контракту
2 – ПС по кредитному договору</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element ref="tns:AddressInfo" minOccurs="0">
					<annotation>
						<documentation>Адрес</documentation>
					</annotation>
				</element>
				<element name="ContractTypeCode" minOccurs="0">
					<annotation>
						<documentation>Код вида контракта</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CounterpartyName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Наименование иностранного контрагента</documentation>
					</annotation>
				</element>
				<element name="CounterpartyCountry" minOccurs="0">
					<annotation>
						<documentation>Наименование страны иностранного контрагента</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="CounterpartyCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны иностранного контрагента</documentation>
					</annotation>
				</element>
				<element name="ContractNum" minOccurs="0">
					<annotation>
						<documentation>Номер контракта</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ContractSignDate" type="dt:Date" minOccurs="1">
					<annotation>
						<documentation>Дата подписания контракта</documentation>
					</annotation>
				</element>
				<element name="PriceCurrency" minOccurs="0">
					<annotation>
						<documentation>Наименование валюты цены</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="150"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PriceCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены</documentation>
					</annotation>
				</element>
				<element name="AmountOfContract" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма контракта</documentation>
					</annotation>
				</element>
				<element name="SettlementEndDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата завершения исполнения обязательств в паспорте сделки (по кредитному договору)</documentation>
					</annotation>
				</element>
				<element name="DocumentsSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документов</documentation>
					</annotation>
				</element>
				<element name="Conditions_AbroadAccountsIncome" minOccurs="0">
					<annotation>
						<documentation>Особые условия / зачисление на счета за рубежом</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger"/>
					</simpleType>
				</element>
				<element name="Conditions_RedemptionByExchangeRevenue" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Особые условия / погашение за счет валютной выручки</documentation> 
					</annotation>
				</element>
				<element name="Conditions_ExchangeClauseFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / валютная оговорка (отметка)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Conditions_ImportExportGoodsFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / ввоз/вывоз товара</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Conditions_AbroadConstructionFlag" minOccurs="0">
					<annotation>
						<documentation>Особые условия / проведение строительных и подрядных работ за пределами территории Российской Федерации (отметка)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PermissionNumber" minOccurs="0">
					<annotation>
						<documentation>Номер разрешения</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="50"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PermissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата разрешения</documentation>
					</annotation>
				</element>
				<element name="PermissionAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма разрешения</documentation>
					</annotation>
				</element>
				<element name="PermissionExpirationDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Срок окончания действия разрешения</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumberBefore180604" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки, оформленного до 18 июня 2004 года</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumberInAnotherBank" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки, ранее оформленного в другом уполномоченном банке</documentation>
					</annotation>
				</element>
				<element name="ContractConditions" minOccurs="0">
					<annotation>
						<documentation>Условия о сроках и порядке расчетов по контракту (доп. условия)</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="800"/>
						</restriction>
					</simpleType>
				</element>
				<element name="Period" minOccurs="0">
					<annotation>
						<documentation>Срок от даты выпуска до даты зачисления, срок от даты оплаты до даты ввоза товаров</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="List2Date" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата оформления листа 2</documentation>
					</annotation>
				</element>
				<element name="TransPassportNumber" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="RedemptionCode" minOccurs="0">
					<annotation>
						<documentation>Код срока погашения/по кредитному договору</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:PosInteger">
							<length value="1"/>
						</restriction>
					</simpleType>
				</element>
				<element name="TrancheAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма транша</documentation>
					</annotation>
				</element>
				<element name="TrancheDate" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>Срок транша</documentation>
					</annotation>
				</element>
				<element name="InterestRate" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Фиксированный размер процентной ставки, % го-довых</documentation>
					</annotation>
				</element>
				<element name="LIBORCode" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Код ставки "ЛИБОР"</documentation>
					</annotation>
				</element>
				<element name="OtherInterestRateMethods" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Другие методы определения процентной ставки</documentation>
					</annotation>
				</element>
				<element name="AdditionalPayments" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Размер процентной надбавки (дополнительных платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты кредитного договора (сумма задолженности)</documentation>
					</annotation>
				</element>
				<element name="DebtAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма задолженности по основному долгу</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (график платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (график платежей)</documentation>
					</annotation>
				</element>
				<element name="DebtPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (график платежей, суммы платежей по датам их осуществления)</documentation>
					</annotation>
				</element>
				<element name="SpecialConditions" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Описание особых условий</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtRedemptionPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (погашение основного долга)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены кредитного договора (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="DebtProcentsRedemptionPaymentsAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма (погашение процентов)</documentation>
					</annotation>
				</element>
				<element name="RedemptionSpecialConditions" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Описание особых условий для графика возврата</documentation>
					</annotation>
				</element>
				<element name="IMFRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к международной валютной организации</documentation>
					</annotation>
				</element>
				<element name="EBRDRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к ЕБРР</documentation>
					</annotation>
				</element>
				<element name="WBRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к Мировому банку</documentation>
					</annotation>
				</element>
				<element name="OtherFinanceOrgRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к другим финансовым международным организациям</documentation>
					</annotation>
				</element>
				<element name="NotMultilateralLenderRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о принадлежности к кредиторам, не являющимся МФО</documentation>
					</annotation>
				</element>
				<element name="DirectInvestmentRelationshipFlag" type="st:Belonging_Type" minOccurs="0">
					<annotation>
						<documentation>Отметка о наличии отношений прямого инвестирования</documentation>
					</annotation>
				</element>
				<element name="GuaranteeAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма залогового и другого обеспечения</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCounterpartyName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Наименование иностранного контрагента (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCounterpartyCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны регистрации иностранного контрагента (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Цифровой код валюты цены (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма предоставляемая (синдицированная основа)</documentation>
					</annotation>
				</element>
				<element name="SyndicatedPercentInTotal" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Доля в общей сумме кредита (займа), %</documentation>
					</annotation>
				</element>
				<element name="PermissionsCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны (информация о разрешениях)</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
