mock-example/src/main/webapp/WEB-INF/in/BBMO/BBMO/domainTypes/ExchangeControlTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Nesterenko (EMBRACE) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sbrf.ru/prpc/bbmo/10" xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10" xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10" xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10" targetNamespace="http://sbrf.ru/prpc/bbmo/10" elementFormDefault="qualified">
	<import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10" schemaLocation="../commonTypes/dataTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10" schemaLocation="../commonTypes/simpleTypes.xsd"/>
	<import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10" schemaLocation="../commonTypes/commonTypes.xsd"/>
	<include schemaLocation="CommonStructureTypes.xsd"/>
	<element name="ExchangeControlDocumentInformation">
		<annotation>
			<documentation>Информация по документам валютного контроля</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>ID документа</documentation>
					</annotation>
				</element>
				<element name="EGRUL_CustFullName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Полное наименование клиента из ЕГРЮЛ</documentation>
					</annotation>
				</element>
				<element name="OGRN" type="st:StateRegPrimeNum_Type" minOccurs="0">
					<annotation>
						<documentation>ОГРН</documentation>
					</annotation>
				</element>
				<element name="StateRegPrimeDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата внесения записи в гос. реестр</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="TransPassport_CustFullName" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Полное наименование клиента из ПС</documentation>
					</annotation>
				</element>
				<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="PriceCurrCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты цены в паспорте сделки</documentation>
					</annotation>
				</element>
				<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
					<annotation>
						<documentation>Номер счета</documentation>
					</annotation>
				</element>
				<element name="AccountExist" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак существования счета</documentation>
					</annotation>
				</element>
				<element name="TransPassportExist" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак существования ПС</documentation>
					</annotation>
				</element>
				<element name="SettlementEndDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата завершения исполнения обязательств в паспорте сделки</documentation>
					</annotation>
				</element>
				<element ref="tns:AddressInfo" minOccurs="0">
					<annotation>
						<documentation>Адрес</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="ExchangeControlDocument">
		<annotation>
			<documentation>Документ валютного контроля</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="CustomerId" type="dt:PosInteger" minOccurs="0">
					<annotation>
						<documentation>ID клиента (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element ref="tns:BankSubdivision" minOccurs="0">
					<annotation>
						<documentation>Подразделение банка (Передается в случае отсутствия информации о ИНН и КПП)</documentation>
					</annotation>
				</element>
				<element name="TaxId" type="st:TaxId_Type" minOccurs="0">
					<annotation>
						<documentation>ИНН клиента</documentation>
					</annotation>
				</element>
				<element name="TaxRegReasonCode" type="st:TaxRegReasonCode_Type" minOccurs="0">
					<annotation>
						<documentation>КПП клиента</documentation>
					</annotation>
				</element>
				<element name="DocumentType">
					<annotation>
						<documentation>Вид документа валютного контроля
Принимает значения:
1 – СоВО
2 – СоПВРФ
3 – СоПД
4 – СоРЧСЗР</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:DefPosInteger">
							<enumeration value="1"/>
							<enumeration value="2"/>
							<enumeration value="3"/>
							<enumeration value="4"/>
						</restriction>
					</simpleType>
				</element>
				<element name="DocumentId" type="dt:PosInteger">
					<annotation>
						<documentation>ID документа</documentation>
					</annotation>
				</element>
				<element name="PaymentInstructionNumber" type="dt:DefString" minOccurs="0">
					<annotation>
						<documentation>Номер уведомления/номер расчетного документа</documentation>
					</annotation>
				</element>
				<element ref="tns:AccountingDocument" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Информация по расчетному документу (платежка)</documentation>
					</annotation>
				</element>
				<element name="DocumentsSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документов</documentation>
					</annotation>
				</element>
				<element name="ContractCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты (валюта контракта)</documentation>
					</annotation>
				</element>
				<element name="AmountOfContract" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма в валюте контракта</documentation>
					</annotation>
				</element>
				<element name="ReferenceDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата справки</documentation>
					</annotation>
				</element>
				<element ref="tns:TransactionPassport" minOccurs="0" maxOccurs="unbounded">
					<annotation>
						<documentation>Информация по ПС</documentation>
					</annotation>
				</element>
				<element name="AccountNumber" type="st:AccountNumber_Type" minOccurs="0">
					<annotation>
						<documentation>Номер счета</documentation>
					</annotation>
				</element>
				<element name="ValueDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата зачисления</documentation>
					</annotation>
				</element>
				<element name="DocumentSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документa</documentation>
					</annotation>
				</element>
				<element name="PaymentDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата платежа</documentation>
					</annotation>
				</element>
				<element name="TransactionType" type="dt:DefPosInteger" minOccurs="0">
					<annotation>
						<documentation>Направление платежа
Принимает значения:
1 – зачисление;
2 – списание.
</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="AccountingDocument">
		<annotation>
			<documentation>Информация по расчетному документу (платежка)</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="ExchangeOperationCode">
					<annotation>
						<documentation>Код вида валютной операции</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="5"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PaymentAmount" type="dt:PosFloat">
					<annotation>
						<documentation>Сумма платежа</documentation>
					</annotation>
				</element>
				<element name="TransPassportNum" type="st:TransPassportNum_Type" minOccurs="0">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="TransactionPassport">
		<annotation>
			<documentation>Информация по ПС</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="TransPassportNum" type="st:TransPassportNum_Type">
					<annotation>
						<documentation>Номер паспорта сделки</documentation>
					</annotation>
				</element>
				<element name="DocumentDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата документа</documentation>
					</annotation>
				</element>
				<element name="DocumentTypeCode" minOccurs="0">
					<annotation>
						<documentation>Код вида документа</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:PosInteger">
							<maxLength value="2"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ConfirmativeDocumentCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты подтверждающего документа</documentation>
					</annotation>
				</element>
				<element name="ConfirmativeDocument" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма подтверждающего документа</documentation>
					</annotation>
				</element>
				<element name="DocumentSubmissionDate" type="dt:Date" minOccurs="0">
					<annotation>
						<documentation>Дата предоставления документа</documentation>
					</annotation>
				</element>
				<element name="ContractCurrencyCode" type="st:CurrencyCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код валюты (валюта контракта)</documentation>
					</annotation>
				</element>
				<element name="ContractAmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма в валюте контракта</documentation>
					</annotation>
				</element>
				<element name="MakingChangeFlag" type="dt:Boolean" minOccurs="0">
					<annotation>
						<documentation>Признак корректировки записи</documentation>
					</annotation>
				</element>
				<element name="CustomsDeclarationNumber" minOccurs="0">
					<annotation>
						<documentation>Номер таможенной декларации</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="100"/>
						</restriction>
					</simpleType>
				</element>
				<element name="ExchangeOperationCode" minOccurs="0">
					<annotation>
						<documentation>Код вида валютной операции</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="5"/>
						</restriction>
					</simpleType>
				</element>
				<element name="PaymentAmmount" type="dt:PosFloat" minOccurs="0">
					<annotation>
						<documentation>Сумма платежа</documentation>
					</annotation>
				</element>
				<element name="BankCountryCode" type="st:CountryCode_Type" minOccurs="0">
					<annotation>
						<documentation>Код страны банка-получателя (отправителя) платежа</documentation>
					</annotation>
				</element>
				<element name="AbroadAccountsPaymentsFlag" minOccurs="0">
					<annotation>
						<documentation>Признак проведения расчетов через счета в банках за рубежом</documentation>
					</annotation>
					<simpleType>
						<restriction base="dt:String">
							<maxLength value="3"/>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>
