mock-example/src/main/resources/in/PD/xPression/wsdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://webservice.framework.xprs.dsc.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservice.framework.xprs.dsc.com">
    <wsdl:documentation>QuickDoc</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.framework.xprs.dsc.com">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SOAPFaultException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SOAPFaultException" nillable="true" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishAndReturnDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="outputProfileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishAndReturnDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="thumbnailForDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="thumbnailForDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="descriptionForDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="descriptionForDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="designToolForDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="designToolForDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerData" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="outputProfileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishDocuments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="documentPackageNames" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="outputProfileName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerData" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishDocumentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="categoriesForUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="categoriesForUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentsForCategory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="documentsForCategoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputProfilesForDocument">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="requestContext" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="outputProfilesForDocumentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="publishAndReturnDocumentRequest">
        <wsdl:part name="parameters" element="ns:publishAndReturnDocument"/>
    </wsdl:message>
    <wsdl:message name="publishAndReturnDocumentResponse">
        <wsdl:part name="parameters" element="ns:publishAndReturnDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="SOAPFaultException">
        <wsdl:part name="parameters" element="ns:SOAPFaultException"/>
    </wsdl:message>
    <wsdl:message name="outputProfilesForDocumentRequest">
        <wsdl:part name="parameters" element="ns:outputProfilesForDocument"/>
    </wsdl:message>
    <wsdl:message name="outputProfilesForDocumentResponse">
        <wsdl:part name="parameters" element="ns:outputProfilesForDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="descriptionForDocumentRequest">
        <wsdl:part name="parameters" element="ns:descriptionForDocument"/>
    </wsdl:message>
    <wsdl:message name="descriptionForDocumentResponse">
        <wsdl:part name="parameters" element="ns:descriptionForDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="categoriesForUserRequest">
        <wsdl:part name="parameters" element="ns:categoriesForUser"/>
    </wsdl:message>
    <wsdl:message name="categoriesForUserResponse">
        <wsdl:part name="parameters" element="ns:categoriesForUserResponse"/>
    </wsdl:message>
    <wsdl:message name="publishDocumentRequest">
        <wsdl:part name="parameters" element="ns:publishDocument"/>
    </wsdl:message>
    <wsdl:message name="publishDocumentResponse">
        <wsdl:part name="parameters" element="ns:publishDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="thumbnailForDocumentRequest">
        <wsdl:part name="parameters" element="ns:thumbnailForDocument"/>
    </wsdl:message>
    <wsdl:message name="thumbnailForDocumentResponse">
        <wsdl:part name="parameters" element="ns:thumbnailForDocumentResponse"/>
    </wsdl:message>
    <wsdl:message name="documentsForCategoryRequest">
        <wsdl:part name="parameters" element="ns:documentsForCategory"/>
    </wsdl:message>
    <wsdl:message name="documentsForCategoryResponse">
        <wsdl:part name="parameters" element="ns:documentsForCategoryResponse"/>
    </wsdl:message>
    <wsdl:message name="publishDocumentsRequest">
        <wsdl:part name="parameters" element="ns:publishDocuments"/>
    </wsdl:message>
    <wsdl:message name="publishDocumentsResponse">
        <wsdl:part name="parameters" element="ns:publishDocumentsResponse"/>
    </wsdl:message>
    <wsdl:message name="designToolForDocumentRequest">
        <wsdl:part name="parameters" element="ns:designToolForDocument"/>
    </wsdl:message>
    <wsdl:message name="designToolForDocumentResponse">
        <wsdl:part name="parameters" element="ns:designToolForDocumentResponse"/>
    </wsdl:message>
    <wsdl:portType name="QuickDocPortType">
        <wsdl:operation name="publishAndReturnDocument">
            <wsdl:input message="ns:publishAndReturnDocumentRequest" wsaw:Action="urn:publishAndReturnDocument"/>
            <wsdl:output message="ns:publishAndReturnDocumentResponse" wsaw:Action="urn:publishAndReturnDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:publishAndReturnDocumentSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="outputProfilesForDocument">
            <wsdl:input message="ns:outputProfilesForDocumentRequest" wsaw:Action="urn:outputProfilesForDocument"/>
            <wsdl:output message="ns:outputProfilesForDocumentResponse" wsaw:Action="urn:outputProfilesForDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:outputProfilesForDocumentSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="descriptionForDocument">
            <wsdl:input message="ns:descriptionForDocumentRequest" wsaw:Action="urn:descriptionForDocument"/>
            <wsdl:output message="ns:descriptionForDocumentResponse" wsaw:Action="urn:descriptionForDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:descriptionForDocumentSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="categoriesForUser">
            <wsdl:input message="ns:categoriesForUserRequest" wsaw:Action="urn:categoriesForUser"/>
            <wsdl:output message="ns:categoriesForUserResponse" wsaw:Action="urn:categoriesForUserResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:categoriesForUserSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="publishDocument">
            <wsdl:input message="ns:publishDocumentRequest" wsaw:Action="urn:publishDocument"/>
            <wsdl:output message="ns:publishDocumentResponse" wsaw:Action="urn:publishDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:publishDocumentSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="thumbnailForDocument">
            <wsdl:input message="ns:thumbnailForDocumentRequest" wsaw:Action="urn:thumbnailForDocument"/>
            <wsdl:output message="ns:thumbnailForDocumentResponse" wsaw:Action="urn:thumbnailForDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:thumbnailForDocumentSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="documentsForCategory">
            <wsdl:input message="ns:documentsForCategoryRequest" wsaw:Action="urn:documentsForCategory"/>
            <wsdl:output message="ns:documentsForCategoryResponse" wsaw:Action="urn:documentsForCategoryResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:documentsForCategorySOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="publishDocuments">
            <wsdl:input message="ns:publishDocumentsRequest" wsaw:Action="urn:publishDocuments"/>
            <wsdl:output message="ns:publishDocumentsResponse" wsaw:Action="urn:publishDocumentsResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:publishDocumentsSOAPFaultException"/>
        </wsdl:operation>
        <wsdl:operation name="designToolForDocument">
            <wsdl:input message="ns:designToolForDocumentRequest" wsaw:Action="urn:designToolForDocument"/>
            <wsdl:output message="ns:designToolForDocumentResponse" wsaw:Action="urn:designToolForDocumentResponse"/>
            <wsdl:fault message="ns:SOAPFaultException" name="SOAPFaultException" wsaw:Action="urn:designToolForDocumentSOAPFaultException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QuickDocSoap11Binding" type="ns:QuickDocPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="publishAndReturnDocument">
            <soap:operation soapAction="urn:publishAndReturnDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="outputProfilesForDocument">
            <soap:operation soapAction="urn:outputProfilesForDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="descriptionForDocument">
            <soap:operation soapAction="urn:descriptionForDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="categoriesForUser">
            <soap:operation soapAction="urn:categoriesForUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishDocument">
            <soap:operation soapAction="urn:publishDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="thumbnailForDocument">
            <soap:operation soapAction="urn:thumbnailForDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="documentsForCategory">
            <soap:operation soapAction="urn:documentsForCategory" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="designToolForDocument">
            <soap:operation soapAction="urn:designToolForDocument" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="publishDocuments">
            <soap:operation soapAction="urn:publishDocuments" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SOAPFaultException">
                <soap:fault use="literal" name="SOAPFaultException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="QuickDocHttpBinding" type="ns:QuickDocPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="publishAndReturnDocument">
            <http:operation location="QuickDoc/publishAndReturnDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="publishAndReturnDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="publishAndReturnDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="outputProfilesForDocument">
            <http:operation location="QuickDoc/outputProfilesForDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="outputProfilesForDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="outputProfilesForDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="descriptionForDocument">
            <http:operation location="QuickDoc/descriptionForDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="descriptionForDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="descriptionForDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="categoriesForUser">
            <http:operation location="QuickDoc/categoriesForUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="categoriesForUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="categoriesForUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishDocument">
            <http:operation location="QuickDoc/publishDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="publishDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="publishDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="thumbnailForDocument">
            <http:operation location="QuickDoc/thumbnailForDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="thumbnailForDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="thumbnailForDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="documentsForCategory">
            <http:operation location="QuickDoc/documentsForCategory"/>
            <wsdl:input>
                <mime:content type="text/xml" part="documentsForCategory"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="documentsForCategory"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="designToolForDocument">
            <http:operation location="QuickDoc/designToolForDocument"/>
            <wsdl:input>
                <mime:content type="text/xml" part="designToolForDocument"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="designToolForDocument"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publishDocuments">
            <http:operation location="QuickDoc/publishDocuments"/>
            <wsdl:input>
                <mime:content type="text/xml" part="publishDocuments"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="publishDocuments"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="QuickDoc">
        <wsdl:port name="QuickDocHttpsSoap11Endpoint" binding="ns:QuickDocSoap11Binding">
            <soap:address location=""/>
        </wsdl:port>
        <wsdl:port name="QuickDocHttpSoap11Endpoint" binding="ns:QuickDocSoap11Binding">
            <soap:address location="http://192.168.0.20:9081/xFramework/services/QuickDoc.QuickDocHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="QuickDocHttpsEndpoint" binding="ns:QuickDocHttpBinding">
            <http:address location=""/>
        </wsdl:port>
        <wsdl:port name="QuickDocHttpEndpoint" binding="ns:QuickDocHttpBinding">
            <http:address location="http://192.168.0.20:9081/xFramework/services/QuickDoc.QuickDocHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>