mock-example/src/main/webapp/WEB-INF/xsd/AMRLIRT/ESB/SiebelMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN 
	(TeaM DJiNN) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:altova="http://www.altova.com/xml-schema-extensions"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.lgd.sberbank.luxoft.com/" targetNamespace="http://service.lgd.sberbank.luxoft.com/">
	
<xs:complexType name="SiebelMessage">
		<xs:annotation>
			<xs:documentation>Заголовок запроса с обязательными данными
			</xs:documentation>
		</xs:annotation>
		
		<xs:all>
			<xs:element name="ListOfAccRoot">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccRoot" type="AccRoot" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		
		<xs:attribute name="MessageId" type="xs:string" use="required">
			<xs:annotation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="1-2KHH9" />
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IntegrationType" type="xs:string" use="required">
			<xs:annotation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="LGD" />
					</altova:exampleValues>
				</xs:appinfo>
				<xs:documentation>Тип точки интеграции</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TemplateId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор шаблона, на основании котогоро
					собрано сообщение
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TestRequest" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор шаблона, на основании котогоро
					собрано сообщение
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Version" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Идентификатор шаблона, на основании котогоро
					собрано сообщение
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
</xs:complexType>
	<xs:simpleType name="SiebelNumber">
		<xs:annotation>
			<xs:documentation>Формат числовых значений</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="-100000,12" />
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(-?\d+(,\d+)?)?" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiebelDate">
		<xs:annotation>
			<xs:documentation>Формат даты</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.02.2012" />
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.\d{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiebelDateTime">
		<xs:annotation>
			<xs:documentation>Формат даты-времени</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.02.2012 12:10:32" />
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}\.\d{2}\.\d{4} \d{2}:\d{2}:\d{2}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiebelBoolean">
		<xs:annotation>
			<xs:documentation>Формат булевых значений</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

<xs:complexType name="AccRoot">
	<xs:annotation>
		<xs:documentation>Организации</xs:documentation>
	</xs:annotation>
	<xs:all>
	
		<xs:element minOccurs="0" name="Type">
				<xs:annotation>
					<xs:documentation>Тип карточки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		<xs:element minOccurs="0" name="Name">
				<xs:annotation>
					<xs:documentation>Полное наименование организации</xs:documentation>
				</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="100" />
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element minOccurs="0" name="SBRFINN">
			<xs:annotation>
				<xs:documentation>ИНН</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="15" />
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
			
		<xs:element minOccurs="0" name="ListOfAccRootAccCountryReg">
			<xs:annotation>
				<xs:documentation>Список стран, где организация зарегистрирована
				</xs:documentation>
			</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0"
							name="AccRootAccCountryReg" type="AccRootAccCountryReg" />
					</xs:sequence>
				</xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" name="ListOfRequest">
		<xs:annotation>
			<xs:documentation>Сделки (Сделка КК , Сделка ОПК, Сделка СМО)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Request"
					type="Request" />
				</xs:sequence>
		</xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" name="ListOfAccServAgr">
			<xs:annotation>
				<xs:documentation>Кредитные договоры</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:sequence>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		<xs:element minOccurs="0" name="ListofRating">
			<xs:annotation>
				<xs:documentation>Рейтинги</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="Rating" type="Rating" />
				</xs:sequence>
			</xs:complexType>
		</xs:element>
		
	</xs:all>
	<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>			
		</xs:attribute>

</xs:complexType>

<xs:complexType name="AccRootAccCountryReg">
	<xs:annotation>
		<xs:documentation>Страна регистрации организации</xs:documentation>
	</xs:annotation>
	<xs:all>
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Идентификатор записи в CRM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Название страны</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1024" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SBRFCountryLiteralCode">
				<xs:annotation>
					<xs:documentation>3-символьный код страны</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
	</xs:all>

	<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>			
		</xs:attribute>
</xs:complexType>
	
<xs:complexType name="Request">
	<xs:annotation>
		<xs:documentation>Сделки (Сделка КК , Сделка ОПК, Сделка СМО)
		</xs:documentation>
	</xs:annotation>
		<xs:all>
		
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation># (Идентификатор записи)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CurrencyCode">
				<xs:annotation>
					<xs:documentation>Валюта анализа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFMainRouterRating">
				<xs:annotation>
					<xs:documentation>Основной рейтинг для маршрутизатора
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFFinalProjectRatingNonSecret" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Итоговый рейтинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFFinalProjectIntermediateRatingNonSecret" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Предварительный рейтинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFExchangeRate">
				<xs:annotation>
					<xs:documentation>Текущий курс валюты для расчета маркера
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFBadGSZRatingNonSecret" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Рейтинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ListOfFacility">
				<xs:annotation>
					<xs:documentation>Cписок кредитных продуктов
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="Facility"
							type="Facility" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
		</xs:all>
		
	<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	
</xs:complexType>
	
		<xs:complexType name="Facility">
		<xs:annotation>
			<xs:documentation>Кредитные продукты (Аукционы / лоты)
			</xs:documentation>
		</xs:annotation>
		
		<xs:all>
		
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation># (Идентификатор записи)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Updated" type="SiebelDateTime">
				<xs:annotation>
					<xs:documentation>Дата/время последнего изменения записи
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="FacilityType">
				<xs:annotation>
					<xs:documentation>Тип сделки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ProductName">
				<xs:annotation>
					<xs:documentation>Продукт</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFProductCategory">
				<xs:annotation>
					<xs:documentation>Категория</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Status">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLimitId">
				<xs:annotation>
					<xs:documentation>ID продуктового лимита</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLoanSort">
				<xs:annotation>
					<xs:documentation>Вид кредитной сделки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCreditMode">
				<xs:annotation>
					<xs:documentation>Вид кредитной сделки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFRAtingType">
				<xs:annotation>
					<xs:documentation>Основной рейтинг</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLongFlag">
				<xs:annotation>
					<xs:documentation>Данный кредит будет направлен на рефинансирование текущего обяз-в(а) в СБ?</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFSummKI" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Сумма тыс.ед.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CurrencyCodeKI">
				<xs:annotation>
					<xs:documentation>Валюта финансирования</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="CurrencyCodeSelectKI">
				<xs:annotation>
					<xs:documentation>Валюта выборки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLoanDuartionMonthsKI"
				type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Срок кредитования,мес.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFRateTypeKI">
				<xs:annotation>
					<xs:documentation>Тип ставки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentRateKI" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Ставка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLoanPointKI">
				<xs:annotation>
					<xs:documentation>Цель кредитования</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFSumm" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Сумма тыс.ед.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="CurrencyCode">
				<xs:annotation>
					<xs:documentation>Валюта финансирования</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLoanDuartionMonths"
				type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Срок кредитования,мес.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFRateType">
				<xs:annotation>
					<xs:documentation>Тип ставки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentRate" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Ставка</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLoanPoint">
				<xs:annotation>
					<xs:documentation>Цель кредитования</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFApprovalDate" type="SiebelDate">
				<xs:annotation>
					<xs:documentation>Дата утверждения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLimitProdCat">
				<xs:annotation>
					<xs:documentation>Продуктовый лимит на / Продукт</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFLimitSumCalc" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Сумма, тыс.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFResultRate" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Ставка, %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFReserveRateKO" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Ставка резервирования утвержденная, % </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFAgreementRate" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Текущая ставка по договору, %</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentDebt" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Текущая задолженность, тыс. ед</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFAgreemnentPaymentDate"
				type="SiebelDate">
				<xs:annotation>
					<xs:documentation>Дата погашения по договору</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentPaymentDate"
				type="SiebelDate">
				<xs:annotation>
					<xs:documentation>Дата погашения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentCredit" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Невыбранный лимит, тыс. ед.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFETCMin">
				<xs:annotation>
					<xs:documentation>Расчетная ЕТС по кредиту, % годовых</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFASSDCurrencyCode">
				<xs:annotation>
					<xs:documentation>Валюта выдачи</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFEffectiveRate">
				<xs:annotation>
					<xs:documentation>Ставка с учетом комиссий, % годовых</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFAgreementSumm">
				<xs:annotation>
					<xs:documentation>Сумма по договору</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFCurrentPercentRate">
				<xs:annotation>
					<xs:documentation>Действующая процентная ставка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFASSDWrongData">
				<xs:annotation>
					<xs:documentation>Валюта выдачи</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFEffectiveRateMin">
				<xs:annotation>
					<xs:documentation>Ставка с учетом комиссий, % годовых</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="SBRFDelayDate">
				<xs:annotation>
					<xs:documentation>Дата отсрочки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			
		</xs:all>
		
			<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>

</xs:complexType>
	
<xs:complexType name="Rating">
		<xs:annotation>
			<xs:documentation>Рейтинги</xs:documentation>
		</xs:annotation>
		<xs:all>
			
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation># (Идентификатор записи)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Status">
				<xs:annotation>
					<xs:documentation>Статус</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="FinalRating" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Итоговый рейтинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="IntermediateRating" type="SiebelNumber">
				<xs:annotation>
					<xs:documentation>Предварительный рейтинг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Type">
				<xs:annotation>
					<xs:documentation>Тип рейтинга</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Project">
				<xs:annotation>
					<xs:documentation>Проект</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="StatusChangeDate" type="SiebelDateTime">
				<xs:annotation>
					<xs:documentation>Установлен</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="ModelIntegrationId">
				<xs:annotation>
					<xs:documentation>Код интеграции модели</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ListOfRatingTeamRating">
				<xs:annotation>
					<xs:documentation>Рейтинг члена команды
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="RatingTeamRating"
							type="RatingTeamRating" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
		</xs:all>

	<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>
	</xs:attribute>

</xs:complexType>

<xs:complexType name="RatingTeamRating">
		<xs:annotation>
			<xs:documentation>Рейтинг члена команды</xs:documentation>
		</xs:annotation>
		<xs:all>
			
			<xs:element name="Id">
				<xs:annotation>
					<xs:documentation>Идентификатор записи в CRM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Updated" type="SiebelDateTime">
				<xs:annotation>
					<xs:documentation>Дата/время последнего изменения записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="RoleForCalc">
				<xs:annotation>
					<xs:documentation>Роль</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="PrimaryCalculateType">
				<xs:annotation>
					<xs:documentation>Тип рейтинга</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="ListOfRatingCalVal">
				<xs:annotation>
					<xs:documentation>Список рассчитанных значений рейтинга
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="RatingCalVal"
							type="RatingCalVal" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
						
		</xs:all>
		
	<xs:attribute name="Current" type="SiebelBoolean" use="required">
		<xs:annotation>
			<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>

</xs:complexType>

<xs:complexType name="RatingCalVal">
		<xs:annotation>
			<xs:documentation>Рассчитанное значение рейтинга</xs:documentation>
		</xs:annotation>
		<xs:all>
			
			<xs:element minOccurs="0" name="Updated" type="SiebelDateTime">
				<xs:annotation>
					<xs:documentation>Дата/время последнего изменения записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name">
				<xs:annotation>
					<xs:documentation>Идентификатор записи в CRM</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" name="Value">
				<xs:annotation>
					<xs:documentation>Роль</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>			
						
		</xs:all>
		
		<xs:attribute name="Current" type="SiebelBoolean" use="required">
			<xs:annotation>
				<xs:documentation>Флаг, означающий, что данная запись была выбрана в
					интерфейсе при вызове интеграции
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>

</xs:complexType>

</xs:schema>