mock-example/src/main/webapp/WEB-INF/xsd/CRM/Schemas/R1.0/asp-crm-data-types.xsd

<?xml version = "1.0" encoding="UTF-8"?>
<!--  
   Generated 14 января 2016 г. 12:35:03 by PowerDesigner Tools
   Model AttendingSalaryContract-CRMInt
   Author sbt-alekseev-va
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:dt="http://sbrf.ru/ASP/ESB/dataTypes/"
  xmlns:st="http://sbrf.ru/ASP/ESB/simpleTypes/" 
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  targetNamespace="http://sbrf.ru/ASP/CRM/dataTypes/"
  xmlns:tns="http://sbrf.ru/ASP/CRM/dataTypes/">
  
  <xsd:import namespace="http://sbrf.ru/ASP/ESB/dataTypes/" schemaLocation="../../../commonTypes/dataTypes.xsd"/>
  
  <xsd:import namespace="http://sbrf.ru/ASP/ESB/simpleTypes/" schemaLocation="../../../commonTypes/simpleTypes.xsd"/>
  
  <xsd:complexType name="ClientContact">
   <xsd:annotation>
   <xsd:documentation>Контакт клиента</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Идентификатор-->
   <xsd:element name="UID">
    <xsd:annotation>
    <xsd:documentation>Идентификатор</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="36"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Фамилия-->
   <xsd:element name="lastName" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Фамилия</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Имя-->
   <xsd:element name="firstName" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Имя</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Отчество-->
   <xsd:element name="middleName" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Отчество</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Должность-->
   <xsd:element name="position" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Должность</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Дата рождения-->
   <xsd:element name="birthDate" type="xsd:date" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Дата рождения</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Рабочий телефон-->
   <xsd:element name="workPhone" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Рабочий телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Мобильный телефон-->
   <xsd:element name="phone" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Мобильный телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Email-->
   <xsd:element name="email" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Email</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ContractService">
   <xsd:annotation>
   <xsd:documentation>Территория обслуживания (ОСБ)</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- ТБ-->
   <xsd:element name="division">
    <xsd:annotation>
    <xsd:documentation>ТБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ОСБ-->
   <xsd:element name="branch">
    <xsd:annotation>
    <xsd:documentation>ОСБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Признак места заключения-->
   <xsd:element name="isRegisterPlace" type="xsd:boolean" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Признак места заключения</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Логин ССЗП-->
   <xsd:element name="loginSAManager" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Логин ССЗП</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PaymentUsed">
   <xsd:annotation>
   <xsd:documentation>Используемый вид зачислений</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Зачисление-->
   <xsd:element name="payment" type="tns:ReferencePaymentType" minOccurs="0">
   <xsd:annotation>
   <xsd:documentation>Зачисление</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="ReferenceAnnualComissionOrder">
   <xsd:annotation>
   <xsd:documentation>Справочник &quot;Порядок взимания комиссии за годовое обслуживание&quot;</xsd:documentation>
   </xsd:annotation>
   <xsd:restriction base="dt:DefString">
   </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ReferenceContractStatus">
   <xsd:annotation>
   <xsd:documentation>Справочник &quot;Статус договора&quot;</xsd:documentation>
   </xsd:annotation>
   <xsd:restriction base="dt:DefString">
    <xsd:maxLength value="30"/>
   </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ReferencePaymentType">
   <xsd:annotation>
   <xsd:documentation>Виды зачислений денежных средств:
    Заработная плата
    Стипендия учащимся
    Пенсия социальная
    Пенсия негосударственных пенсионных фондов (кроме НПФ Сбербанка)
    Пособия и другие выплаты по безработице
    Пособия на детей
    Прочие выплаты
   </xsd:documentation>
   </xsd:annotation>
   <xsd:restriction base="dt:DefString">
   </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ReferenceSalesChannel">
   <xsd:annotation>
   <xsd:documentation>Справочник &quot;Канал продаж&quot;</xsd:documentation>
   </xsd:annotation>
   <xsd:restriction base="dt:DefString">
    <xsd:maxLength value="30"/>
   </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="ReferenceSalesMethod">
   <xsd:annotation>
   <xsd:documentation>Справочник &quot;Метод продаж&quot;</xsd:documentation>
   </xsd:annotation>
   <xsd:restriction base="dt:DefString">
    <xsd:maxLength value="30"/>
   </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="SalaryContract">
   <xsd:annotation>
   <xsd:documentation>Зарплатный договор</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Номер ЗД-->
   <xsd:element name="agreementNumber" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Номер ЗД</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Дата начала действия ЗД-->
   <xsd:element name="fromDate" type="xsd:date" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Дата начала действия ЗД</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Дата окончания договора-->
   <xsd:element name="toDate" type="xsd:date" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>При заключении ДС мы перезатираем дату окончания действия ЗД</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Единый централизованный договор-->
   <xsd:element name="isCentralAgreement" type="xsd:boolean" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Единый централизованный договор</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Оферта-->
   <xsd:element name="isOffer" type="xsd:boolean" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Оферта</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Наличие ТП у клиента-->
   <xsd:element name="isCustomerTP" type="xsd:boolean" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Наличие ТП у клиента</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Порядок взимания комиссии за годовое обслуживание-->
   <xsd:element name="annualComission" type="tns:ReferenceAnnualComissionOrder" minOccurs="0">
   <xsd:annotation>
   <xsd:documentation>Порядок взимания комиссии за годовое обслуживание</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Размер платы за услуги банка по зачислению в своем филиале-->
   <xsd:element name="pay_in" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Размер платы за услуги банка по зачислению в своем филиале</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Размер платы за услуги банка по зачислению в филиалах банка*-->
   <xsd:element name="pay_out" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Размер платы за услуги банка по зачислению в филиалах банка*</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Тарифы за обслуживание-->
   <xsd:element name="paymentTariffs" type="tns:ServiceTariff" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Тарифы за обслуживание</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Используемые виды зачислений-->
   <xsd:element name="paymentTypes" type="tns:PaymentUsed" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Используемые виды зачислений</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Территории обслуживания-->
   <xsd:element name="servicePlaces" type="tns:ContractService" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Территории обслуживания</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Идентификаторы во внешних системах-->
   <xsd:element name="uids" type="st:UID_Type" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Идентификаторы во внешних системах</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Контакты клиента-->
   <xsd:element name="contacts" type="tns:ClientContact" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Контакты клиента</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SalaryDeal">
   <xsd:annotation>
   <xsd:documentation>Сделка CRM</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Идентификатор сделки-->
   <xsd:element name="deal_UID">
    <xsd:annotation>
    <xsd:documentation>Идентификатор сделки</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- План. сумма зачислений в месяц (руб)-->
   <xsd:element name="plannedIncome" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>План. сумма зачислений в месяц (руб)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Плановое кол-во получателей-->
   <xsd:element name="employees" type="xsd:int" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Плановое кол-во получателей</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- ТБ-->
   <xsd:element name="division" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ТБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ОСБ-->
   <xsd:element name="branch" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ОСБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Команда менеджеров-->
   <xsd:element name="teamOfManagers" type="tns:SalaryDealTeamOfManager" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Команда менеджеров</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Клиент-->
   <xsd:element name="client" type="tns:SalaryDealClient">
   <xsd:annotation>
   <xsd:documentation>Клиент</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Метод продаж-->
   <xsd:element name="salesMethod" type="tns:ReferenceSalesMethod">
   <xsd:annotation>
   <xsd:documentation>Метод продаж</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   <!-- Канал продаж-->
   <xsd:element name="salesChannel" type="tns:ReferenceSalesChannel">
   <xsd:annotation>
   <xsd:documentation>Канал продаж</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SalaryDealClient">
   <xsd:annotation>
   <xsd:documentation>Клиент в сделке</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Идентификатор МДМ-->
   <xsd:element name="MDM_ID">
    <xsd:annotation>
    <xsd:documentation>Идентификатор МДМ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="19"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ИНН-->
   <xsd:element name="INN" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ИНН</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- КПП-->
   <xsd:element name="KPP" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>КПП</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- КИО-->
   <xsd:element name="KIO" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>КИО</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Полное наименование-->
   <xsd:element name="fullName" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Полное наименование</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:String">
      <xsd:maxLength value="1024"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Краткое наименование-->
   <xsd:element name="shortName">
    <xsd:annotation>
    <xsd:documentation>Краткое наименование</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:String">
      <xsd:maxLength value="1024"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Резидент/нерезидент-->
   <xsd:element name="isResident" type="xsd:boolean" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Резидент/нерезидент</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- ОКПО-->
   <xsd:element name="OKPO" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ОКПО</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ОКВЭД-->
   <xsd:element name="OKVED" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ОКВЭД</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Тип клиента-->
   <xsd:element name="clientType">
    <xsd:annotation>
    <xsd:documentation>ЮЛ,
    ИП,
    Филиал</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="20"/>
      <xsd:enumeration value = "ЮЛ">
       <xsd:annotation>
        <xsd:documentation>Юридичекое лицо</xsd:documentation>
       </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value = "ИП">
       <xsd:annotation>
        <xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
       </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value = "ФЛ">
       <xsd:annotation>
        <xsd:documentation>Филиал</xsd:documentation>
       </xsd:annotation>
      </xsd:enumeration>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ОГРН-->
   <xsd:element name="OGRN" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ОГРН</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Контакты-->
   <xsd:element name="contacts" type="tns:SalaryDealClientContact" minOccurs="0" maxOccurs="unbounded">
   <xsd:annotation>
   <xsd:documentation>Контакты</xsd:documentation>
   </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SalaryDealClientContact">
   <xsd:annotation>
   <xsd:documentation>Контакт клиента в сделке</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Фамилия-->
   <xsd:element name="lastName">
    <xsd:annotation>
    <xsd:documentation>Фамилия</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Имя-->
   <xsd:element name="firstName">
    <xsd:annotation>
    <xsd:documentation>Имя</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Отчество-->
   <xsd:element name="middleName" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Отчество</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Должность-->
   <xsd:element name="position" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Должность</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Дата рождения-->
   <xsd:element name="birthDate" type="xsd:date" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Дата рождения</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Рабочий телефон-->
   <xsd:element name="workPhone" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Рабочий телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Мобильный телефон-->
   <xsd:element name="phone">
    <xsd:annotation>
    <xsd:documentation>Мобильный телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Email-->
   <xsd:element name="email" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Email</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="SalaryDealTeamOfManager">
   <xsd:annotation>
   <xsd:documentation>Команда менеджеров</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Логин-->
   <xsd:element name="login" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Логин</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Роль-->
   <xsd:element name="role">
    <xsd:annotation>
    <xsd:documentation>Роль</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Фамилия-->
   <xsd:element name="lastName">
    <xsd:annotation>
    <xsd:documentation>Фамилия</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Имя-->
   <xsd:element name="firstName">
    <xsd:annotation>
    <xsd:documentation>Имя</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="50"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Рабочий телефон-->
   <xsd:element name="workPhone" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Рабочий телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="100"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Мобильный телефон-->
   <xsd:element name="phone" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Мобильный телефон</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="100"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Email-->
   <xsd:element name="email" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Email</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- ТБ-->
   <xsd:element name="division" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ТБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="3"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- ОСБ-->
   <xsd:element name="branch" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>ОСБ</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="4"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Подразделение-->
   <xsd:element name="orgUnit" type="dt:DefString" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Подразделение</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ServiceTariff">
   <xsd:annotation>
   <xsd:documentation>Тариф за обслуживание</xsd:documentation>
   </xsd:annotation>
   <xsd:sequence>
   <!-- Тип карты-->
   <xsd:element name="cardType">
    <xsd:annotation>
    <xsd:documentation>Тип карты</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="30"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Наименование типа карты-->
   <xsd:element name="cardTypeName">
    <xsd:annotation>
    <xsd:documentation>Наименование типа карты</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
     <xsd:restriction base="dt:DefString">
      <xsd:maxLength value="100"/>
     </xsd:restriction>
    </xsd:simpleType>
   </xsd:element>
   <!-- Тариф за 1 год обслуживания (ЮЛ)-->
   <xsd:element name="trf_1YEAR_UL" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Тариф за 1 год обслуживания (ЮЛ)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Тариф за последующие  года (ЮЛ)-->
   <xsd:element name="trf_NEXT_YEAR_UL" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Тариф за последующие  года (ЮЛ)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Тариф за 1 год обслуживания (ФЛ)-->
   <xsd:element name="trf_1YEAR_FL" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Тариф за 1 год обслуживания (ФЛ)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   <!-- Тариф за последующие  года (ФЛ)-->
   <xsd:element name="trf_NEXT_YEAR_FL" type="xsd:decimal" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>Тариф за последующие  года (ФЛ)</xsd:documentation>
    </xsd:annotation>
   </xsd:element>
   </xsd:sequence>
  </xsd:complexType>

</xsd:schema>