mock-example/src/main/resources/in/PEGAFI/AMRLIRT/AMRLiRT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by KES (SBRF) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!--Описание системных полей сообщений  КСШ-->
    <xsd:element name="RatingCalculateRq" type="RatingCalculateRq_Type">
        <xsd:annotation>
            <xsd:documentation>Расчет рейтинга по сделке/договору - Запрос</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatingCalculateRs" type="RatingCalculateRs_Type">
        <xsd:annotation>
            <xsd:documentation>Расчет рейтинга по сделке/договору - Ответ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatingAdjustRq" type="RatingAdjustRq_Type">
        <xsd:annotation>
            <xsd:documentation>Передача промежуточного скорректированного рейтинга - Запрос</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatingAdjustRs" type="RatingAdjustRs_Type">
        <xsd:annotation>
            <xsd:documentation>Передача промежуточного скорректированного рейтинга - Ответ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatingFinalPDRq" type="RatingFinalPDRq_Type">
        <xsd:annotation>
            <xsd:documentation>Передача итогового рейтинга - Запрос</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RatingFinalPDRs" type="RatingFinalPDRs_Type">
        <xsd:annotation>
            <xsd:documentation>Передача итогового рейтинга - Ответ</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:annotation>
        <xsd:documentation>------------Message Types-----------------------------------</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="RatingCalculateRq_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных входящего сообщения для интерфейса - Расчет рейтинга по сделке/договору</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SPName" type="SPName_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Система-инициатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingRec" type="RatingRec_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Рейтинг</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserInfo" type="UserInfo_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Сотрудник</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FixedFactorRec" type="FixedFactorRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты качественных показателей</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingPeriodRec" type="RatingPeriodRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты периодов в разрезе которых заданы количественные показатели</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingSupportRec" type="RatingSupportRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты субъектов поддержки в разрезе которых заданы показатели субъектов</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SiebelMessage" type="SiebelMessage_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сообщение универсальной интеграции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingCalculateRs_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных для исходящего сообщения для интерфейса - Расчет рейтинга по сделке/договору</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SPName" type="SPName_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Система-инициатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SystemId" type="SystemId_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы, которой адресовано сообщение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="Status_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Статус ответа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ResultRatingRec" type="ResultRatingRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты рассчитанного рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CalculatedFactorRec" type="CalculatedFactorRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты расчётных коэффициентов</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AddParameterRec" type="AddParameterRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Дополнительный возвращаемый параметр</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingAdjustRq_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных входящего сообщения для интерфейса - Передача промежуточного скорректированного рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SPName" type="SPName_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Система-инициатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingAdjust" type="RatingAdjust_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Промежуточный скорректированный рейтинг</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SiebelMessage" type="SiebelMessage_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Сообщение универсальной интеграции</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingAdjustRs_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных для исходящего сообщения для интерфейса - Передача промежуточного скорректированного рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SystemId" type="SystemId_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы, которой адресовано сообщение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="Status_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Статус ответа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AddParameterRec" type="AddParameterRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Дополнительный возвращаемый параметр</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingFinalPDRq_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных входящего сообщения для интерфейса - Передача итогового рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SPName" type="SPName_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Система-инициатор</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingFinalPD" type="RatingFinalPD_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Итоговый рейтинг</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingFinalPDRs_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных для исходящего сообщения для интерфейса - Передача итогового рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RqUID" type="RqUID_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Уникальный идентификатор запроса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RqTm" type="DateTime" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Дата и время передачи сообщения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SystemId" type="SystemId_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор системы, которой адресовано сообщение.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="Status_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Статус ответа</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DefaultProbability" type="DefaultProbability_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Расчитанная вероятность дефолта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AddParameterRec" type="AddParameterRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Дополнительный возвращаемый параметр</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Комплексные типы данных - расширенные-->
    <xsd:complexType name="RatingAdjust_Type">
        <xsd:annotation>
            <xsd:documentation>Промежуточный скорректированный рейтинг</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RatingId" type="RatingId_Type">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор карточки рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Model" type="Model_Type">
                <xsd:annotation>
                    <xsd:documentation>Наименование рейтинговой модели (Сегмент кредитования)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModelIntegrationId" type="ModelIntegrationId_Type">
                <xsd:annotation>
                    <xsd:documentation>Код модели, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CorrectValue" type="CorrectValue_Type">
                <xsd:annotation>
                    <xsd:documentation>Значение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Comments" type="Comments_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Комментарии</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="StatusNew_Type">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdjustmentReason" type="AdjustmentReason_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserInfo" type="UserInfoNew_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingFinalPD_Type">
        <xsd:annotation>
            <xsd:documentation>Итоговый рейтинг</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RatingValue" type="RatingValue_Type">
                <xsd:annotation>
                    <xsd:documentation>Значение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RatingId" type="RatingId_Type">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор карточки рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Model" type="Model_Type">
                <xsd:annotation>
                    <xsd:documentation>Наименование рейтинговой модели (Сегмент кредитования)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModelIntegrationId" type="ModelIntegrationId_Type">
                <xsd:annotation>
                    <xsd:documentation>Код модели, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CorrectValue" type="CorrectValue_Type">
                <xsd:annotation>
                    <xsd:documentation>Значение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Comments" type="Comments_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Комментарии</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" type="StatusNew_Type">
                <xsd:annotation>
                    <xsd:documentation>Статус</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdjustmentReason" type="AdjustmentReason_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UserInfo" type="UserInfoNew_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserInfoNew_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Login" type="Login_Type">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LastName" type="LastName_Type">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstName" type="FirstName_Type">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MiddleName" type="MiddleName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Division" type="Division_Type">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DivisionCode" type="DivisionCode_Type">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="JobTitle" type="JobTitle_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Role" type="Role_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>-</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingRec_Type">
        <xsd:annotation>
            <xsd:documentation>Рейтинг</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="RatingId" type="RatingId_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор карточки рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Model" type="Model_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Наименование рейтинговой модели (Сегмент кредитования)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ModelIntegrationId" type="ModelIntegrationId_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Код модели, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AccountId" type="AccountId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор организации. Передается в случае расчета рейтинга по организации</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="UID" type="UID_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Универсальный идентификатор клиента из MDM</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Account" type="Account_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование организации</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="INN" type="INN_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ИНН организации</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="KPP" type="KPP_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>КПП организации</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="GSZId" type="GSZId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор Группы связанных заемщиков</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="GSZ" type="GSZ_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование Группы связанных заемщиков</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SubjectId" type="SubjectId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Идентификатор субъекта государства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Subject" type="Subject_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование субъекта государства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SubjectOKATO" type="SubjectOKATO_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код ОКАТО субъекта государства</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Project" type="Project_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование проекта</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Сотрудник</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Login" type="Login_Type" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Логин в CRM</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PersonName" type="PersonName_Type">
                <xsd:annotation>
                    <xsd:documentation>ФИО сотрудника</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Division" type="Division_Type">
                <xsd:annotation>
                    <xsd:documentation>Подразделение сотрудника</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DivisionCode" type="DivisionCode_Type">
                <xsd:annotation>
                    <xsd:documentation>Код подразделения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="JobTitle" type="JobTitle_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Должность сотрудника</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Role" type="Role_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Роль сотрудника в команде рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FixedFactorRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты качественных показателей</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Factor" type="Factor_Type">
                <xsd:annotation>
                    <xsd:documentation>Наименование показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FactorIntegrationId" type="FactorIntegrationId_Type">
                <xsd:annotation>
                    <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Group" type="Group_Type">
                <xsd:annotation>
                    <xsd:documentation>Группа показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="Value_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Текстовое значение показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueIntegrationId" type="ValueIntegrationId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код значения показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingPeriodRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты периодов в разрезе которых заданы количественные показатели</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ReportDate" type="ReportDate_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата формирования отчетности</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Period" type="Period_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Период, к которому относится финансовый отчет</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StartDate" type="StartDate_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата начала периода</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="EndDate" type="EndDate_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Дата окончания периода</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PeriodType" type="PeriodType_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Тип периода</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Comments" type="Comments_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Комментарии к заполнению  периода для пользователя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CardinalFactorRec" type="CardinalFactorRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты количественных показателей</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RatingSupportRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты субъектов поддержки в разрезе которых заданы показатели субъектов</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name" type="Name_Type">
                <xsd:annotation>
                    <xsd:documentation>Тип субъекта поддержки</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IntegrationId" type="IntegrationId_Type">
                <xsd:annotation>
                    <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SupportFactorRec" type="SupportFactorRec_Type" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Атрибуты показателей субъектов поддержки</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CardinalFactorRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты количественных показателей</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Factor" type="Factor_Type">
                <xsd:annotation>
                    <xsd:documentation>Наименование показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FactorIntegrationId" type="FactorIntegrationId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Group" type="Group_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Группа показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NumValue" type="NumValue_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Числовое значение показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SupportFactorRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты показателей субъектов поддержки</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Factor" type="Factor_Type">
                <xsd:annotation>
                    <xsd:documentation>Наименование показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FactorIntegrationId" type="FactorIntegrationId_Type">
                <xsd:annotation>
                    <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Group" type="Group_Type">
                <xsd:annotation>
                    <xsd:documentation>Группа показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="Value_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Текстовое значение показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ValueIntegrationId" type="ValueIntegrationId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Код значения показателя, единый для двух систем</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FreeValue" type="FreeValue_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Произвольное пользовательское значение показателя</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResultRatingRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты рассчитанного рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="IsPrimary" type="IsPrimary_Type">
                <xsd:annotation>
                    <xsd:documentation>Признак основной</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="Name_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование рассчитанного рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="Value_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Значение рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Type" type="Type_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Тип рейтинга</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CalculatedFactorRec_Type">
        <xsd:annotation>
            <xsd:documentation>Атрибуты расчётных коэффициентов</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Code" type="Code_Type">
                <xsd:annotation>
                    <xsd:documentation>Код</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="Name_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="Value_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Значение</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddParameterRec_Type">
        <xsd:annotation>
            <xsd:documentation>Дополнительный возвращаемый параметр</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Order" type="Order_Type">
                <xsd:annotation>
                    <xsd:documentation>Порядковый номер параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" type="Name_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Наименование параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Value" type="Value_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Значение параметра</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Комплексные типы данных - общие-->
    <xsd:complexType name="Status_Type">
        <xsd:annotation>
            <xsd:documentation>Статус ответа</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="StatusCode" type="StatusCode_Type">
                <xsd:annotation>
                    <xsd:documentation>Статусный код возврата</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StatusDesc" type="StatusDesc_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание статуса</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServerStatusDesc" type="ServerStatusDesc_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Исходное описание ошибки из внешней системы (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="BankInfo_Type">
        <xsd:annotation>
            <xsd:documentation>Реквизиты отделения Банка
            </xsd:documentation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="BranchDescription" type="BranchDescription_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Описание подразделения</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BranchId" type="BranchId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер филиала.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AgencyId" type="AgencyId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер отделения.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RegionId" type="RegionId_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Номер террбанка.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RbTbBrchId" type="RbTbBrchType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>8-ный код территориального банка, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="RbBrchId" type="RbBrchType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>6-ный код территориального банка, в котором ведется продукт клиента (кредит, вклад, ОМС, карты)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Currency_Type">
        <xsd:annotation>
            <xsd:documentation>Валюта (в том числе клиринговые валюты и валюты ЭВС)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Code">
                <xsd:annotation>
                    <xsd:documentation>Буквенно-цифровой код валюты  согласно Общероссийскому классификатору валют (Доллары США -840 , Евро -978  и т.д.)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="NameRus">
                <xsd:annotation>
                    <xsd:documentation>Наименование валюты (рус.)</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="C">
                        <xsd:maxLength value="255"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonName_Type">
        <xsd:annotation>
            <xsd:documentation>Имя физического лица "PersonName"
            </xsd:documentation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FullName" type="FullName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>ФИО</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LastName" type="LastName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Фамилия.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FirstName" type="FirstName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Имя.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MiddleName" type="MiddleName_Type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Отчество.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Простые типы данных -->
    <xsd:simpleType name="SiebelMessage_Type">
        <xsd:annotation>
            <xsd:documentation>Сообщение универсальной интеграции</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C"/>
    </xsd:simpleType>
    <xsd:simpleType name="IntegrationId_Type">
        <xsd:annotation>
            <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Role_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="JobTitle_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="300"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DivisionCode_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Division_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Login_Type">
        <xsd:annotation>
            <xsd:documentation>Логин</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AdjustmentReason_Type">
        <xsd:annotation>
            <xsd:documentation>-</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusNew_Type">
        <xsd:annotation>
            <xsd:documentation>Статус</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="CorrectValue_Type">
        <xsd:annotation>
            <xsd:documentation>Значение</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
            <xsd:pattern value="^(-?\d+(,\d+)?)?$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RatingValue_Type">
        <xsd:annotation>
            <xsd:documentation>Значение</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
            <xsd:pattern value="^(-?\d+(,\d+)?)?$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DefaultProbability_Type">
        <xsd:annotation>
            <xsd:documentation>Расчитанная вероятность дефолта</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
            <xsd:pattern value="^(-?\d+(,\d+)?)?$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FreeValue_Type">
        <xsd:annotation>
            <xsd:documentation>Произвольное пользовательское значение показателя</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ReportDate_Type">
        <xsd:annotation>
            <xsd:documentation>Дата формирования отчетности</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Period_Type">
        <xsd:annotation>
            <xsd:documentation>Период, к которому относится финансовый отчет</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StartDate_Type">
        <xsd:annotation>
            <xsd:documentation>Дата начала периода</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="EndDate_Type">
        <xsd:annotation>
            <xsd:documentation>Дата окончания периода</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="PeriodType_Type">
        <xsd:annotation>
            <xsd:documentation>Тип периода</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Comments_Type">
        <xsd:annotation>
            <xsd:documentation>Комментарии к заполнению  периода для пользователя</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ValueIntegrationId_Type">
        <xsd:annotation>
            <xsd:documentation>Код значения показателя, единый для двух систем</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="INN_Type">
        <xsd:annotation>
            <xsd:documentation>ИНН организации</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="KPP_Type">
        <xsd:annotation>
            <xsd:documentation>КПП организации</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GSZId_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор Группы связанных заемщиков</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="GSZ_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование Группы связанных заемщиков</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SubjectId_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор субъекта государства</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Subject_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование субъекта государства</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SubjectOKATO_Type">
        <xsd:annotation>
            <xsd:documentation>Код ОКАТО субъекта государства</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Project_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование проекта</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Account_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование организации</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UID_Type">
        <xsd:annotation>
            <xsd:documentation>Универсальный идентификатор клиента из MDM</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AccountId_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор организации. Передается в случае расчета рейтинга по организации</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ModelIntegrationId_Type">
        <xsd:annotation>
            <xsd:documentation>Код модели, единый для двух систем</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Model_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование рейтинговой модели (Сегмент кредитования)</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="100"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RatingId_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор карточки рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Code_Type">
        <xsd:annotation>
            <xsd:documentation>Код</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SystemId_Type">
        <xsd:annotation>
            <xsd:documentation>Идентификатор системы, которой адресовано сообщение</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="NumValue_Type">
        <xsd:annotation>
            <xsd:documentation>Числовое значение показателя</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Group_Type">
        <xsd:annotation>
            <xsd:documentation>Группа показателя</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FactorIntegrationId_Type">
        <xsd:annotation>
            <xsd:documentation>Код показателя, единый для двух систем</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Factor_Type">
        <xsd:annotation>
            <xsd:documentation>Порядковый номер параметра</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Order_Type">
        <xsd:annotation>
            <xsd:documentation>Порядковый номер параметра</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
            <xsd:pattern value="^(-?\d+(,\d+)?)?$"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Type_Type">
        <xsd:annotation>
            <xsd:documentation>Тип рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Value_Type">
        <xsd:annotation>
            <xsd:documentation>Значение рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Name_Type">
        <xsd:annotation>
            <xsd:documentation>Наименование рассчитанного рейтинга</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IsPrimary_Type">
        <xsd:annotation>
            <xsd:documentation>Признак основной</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RbBrchType">
        <xsd:annotation>
            <xsd:documentation>Тип данных для 6-значного кода территориального банка. Используется для передачи кода ТБ, в котором обслуживается продукт клиента</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:length value="6"/>
            <xsd:pattern value="[0-9]{6}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RbTbBrchType">
        <xsd:annotation>
            <xsd:documentation>Тип данных для 8-значного кода территориального банка. Используется для передачи кода ТБ, в котором открыт счет МБК, по которой клиент произвел идентификацию на УС</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:length value="8"/>
            <xsd:pattern value="[0-9]{8}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IssuedBy_Type">
        <xsd:annotation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdNum_Type">
        <xsd:annotation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdSeries_Type">
        <xsd:annotation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdType_Type">
        <xsd:annotation>
            <xsd:documentation>Тип документов, удостоверяющих личность</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Gender_Type">
        <xsd:annotation>
            <xsd:documentation/>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="TaxId_Type">
        <xsd:annotation>
            <xsd:documentation>Тип данных "ИНН".Элемент может содержать 10 или 12 символов</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ServerStatusCode_Type">
        <xsd:annotation>
            <xsd:documentation>
                Статусный код сервера. Это значение выдается пользователю на экран и позволяет провайдеру лучше диагностировать ошибку.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusCode_Type">
        <xsd:annotation>
            <xsd:documentation>
                Статусный код возврата.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Long"/>
    </xsd:simpleType>
    <xsd:simpleType name="StatusDesc_Type">
        <xsd:annotation>
            <xsd:documentation>
                Описание статуса.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OperUID_Type">
        <xsd:annotation>
            <xsd:documentation>Уникальный идентификатор операции</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="UUID"/>
    </xsd:simpleType>
    <xsd:simpleType name="RqUID_Type">
        <xsd:annotation>
            <xsd:documentation>
                Идентификатор запроса.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="32"/>
            <xsd:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="SPName_Type">
        <xsd:annotation>
            <xsd:documentation>
                Система-иницатор
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Identifier"/>
    </xsd:simpleType>
    <xsd:simpleType name="Summa_Type">
        <xsd:annotation>
            <xsd:documentation>
                Сумма
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="100"/>
            <xsd:pattern value="(\+|\-)?[0-9]*\.?[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="RegionId_Type">
        <xsd:annotation>
            <xsd:documentation>
                Номер ТБ
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="AgencyId_Type">
        <xsd:annotation>
            <xsd:documentation>Номер ОСБ</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="4"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BranchDescription_Type">
        <xsd:annotation>
            <xsd:documentation>Описание подразделения</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="BranchId_Type">
        <xsd:annotation>
            <xsd:documentation>Номер ВСП</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FullName_Type">
        <xsd:annotation>
            <xsd:documentation>
                ФИО
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="1024"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LastName_Type">
        <xsd:annotation>
            <xsd:documentation>
                Фамилия.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FirstName_Type">
        <xsd:annotation>
            <xsd:documentation>Имя пользователя. Имя в составе ФИО.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MiddleName_Type">
        <xsd:annotation>
            <xsd:documentation>Отчество.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Строковые типы данных -->
    <xsd:simpleType name="C">
        <xsd:annotation>
            <xsd:documentation>Строковый тип с поддержкой русского языка в кодировке UTF-8.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="NC">
        <xsd:annotation>
            <xsd:documentation>Строковый тип в кодировке ISO Latin-1.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="Identifier">
        <xsd:annotation>
            <xsd:documentation>Идентификатор.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NC">
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="UUID">
        <xsd:annotation>
            <xsd:documentation>Уникальный 16 байтовый идентификатор. Для обмена в рамках интеграционных проектов Сбербанка представляется набором из 32 символов без разделителей в шестнадцатиричной системе.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="NC">
            <xsd:maxLength value="32"/>
            <xsd:pattern value="([0-9]|[a-f]|[A-F]){32}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Конец строковых типов данных -->
    <!-- Логические типы данных -->
    <xsd:simpleType name="Boolean">
        <xsd:annotation>
            <xsd:documentation>Логический тип.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <!-- Конец логических типов данных -->
    <!-- Числовые типы данных -->
    <xsd:simpleType name="Integer">
        <xsd:annotation>
            <xsd:documentation>Целое число.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:integer"/>
    </xsd:simpleType>
    <xsd:simpleType name="Long">
        <xsd:annotation>
            <xsd:documentation>Длинное число.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Decimal">
        <xsd:annotation>
            <xsd:documentation>Десятичный тип.	</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:pattern value="(\+|\-)?[0-9]*\.?[0-9]*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Конец числовых типов данных -->
    <!-- Дата и время -->
    <xsd:simpleType name="Date">
        <xsd:annotation>
            <xsd:documentation>Дата</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="DateTime">
        <xsd:annotation>
            <xsd:documentation>Дата и время</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="Timestamp">
        <xsd:annotation>
            <xsd:documentation>Отметка времени</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="Time">
        <xsd:annotation>
            <xsd:documentation>Время</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
    <!-- Конец даты и времени -->
    <!-- Перечислимые типы -->
    <xsd:simpleType name="ClosedEnum">
        <xsd:annotation>
            <xsd:documentation>Закрытое перечисление. Перечисление содержит	конечный набор допустимых значений. Другие значения не допустимы. Обнаружении значения,	не входящего	в набор допустимых значений,	трактуется как ошибка в любом узле				системы на любом этапе обработки
                сообщения.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="OpenEnum">
        <xsd:annotation>
            <xsd:documentation>Открытое перечисление. Перечисление содержит конечный набор рекомендуемых значений. Допустимы значения, не входящие в рекомендуемый набор. Интепретация корректности значения осуществляется автором и конечным получателем. Промежуточные узлы не осуществляют проверку и считают значение всегда корректным.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="C">
            <xsd:maxLength value="80"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- Конец перечислимых данных -->
    <!-- Бинарные типы данных -->
    <xsd:complexType name="Binary">
        <xsd:annotation>
            <xsd:documentation>Агрегат для хранения бинарных данных.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ContentType" type="ContentType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Тип данных.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BinLength" type="BinLength">
                <xsd:annotation>
                    <xsd:documentation>Длина данных.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="BinData" type="BinData">
                <xsd:annotation>
                    <xsd:documentation>Бинарные данные.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="ContentType">
        <xsd:annotation>
            <xsd:documentation>Открытое перечисление. Соответствует стандарту IETF RFC 2046.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="OpenEnum"/>
    </xsd:simpleType>
    <xsd:simpleType name="BinData">
        <xsd:annotation>
            <xsd:documentation>Бинарные данные.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:base64Binary"/>
    </xsd:simpleType>
    <xsd:simpleType name="BinLength">
        <xsd:annotation>
            <xsd:documentation>Длина бинарных данных.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Long"/>
    </xsd:simpleType>
    <xsd:simpleType name="ServerStatusDesc_Type">
        <xsd:annotation>
            <xsd:documentation>Исходное описание ошибки из внешней системы (заполняется только при значении StatusCode, отличном от 0.</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
