mock-example/src/main/webapp/WEB-INF/data/CBBOL/xsd/SrvPutRemoteLegalAccOperAppRqRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://sbrf.ru/prpc/bbmo/10/SrvPutRemoteLegalAccOperAppRq/Data/"
            xmlns:tns="http://sbrf.ru/prpc/bbmo/10/SrvPutRemoteLegalAccOperAppRq/Data/"
            xmlns:st="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
            xmlns:ct="http://sbrf.ru/prpc/bbmo/commonTypes/10"
            xmlns:dt="http://sbrf.ru/prpc/bbmo/dataTypes/10"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://sbrf.ru/prpc/bbmo/10/SrvPutRemoteLegalAccOperAppRq/Data/"
            elementFormDefault="qualified">
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/dataTypes/10"
               schemaLocation="../../../xsd/CBBOL/commonTypes/dataTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/simpleTypes/10"
               schemaLocation="../../../xsd/CBBOL/commonTypes/simpleTypes.xsd"/>
   <xsd:import namespace="http://sbrf.ru/prpc/bbmo/commonTypes/10"
               schemaLocation="../../../xsd/CBBOL/commonTypes/commonTypes.xsd"/>
   <xsd:complexType name="Header">
      <xsd:annotation>
         <xsd:documentation>Заголовок сообщения</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence xmlns="">
         <xsd:element name="KD4SoapHeaderV2" type="dt:String" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AsyncHeader">
            <xsd:annotation>
               <xsd:documentation>Заголовок SOAP-сообщения</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Уникальный идентификатор сообщения, передаваемого в рамках SOAP-пакета</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="request-time" type="dt:DateTime" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Системное время при отправке сообщения АС-отправителем с учетом временной зоны</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="correlation-id" type="st:UUID" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор корреляции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="eis-name" type="st:SystemName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы инициатора запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="system-id"
                               type="st:SystemName_Type"
                               minOccurs="0"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор системы получателя запроса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-name" type="st:OperationName_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Название операции вызываемого сервиса</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="operation-version" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Версия операции</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-id" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Идентификатор пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="user-name" type="dt:DefString" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Полное ФИО пользователя в системе инициаторе запроса/ответа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="proc-inst-tb" type="st:TB_Type" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Код ТБ</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:any namespace="##other"
                           processContents="lax"
                           minOccurs="0"
                           maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>Точка расширения заголовка (не используется, добавлено на персективу)</xsd:documentation>
                     </xsd:annotation>
                  </xsd:any>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="data" type="dataValue"/>
   <xsd:complexType name="dataValue">
      <xsd:sequence>
         <xsd:element name="request"
                      type="tns:SrvPutRemoteLegalAccOperAppRq"
                      maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>Ответ на запрос</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SrvPutRemoteLegalAccOperAppRq">
      <xsd:complexContent>
         <xsd:extension base="ct:DataProcessingRequest">
            <xsd:sequence>
               <xsd:element name="SoapHeader" type="tns:Header" minOccurs="0"/>
               <xsd:element name="RemoteClient" minOccurs="0" type="dt:Boolean">
                  <xsd:annotation>
                     <xsd:documentation>Признак удалённого создания клиента</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="RemoteSystemId" minOccurs="0" type="dt:String">
                  <xsd:annotation>
                     <xsd:documentation>Система источник запрос в ЕКС</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="IsAdditionalAccount" minOccurs="0" type="dt:Boolean">
                  <xsd:annotation>
                     <xsd:documentation>Признак дополнительного или основного счета</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="IsBankCardProcessing" minOccurs="0" type="dt:Boolean">
                  <xsd:annotation>
                     <xsd:documentation>Признак формирования банковской карточки клиента</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ClientReferenceData" type="tns:ClientReferenceData">
                  <xsd:annotation>
                     <xsd:documentation>Справочные данные клиента</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="LegalPersonApplication" type="tns:LegalPersonApplication">
                  <xsd:annotation>
                     <xsd:documentation>Заявление юридического лица</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DocumentsInfo" type="tns:DocumentsInfo">
                  <xsd:annotation>
                     <xsd:documentation>Информация по каталогу документов</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name"/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="LegalPersonApplication">
      <xsd:annotation>
         <xsd:documentation>Заявление юридического лица</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ApplicationId" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>ID заявления (не используется, добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OperationType" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Тип операции (не используется, добавлено на перспективу)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientId" minOccurs="0" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>ID клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxId" type="st:TaxId_Type">
            <xsd:annotation>
               <xsd:documentation>ИНН Клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CustomerFullName" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Полное наименование клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BankSubdivision" type="tns:BankSubdivision">
            <xsd:annotation>
               <xsd:documentation>Подразделение
Справочник подразделений Банка</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="InitDate" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата инициации заявления</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementIdentifier" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Идентификатор договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementNumber" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Номер договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MainAccountNumber" minOccurs="0" type="st:AccountNumber_Type">
            <xsd:annotation>
               <xsd:documentation>Номер основного счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxRegReasonCode"
                      minOccurs="0"
                      type="st:TaxRegReasonCode_Type">
            <xsd:annotation>
               <xsd:documentation>КПП клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BarCode" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Штрих-код</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NaturalPersonWithAuthority">
      <xsd:annotation>
         <xsd:documentation>Физическое, должностное лицо и учредитель</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="RKOCode" minOccurs="0" type="dt:DefInteger">
            <xsd:annotation>
               <xsd:documentation>Код физического лица в РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SeqNumber" minOccurs="0" type="dt:DefInteger">
            <xsd:annotation>
               <xsd:documentation>Последовательный номер физ.лица</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RelationToClient">
            <xsd:annotation>
               <xsd:documentation>Отношение к клиенту
Принимает значения:
1 – Руководитель; 
2 – Гл.Бухгалтер; 
3 – ИП;
4 – выгодоприобретатель;
5 – прочее.
</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LastName">
            <xsd:annotation>
               <xsd:documentation>Фамилия</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FirstName">
            <xsd:annotation>
               <xsd:documentation>Имя</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MiddleName" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Отчество</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="LastNameInGenitiveCase" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Фамилия в родительном падеже</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FirstNameInGenitiveCase" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Имя в родительном падеже</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MiddleNameInGenitiveCase" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Отчество в родительном падеже</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="LastNameInEnglish" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Фамилия на английском</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FirstNameInEnglish" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Имя на английском</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="MiddleNameInEnglish" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Отчество на английском</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Sex" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Пол
                            1 - мужской
                            2 - женский
                            3 - не указан
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="BirthDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата рождения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BirthPlace" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Место рождения</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Nationality" minOccurs="0" type="st:SSM_Type">
            <xsd:annotation>
               <xsd:documentation>Гражданство</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Resident" minOccurs="0" type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Признак резидента
                            Принимает значения:
                            1 – резидент
                            0 – нерезидент
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxResidentChangeDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата изменения налоговой резидентности</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxId" minOccurs="0" type="st:TaxId_Type">
            <xsd:annotation>
               <xsd:documentation>ИНН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SocialStatusType" minOccurs="0" type="xsd:int">
            <xsd:annotation>
               <xsd:documentation>Вид социального статуса</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IdentityDocument"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:IdentityDocument"/>
         <xsd:element name="ClientAddress"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ClientAddress">
            <xsd:annotation>
               <xsd:documentation>Адреса клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientContact"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ClientContact">
            <xsd:annotation>
               <xsd:documentation>Контакты клиента</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AuthorityBase" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Основание полномочий</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="DocumentActAuthority" minOccurs="0" type="dt:DefString">
                     <xsd:annotation>
                        <xsd:documentation>Действует на основании</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DocumentSeriesNumber" minOccurs="0" type="dt:DefString">
                     <xsd:annotation>
                        <xsd:documentation>Серия и номер документа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="DocumentDate" minOccurs="0" type="dt:Date">
                     <xsd:annotation>
                        <xsd:documentation>Дата документа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="OfficailInfo" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Информация о должности</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="BasedOnDocument" minOccurs="0" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation>Действует на основании документа</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BasedOnDocumentSeries" minOccurs="0" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation>Серия документа-основания полномочий</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="BasedOnDocumentNumber" minOccurs="0" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation>Номер документа-основания полномочий</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="TrusteeSign" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Признак доверенного лица</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="OperationType" minOccurs="0" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation>Вид операций</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="AccountNumber" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Номер счета</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="Comment" minOccurs="0">
                     <xsd:annotation>
                        <xsd:documentation>Комментарий</xsd:documentation>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ClientReferenceData">
      <xsd:annotation>
         <xsd:documentation>Справочные данные клиента</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ClientInformation" minOccurs="0" type="tns:ClientInformation">
            <xsd:annotation>
               <xsd:documentation>Информация о клиенте</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="naturalPerson"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:NaturalPersonWithAuthority">
            <xsd:annotation>
               <xsd:documentation>Физическое лицо</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="LegalPersonBankAccountAgreement"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:LegalPersonBankAccountAgreement">
            <xsd:annotation>
               <xsd:documentation>Договор банковского счета юридического лица</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SignPatternCard"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:SignPatternCard">
            <xsd:annotation>
               <xsd:documentation>Карточка с образцами подписей</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ClientInformation">
      <xsd:annotation>
         <xsd:documentation>Информация о клиенте</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Identifiers" type="tns:Identifiers">
            <xsd:annotation>
               <xsd:documentation>Идентификаторы</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SpecialData" type="tns:SpecialData">
            <xsd:annotation>
               <xsd:documentation>Спец. данные</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MainDetails" type="tns:MainDetails">
            <xsd:annotation>
               <xsd:documentation>Основные реквизиты</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="FounderLegalPerson"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:FounderLegalPerson"/>
         <xsd:element name="BankSubdivision" minOccurs="0" type="tns:BankSubdivision">
            <xsd:annotation>
               <xsd:documentation>Подразделение
                            Справочник подразделений Банка
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientAddress"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ClientAddress"/>
         <xsd:element name="ClientContact"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ClientContact"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MainDetails">
      <xsd:annotation>
         <xsd:documentation>Основные реквизиты</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Registration" type="tns:Registration">
            <xsd:annotation>
               <xsd:documentation>Регистрация</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxInspectorateInfo"
                      minOccurs="0"
                      type="tns:TaxInspectorateInfo">
            <xsd:annotation>
               <xsd:documentation>Налоговая инспекция</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RosstatCodes" minOccurs="0" type="tns:RosstatCodes">
            <xsd:annotation>
               <xsd:documentation>Коды Росстата</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RosstatCodes">
      <xsd:annotation>
         <xsd:documentation>Коды Росстата</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="OKATO" minOccurs="0" type="st:OKATO_Type">
            <xsd:annotation>
               <xsd:documentation>ОКАТО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKPO" minOccurs="0" type="st:OKPO_Type">
            <xsd:annotation>
               <xsd:documentation>ОКПО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKFS" minOccurs="0" type="st:OKFS_Type">
            <xsd:annotation>
               <xsd:documentation>ОКФС</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKOGU" minOccurs="0" type="st:OKOGU_Type">
            <xsd:annotation>
               <xsd:documentation>ОКОГУ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKONH"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="st:OKONH_Type">
            <xsd:annotation>
               <xsd:documentation>ОКОНХ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKOPF" minOccurs="0" type="st:OKOPF_Type">
            <xsd:annotation>
               <xsd:documentation>ОКОПФ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKVED"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="st:OKVED_Type">
            <xsd:annotation>
               <xsd:documentation>ОКВЭД</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FounderLegalPerson">
      <xsd:annotation>
         <xsd:documentation>Учредитель (Юр.лицо)</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ClientName" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Полное наименование</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="KPP" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>КПП</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxID" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>ИНН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxRegistrationDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>дата регистрации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxCertificateSeries" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>серия свид-ва</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxCertificateNumber" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>№ свид-ва</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxAuthority" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>налоговый орган</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRN" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>ОГРН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNRegistrationDate" minOccurs="0" type="xsd:date">
            <xsd:annotation>
               <xsd:documentation>дата регистрации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNSeries" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>серия свид-ва</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNNumber" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>№ свид-ва</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNAuthority" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>регистрирующий орган</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientAddress" minOccurs="0" type="tns:ClientAddress"/>
         <xsd:element name="LegalCapitalPercent" minOccurs="0" type="xsd:decimal">
            <xsd:annotation>
               <xsd:documentation>Процент уставного фонда</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TaxInspectorateInfo">
      <xsd:annotation>
         <xsd:documentation>Налоговая инспекция</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="RegistrationSertificateNumber" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Серия и номер свидетельства о постановке на учет</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="11"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TaxId" minOccurs="0" type="st:TaxId_Type">
            <xsd:annotation>
               <xsd:documentation>ИНН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxRegReasonCode"
                      minOccurs="0"
                      type="st:TaxRegReasonCode_Type">
            <xsd:annotation>
               <xsd:documentation>КПП</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="KIO" minOccurs="0" type="st:KIO_Type">
            <xsd:annotation>
               <xsd:documentation>КИО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxInspectorate" minOccurs="0" type="dt:DefPosInteger">
            <xsd:annotation>
               <xsd:documentation>Налоговая инспекция
                            Выбор из справочника «Налоговые инспекции»
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RegistrationDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата постановки на учет</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Registration">
      <xsd:annotation>
         <xsd:documentation>Регистрация</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="OGRN" minOccurs="0" type="st:StateRegPrimeNum_Type">
            <xsd:annotation>
               <xsd:documentation>ОГРН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNAssignDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата присвоения ОГРН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OGRNIssueDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата выдачи ОГРН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ShortName">
            <xsd:annotation>
               <xsd:documentation>Краткое наименование</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="160"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FullName">
            <xsd:annotation>
               <xsd:documentation>Полное наименование</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="300"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ShortNameInEnglish" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Английское написание краткого имени</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="80"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FullNameInEnglish" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Английское написание полного имени</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RegistrationSertificateNumber" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Серия и номер свидетельства</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="11"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="RegistrationSertificateIssueDate"
                      minOccurs="0"
                      type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата выдачи свидетельства о регистрации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RegistrationAuthority" minOccurs="0" type="dt:DefPosInteger">
            <xsd:annotation>
               <xsd:documentation>Регистрирующий орган
                            Справочник «Регистрирующие органы»
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OldShortName">
            <xsd:annotation>
               <xsd:documentation>Старое краткое наименование</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OldName">
            <xsd:annotation>
               <xsd:documentation>Старое наименование</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OldShortNameInEnglish">
            <xsd:annotation>
               <xsd:documentation>Старое краткое наименование (англ.)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OldNameInEnglish">
            <xsd:annotation>
               <xsd:documentation>Старое полное наименование (англ.)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TermFrom">
            <xsd:annotation>
               <xsd:documentation>Срок действия старого поля с</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TermTill">
            <xsd:annotation>
               <xsd:documentation>Срок действия старого поля по</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DeclaredFound">
            <xsd:annotation>
               <xsd:documentation>Объявленный уставной фонд</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PayedFound">
            <xsd:annotation>
               <xsd:documentation>Оплаченный уставной фонд</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Control">
            <xsd:annotation>
               <xsd:documentation>Органы управления</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Amount">
            <xsd:annotation>
               <xsd:documentation>Численность</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="YearROI">
            <xsd:annotation>
               <xsd:documentation>Годовая выручка</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="From">
            <xsd:annotation>
               <xsd:documentation>С</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Till">
            <xsd:annotation>
               <xsd:documentation>По</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="License">
            <xsd:annotation>
               <xsd:documentation>Лицензия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SpecialData">
      <xsd:annotation>
         <xsd:documentation>Спец. данные</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ClientType">
            <xsd:annotation>
               <xsd:documentation>Тип клиента
                            1 – юридическое лицо
                            2 – индивидуальный предприниматель
                            3 - адвокат
                            4 - нотариус
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Resident" minOccurs="0" type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Признак резидента
                            Принимает значения:
                            1 – резидент
                            0 – нерезидент
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Risk" minOccurs="0" type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Признак наличия риска
                            Принимает значения:
                            1 – есть риск
                            0 – нет риска
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RiskExplanation" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Обоснование риска</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryOfRegistration" minOccurs="0" type="st:SSM_Type">
            <xsd:annotation>
               <xsd:documentation>Страна регистрации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CountryOfAccreditation" minOccurs="0" type="st:SSM_Type">
            <xsd:annotation>
               <xsd:documentation>Страна аккредитации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RepresentedInCountry" minOccurs="0" type="st:SSM_Type">
            <xsd:annotation>
               <xsd:documentation>Представительство</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AuthorizedCapital" minOccurs="0" type="dt:PosFloat">
            <xsd:annotation>
               <xsd:documentation>Уставной капитал</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Identifiers">
      <xsd:annotation>
         <xsd:documentation>Идентификаторы</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ClientId" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>ID клиента в РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="State">
            <xsd:annotation>
               <xsd:documentation>Состояние
                            Активный – 1
                            Неактивный – 2
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CreateDate" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата создания</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CloseDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата закрытия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ClientAddress">
      <xsd:annotation>
         <xsd:documentation>Адрес клиента</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="AddressType">
            <xsd:annotation>
               <xsd:documentation>Принимает значения:
1- Прописка; 
2 – Место жительства; 
5- Почтовый; 
6- Юридический; 
7- Фактический;
8 – ЕГРЮЛ;
9 - Почтовый адрес представительства.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                  <xsd:enumeration value="7"/>
                  <xsd:enumeration value="8"/>
                  <xsd:enumeration value="9"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="UnnormalizedAddress" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Ненормализованный адрес</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Country" minOccurs="0" type="st:SSM_Type">
            <xsd:annotation>
               <xsd:documentation>Страна</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PostalCode" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Почтовый индекс</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="50"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="IdentificationCode" minOccurs="0" type="st:KLADR_Type">
            <xsd:annotation>
               <xsd:documentation>Идентификационный код объекта</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OKATO" minOccurs="0" type="st:OKATO_Type">
            <xsd:annotation>
               <xsd:documentation>Код ОКАТО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RegionType" minOccurs="0" type="st:KLADR_Type">
            <xsd:annotation>
               <xsd:documentation>Тип региона</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Region" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Регион</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AreaType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип района</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Area" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Район</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="60"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="CityType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип города</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="City" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Город</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="100"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="PlaceType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип населенного пункта</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Place" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Населенный пункт</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="StreetType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип улицы</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Street" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Улица</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="50"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="House" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Дом (владение)</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Corpus" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Корпус</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Building" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Строение</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="FlatorOffice" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Квартира/офис</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ClientContact">
      <xsd:annotation>
         <xsd:documentation>Контакт клиента</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ContactCategory">
            <xsd:annotation>
               <xsd:documentation>Категория контакта
                            1 - Телефон
                            2 - Факс
                            3 - Телеграф
                            4 - Телефакс
                            5 - Телетайп
                            6 - Телекс
                            7 - Адрес в сети Интернет
                            8 - E-mail
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
                  <xsd:enumeration value="5"/>
                  <xsd:enumeration value="6"/>
                  <xsd:enumeration value="7"/>
                  <xsd:enumeration value="8"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ContactType" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип контакта
                            1 – Телефон N 1
                            2 – Телефон N 2
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="ContactName" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Наименование контакта</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ContactData" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Значение контактной информации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LegalPersonBankAccountAgreement">
      <xsd:annotation>
         <xsd:documentation>Договор банковского счета юридического лица</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="BankSubdivision" type="tns:BankSubdivision">
            <xsd:annotation>
               <xsd:documentation>Подразделение
                            Справочник подразделений Банка
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientId" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>ID клиента в РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementIdentifier" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Идентификатор договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementNumber" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Номер договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementType" type="dt:DefPosInteger">
            <xsd:annotation>
               <xsd:documentation>Тип договора
                            Справочник типов дого-воров РКО: «Договор РКО рубли», «Договор РКО в валюте», и пр.
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementStatus">
            <xsd:annotation>
               <xsd:documentation>Статус договора
                            1 – действует
                            2 – закрыт
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="AgreementIssueDate" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата заключения договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementCancelDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата расторжения договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="Operator" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>Операционист</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="MainAccountNumber" type="st:AccountNumber_Type">
            <xsd:annotation>
               <xsd:documentation>Номер основного счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AccountBalance" type="dt:PosFloat">
            <xsd:annotation>
               <xsd:documentation>Остаток по счету</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ArrestByAccountPresence" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Наличие ареста по счету (для договора РКО)
                            1 – По дебету
                            2 – Полный
                            3 – Нет
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="RKOAgreementDetails"
                      minOccurs="0"
                      type="tns:RKOAgreementDetails">
            <xsd:annotation>
               <xsd:documentation>Параметры договора РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="RKOAgreementDetails">
      <xsd:annotation>
         <xsd:documentation>Параметры договора РКО</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="TariffPlan"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:TariffPlan"/>
         <xsd:element name="DetermineTariffs" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Определить тарифы</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TariffGroup" minOccurs="0" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Группа тарифов</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientAccount"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:ClientAccount"/>
         <xsd:element name="PercentCalculationAlgorithm" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Алгоритм начисления %
                            Справочник
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:PosInteger">
                  <xsd:maxLength value="10"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DeterminePercent" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Опредилить %</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PercentRateGroup" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Группа % ставок</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DateBeginPercentRate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата начала действия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DateEndPercentRate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата окончания действия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="PartialRatedPeriodCalculation"
                      minOccurs="0"
                      type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Расчет за неполный расчетный период при открытии счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CurrentRatedPeriodCalculation" type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Расчет, если счет закрывается в текущем периоде</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OpeningReason" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Основание открытия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementUserType" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Пользовательский тип договора
                            Каждый символ контролируется по справочнику
                        </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SignPatternCard">
      <xsd:annotation>
         <xsd:documentation>Карточка с образцами подписей</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="ClientId" minOccurs="0" type="dt:PosInteger">
            <xsd:annotation>
               <xsd:documentation>ID клиента в РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BankSubdivision" minOccurs="0" type="tns:BankSubdivision">
            <xsd:annotation>
               <xsd:documentation>Подразделение банка</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AgreementNumber" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Номер договора</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AccountNumber" minOccurs="0" type="st:AccountNumber_Type">
            <xsd:annotation>
               <xsd:documentation>Номер счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CardType" nillable="true" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Тип карточки
                            1 – Постоянная
                            2 – Временная
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="RegistrationDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата регистрации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ActivationDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата активации</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CloseDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата закрытия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="CardRegistartionMethod" nillable="true" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Способ оформления карточки
                            1 – Нотариально
                            2 – Банком
                            Зарезервировано. В данной версии не используется.
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Sign" maxOccurs="unbounded" type="tns:Sign">
            <xsd:annotation>
               <xsd:documentation>Подпись</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Sign">
      <xsd:annotation>
         <xsd:documentation>Подпись</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="RKONaturalPersonCode" type="dt:DefInteger">
            <xsd:annotation>
               <xsd:documentation>Код физического лица в РКО</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SeqNumber" minOccurs="0" type="dt:DefInteger">
            <xsd:annotation>
               <xsd:documentation>Последовательный номер физ.лица</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SignType">
            <xsd:annotation>
               <xsd:documentation>Тип подписи
                            1 – первая подпись
                            2 – вторая подпись
                        </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Position" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Должность</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AuthorityStartDate" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Дата начала полномочий</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AuthorityEndDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата окончания полномочий</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ClientAccount">
      <xsd:annotation>
         <xsd:documentation>Счет клиента для удержания комиссии</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="AccountNumber" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>Номер счета</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExternalAttribute" minOccurs="0" type="dt:Boolean">
            <xsd:annotation>
               <xsd:documentation>Признак внешнего счета.

Принимает значения:
1 – внешний;
0 – внутренний.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="RecipientName" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Наименование получателя</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxID" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>ИНН</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TaxRegReasonCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>КПП</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BIK" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>БИК банка получателя</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="SWIFTCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>SWIFT код банка посредника</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClearingCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Код клиринга банка посредника</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BankBeneficiarySWIFTCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>SWIFT код банка бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>57D банка бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="BeneficiaryIBANCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>IBAN клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientBeneficiarySWIFTCode" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>SWIFT код клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientBeneficiaryName" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Наименование клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientBeneficiaryTaxID" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>ИНН клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientBeneficaryAddress" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Адрес клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ClientBeneficiaryCountry" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Город, страна клиента бенефициара</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="AccountPurpose" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Назначение счета (Справочник «Назначение счета»)</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="IdentityDocument">
      <xsd:annotation>
         <xsd:documentation>ДУЛ</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="DocumentType" type="dt:DefPosInteger">
            <xsd:annotation>
               <xsd:documentation>Тип документа
                                        ЦАС НСИ «pb_document»
                                    </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentStatus">
            <xsd:annotation>
               <xsd:documentation>Статус документа
                                        0 - не задано
                                        1 - активный
                                        2 - неактивный
                                        3 - с истекшей датой действия
                                    </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:DefPosInteger">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="DocumentSeries" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Серия ДУЛ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="DocumentNumber" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Номер документа</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IssueDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата выдачи</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IssueAuthority" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Кем выдан документ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="IssueAuthorityCode" minOccurs="0" type="dt:DefString">
            <xsd:annotation>
               <xsd:documentation>Код подразделения, выдавшего документ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ExpirationDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Планируемая дата окончания срока действия</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TariffPlan">
      <xsd:annotation>
         <xsd:documentation>Тарифный план</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="TariffPlanCode">
            <xsd:annotation>
               <xsd:documentation>Тарифный план</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
               <xsd:restriction base="dt:String">
                  <xsd:maxLength value="255"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="TariffPlanStartDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата начала </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="TariffPlanEndDate" minOccurs="0" type="dt:Date">
            <xsd:annotation>
               <xsd:documentation>Дата окончания</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BankSubdivision">
      <xsd:annotation>
         <xsd:documentation>Подразделение банка</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="TB" type="st:TB_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ТБ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="OSB" type="st:OSB_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ОСБ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="VSP" type="st:VSP_Type">
            <xsd:annotation>
               <xsd:documentation>Номер ВСП</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DocumentsInfo">
      <xsd:annotation>
         <xsd:documentation>Информация по каталогу документов</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="DocumentLinks"
                      minOccurs="0"
                      maxOccurs="unbounded"
                      type="tns:DocumentLinks">
            <xsd:annotation>
               <xsd:documentation>Каталоги документов</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DocumentLinks">
      <xsd:annotation>
         <xsd:documentation>Каталоги документов</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="DocumentLink" minOccurs="0" type="dt:String">
            <xsd:annotation>
               <xsd:documentation>Ссылка на документ</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
